<div class="modal" tabindex="-1" role="dialog" id="modalRejectTask">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-warning text-white bg-dark">
                    <div class="panel-heading font-weight-bold">
                        <div class="row">
                            <div class="col-md-11 col-sm-10 col-xs-10">
                                Reject task
                            </div>
                            <div class="col-md-1 col-sm-2 col-xs-2 text-right">
                                <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <input type="text" name="reason" id="txtRejectReason" class="form-control"
                                    placeholder="Reject note">
                            </div>

                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <button class="btn btn-sm btn-danger" id="btnSubmitReject">
                                    <i class="fa fa-close"></i> Submit Reject
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#btnSubmitReject').click(function () {
        let remark = $('#txtRejectReason').val();
        $.ajax({
            url: '/sale/task/reject',
            type: 'put',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                taskId,
                remark
            },
            success: function (data) {
                alert(data.msg);
                $('#modalRejectTask').modal('hide');
            },
            error: function (request, status, error) {
                alert(request.responseJSON.msg)
                window.location.href = '/editor/default';
            }
        })
    })
</script>