<div class="row mt-2">
    <div class="col-md-offset-6 col-md-2 col-sm-offset-5 col-sm-3 col-xs-6">
        <select name="" id="slModules" class="form-control"></select>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6 text-right">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Seach job..." id="txtSearch" />
            <div class="input-group-btn">
                <button class="btn btn-info" type="submit" id="btnSearch">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                Check In
            </div>
            <div class="panel-body">
                <div class="tableFixHead table-responsive mt-2">
                    <table class="table mt-1 table-striped bg-white text-dark text-nowrap">
                        <thead class="thead-dark">
                            <tr>                                                     
                                <th scope="col">Username</th>
                                <th scope="col">Fullname</th>
                                <th scope="col">
                                    <input type="checkbox" name="ckbCheckOutAll">
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tblCheckIn">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Check out
            </div>
            <div class="panel-body">
                <div class="tableFixHead table-responsive mt-2">
                    <table class="table mt-1 table-striped bg-white text-dark text-nowrap">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">
                                    <input type="checkbox" name="ckbCheckInAll">
                                </th>
                                <th scope="col">Username</th>
                                <th scope="col">Fullname</th>
                            </tr>
                        </thead>
                        <tbody id="tblCheckOut">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        LoadModules();
        $('#btnCheckIn').hide();
        $('#btnCheckOut').hide();
    })

    function CheckIn(staffId){
        $.ajax({
            url:'/tla/checkin',
            type:'put',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data:{staffId},
            success:function(data){
                LoadStaffs($('#slModules option:selected').val());
            }
        })
    }

    $('#btnSearch').click(function () {
        LoadStaffs($('#slModules option:selected').val());
    })

  
    $('#tblCheckIn').on("click", "button[name='btnCheckOut']", function () {
        let staffId = $(this).closest('tr').attr('id');
        CheckIn(staffId);
    })




    $('#tblCheckOut').on("click", "button[name='btnCheckIn']", function () {
        let staffId = $(this).closest('tr').attr('id');
        CheckIn(staffId);
    })

    function LoadModules() {
        $.ajax({
            url: '/tla/checkin/list-modules',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            success: function (data) {
                data.modules.forEach(m => {
                    $('#slModules').append('<option value="' + m._id + '">' + m.name + '</option>');
                })

                LoadStaffs($('#slModules option:selected').val());
            }

        })
    }

    $('#slModules').on("change", function () {
        LoadStaffs($('#slModules option:selected').val());
    })

    function LoadStaffs(moduleId) {
        $.ajax({
            url: '/tla/checkin/list-staffs-by-module',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: { moduleId },
            success: function (data) {
                $('#tblCheckIn').empty();
                $('#tblCheckOut').empty();

                data.checkOut.forEach(u => {
                    let tr = '<tr id="' + u._id + '">';
                    tr += '<td><button class="btn btn-xs btn-success" name="btnCheckIn"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button></td>';
                    tr += '<td class="font-weight-bold">' + u.username + '</td>';
                    tr += '<td>' + u.fullname + '</td>';
                    tr += '</tr>';
                    $('#tblCheckOut').append(tr);
                })

                data.checkIn.forEach(u => {
                    let tr = '<tr id="' + u._id + '">';
                  
                    tr += '<td class="font-weight-bold">' + u.username + '</td>';
                    tr += '<td>' + u.fullname + '</td>';
                    tr += '<td class="text-right"><button class="btn btn-xs btn-danger" name="btnCheckOut"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></td>';
                    tr += '</tr>';
                    $('#tblCheckIn').append(tr);
                })
            }
        })
    }
</script>

<style>
    button[name="btnCheckIn"]{
        padding-right: 20px !important;
    }
    button[name="btnCheckOut"]{
        padding-left: 20px !important;
    }
</style>