<div class="row">
  <div class="offset-md-9 col-md-3 text-right">
    <!-- Another variation with a button -->
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Seach any job" id="txtSearch" />
      <div class="input-group-btn">
        <button class="btn btn-info" type="submit" id="btnSearch">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive mt-2">
  <table id="jobsTable" data-detail-view="true">
    <thead>
      <tr>
        <th data-field="id" data-align="center" data-width="20px">#</th>
        <th data-field="customer">Customer</th>
        <th data-field="jobname">Job name</th>
        <th data-field="combo">Combo</th>
        <th data-field="receivedate">Receive date</th>
        <th data-field="deliverydate">Delivery date</th>
        <th data-field="ilink">I-link</th>
        <th data-field=""></th>
      </tr>
    </thead>
  </table>
  <br>
  <!--<p>TABLE 2</p>-->
  <table id="tasksTable"></table>
</div>



<nav aria-label="..." class="mt-3">
  <ul class="pagination pagination-sm">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
  </ul>
</nav>

<div id="contextMenu" class="dropdown clearfix">
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
    style="display:block;position:static;margin-bottom:5px;" id="funcMenu">
  </ul>
</div>

<%-include('job-detail-modal')%>


  <script type='text/javascript'
    src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

  <link rel="stylesheet" href="/css/bootstrap-table.min.css">
  <script src="/js/common.js"></script>
  <script src="/js/bootstrap-table.min.js"></script>

  <script>
    var search = "";
    var page = 1;
    var jobId = '';
    var customerId = '';





    $(document).on("click", "button[name='btn-job-functions']", function (e) {
      var $contextMenu = $("#contextMenu");
      $contextMenu.css({
        display: "block",
        left: e.pageX,
        top: e.pageY
      });

      jobId = $(this).closest('tr').attr('id');

      $.ajax({
        url: '/sale/job/detail',
        type: 'get',
        headers: {
          authorization: "Bearer " + localStorage.getItem("accessToken"),
        },
        data: {
          jobId
        },
        success: function (data) {


          $('#funcMenu').empty();
          let mn = '';
          mn = '<li id="submit-task"><a tabindex="-1" href="#"> <i class="fa fa-paper-plane text-success" aria-hidden="true"></i> Q.A ok</a></li>';

          // switch (data.task.status) {
          //     case -1:
          //     case 0:
          //         mn += '<li id="unregister-task"><a tabindex="-1" href="#"> <i class="fa fa-minus text-danger" aria-hidden="true"></i> Unregister</a></li>';
          //         break;
          //     case 1:
          //         mn = '<li id="submit-task"><a tabindex="-1" href="#"> <i class="fa fa-paper-plane text-success" aria-hidden="true"></i> Q.A ok</a></li>';
          //         mn += '<li id="reject-task"><a tabindex="-1" href="#"> <i class="fa fa-ban text-danger" aria-hidden="true"></i> Reject</a></li>';
          //         mn += '<li id="unregister-task"><a tabindex="-1" href="#"> <i class="fa fa-minus text-danger" aria-hidden="true"></i> Unregister</a></li>';
          //         break;

          //     default:
          //         $contextMenu.css({
          //             display: "none"
          //         });
          //         break;

          // }
          $('#funcMenu').append(mn);
        }
      })


      $('html').click(function () {
        $contextMenu.hide();
      });

    });



    $(document).on("click", "button[name='btn-job-info']", function () {
      jobId = $(this).closest("tr").attr("id");
      customerId = $(this).closest("tr").data("customer");
      $('#JobDetailModal').modal();

    })

    $(document).on("click", "button[name='edit-job']", function () {
      jobId = $(this).closest("tr").attr("id");
      $('#updateJobModal').modal();

    })

    $(document).ready(function () {
      LoadJobs();
    });

    $('#updateJobModal').on('hidden.bs.modal', function () {
      LoadJobs();
    })

    $('#btnSearch').click(function () {
      search = $('#txtSearch').val();
      LoadJobs();
    })



    $('#txtSearch').keyup(function (e) {
      if (e.keyCode == 13) {
        $("#btnSearch").click()
      }
    });


    function LoadJobs() {
      $.ajax({
        url: "/accountant/job/list",
        type: "get",
        headers: {
          authorization: "Bearer " + localStorage.getItem("accessToken"),
        },
        data: {
          search,
          page,
        },
        success: function (data) {

          let idx = 1;
          jList = data.jobs.map(j => {
            let el = {};
            el.id = idx++;
            el.customer = j.customer.firstname + ' ' + j.customer.lastname;
            el.jobname = j.name;
            el.combo = typeof j.cb !== 'undefined' ? j.cb.name : '';
            el.receivedate = convertISODateToTimeFormat(j.received_date);
            el.deliverydate = convertISODateToTimeFormat(j.delivery_date);
            el.ilink = j.input_link;
            return el;
          })

          function detailFormatter(index, row, element) {
            $(element).html($('#tasksTable').clone(true).attr('id', "tbl_" + row.id).show());
          }
          //TABLE 1
          $('#jobsTable').bootstrapTable({
            checkboxHeader: true,
            data: jList,
            detailFormatter: detailFormatter,
            columns: [{
              field: 'checked',
              checkbox: true
            }]

          });

          //TABLE 2
          var t2 = [
            {
              "id": "6",
              "task": "bike",
              
            },
            {
              "id": "7",
              "task": "car"
            }
          ];
          $('#tasksTable').bootstrapTable({
            data: t2,
            columns: [{
              field: 'id',
              title: 'id'
            }, {
              field: 'task',
              title: 'task detail'
            }, {
              field: 'status',
              checkbox: true
            }
            ],
            checkboxHeader: false

          });

          $('#tasksTable').on('check.bs.table', function (e, row, $el) {
         
            console.log('check',row);

          });
          $('#tasksTable').on('uncheck.bs.table', function (e, row, $el) {
           
            console.log(row);
          });
          $("#tasksTable").hide();


        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert(jqXHR.responseJSON.msg + ". " + jqXHR.responseJSON.error);
        },
      });
    }


  </script>

  <style>
    #contextMenu {
      position: absolute;
      display: none;
    }

    tr:hover {
      background: #c9e8f7;
      position: relative;
    }
  </style>