<button type="button" class="btn btn-dark" id="btnAddNew">
  <span>
    <i class="fa fa-plus" aria-hidden="true"></i>
  </span>
  Add New
</button>
<table class="table mt-2">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="tblData">
  </tbody>
</table>




<script>

  var styleId = '';

  function LoadStyles() {
    $('#tblData').empty();
    $.ajax({
      url: '/admin/style',
      type: 'get',
      data: {
      },
      success: function (data, textStatus, xhr) {
        let idx = 1;
        data.styles.forEach(style => {
          let tr = '<tr id=' + style._id + ' data-name = ' + style.key + '>';
          tr += '<th scope="row">' + (idx++) + '</th>';
          tr += '<td>' + style.key + '</td>';
          tr += '<td>' + style.value + '</td>';

          tr += '<td class="text-right"><button class="btn btn-sm btn-warning" name="update"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>';
          tr += '<button class="btn btn-sm btn-danger ml-2" name="delete"><i class="fa fa-trash" aria-hidden="true"></i></button></td>';
          tr += '</tr>';
          $('#tblData').append(tr);
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
      }
    })
  }

  $(document).ready(function () {
    $('#btnAddNew').click(function () {
      levelId = '';
      $('#modalStyle').modal();
    });
    LoadStyles();
  });

  //sự kiện modal shown --> set các giá trị mặc định cho component trên form
  $(document).on('show.bs.modal', '.modal', function () {
    $('#txtKey').val('');
    $('#txtValue').val('');
  });

  //sự kiện load lại hàm ds level khi modal đc đóng lại
  $(document).on('hidden.bs.modal', '#modalStyle', function () {
    LoadStyles();
  });


  $(document).on("click", "button[name='delete']", function () {

    var r = confirm("Vui lòng xác nhận xóa style " + $(this).closest("tr").data('name') + "?");
    if (r == true) {
      $.ajax({
        url: '/admin/style',
        type: 'delete',
        headers: {
          authorization: "Bearer " + localStorage.getItem('accessToken'),
        },
        data: {
          id: $(this).closest("tr").attr("id")
        },
        success: function (data, textStatus, xhr) {
          alert(data.msg);
          LoadStyles();
        }, error: function (jqXHR, textStatus, errorThrown) {
          alert(jqXHR.responseJSON.msg);
        }
      })
    }


  });

  $(document).on("click", "button[name='update']", function () {

    styleId = $(this).closest("tr").attr("id");

    $.ajax({
      url: "/admin/style/detail",
      type: "get",
      headers: {
        authorization: "Bearer " + localStorage.getItem('accessToken'),
      },
      data: {
        id: styleId
      },
      success: function (data, textStatus, xhr) {
        $('#modalStyle').modal();
        $('#txtKey').val(data.style.key);
        $('#txtValue').val(data.style.value);
      }, error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
      }
    });

  });
</script>

<%-include('modal')%>