<div class="row mt-2">
    <div class="col-md-offset-8 col-sm-offset-8 col-xs-offset-6 col-md-4 col-sm-4 col-xs-6 text-right">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Seach job..." id="txtSearch" />
            <div class="input-group-btn">
                <button class="btn btn-info" type="submit" id="btnSearch">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="tableFixHead table-responsive mt-2">
    <table class="table mt-1 table-striped bg-white text-dark text-nowrap">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Job name</th>
                <th scope="col">Combo</th>
                <th scope="col">Received date</th>
                <th scope="col">Delivery date</th>
                <th scope="col" colspan="2">Status</th>
            </tr>
        </thead>
        <tbody id="tblData">
        </tbody>
    </table>
</div>

<script src="/js/common.js"></script>
<script>
    var page =1;
    var search = '';
    $(document).ready(function () {
        LoadJobs();
    })
    function LoadJobs() {
        $.ajax({
            url: '/customer/job',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                search,
                page
            },
            success: function (data) {
               
                let idx = 1;
                $('#tblData').empty();
               
                // data.jobs.forEach(job => {
                //     let tr = '<tr id = "' + job._id + '" data-customer="' + job.customer._id + '"  >';

                //     tr += '<td>';
                //     if (job.tasks.length > 0) {
                //         tr += '<button class="btn btn-xs btn-info parents js-view-parents" name="js-view-parents"> (' + job.tasks.length + ') <i class="fa fa-plus"></i></button>';
                //     }
                //     tr += '</td>';


                //     tr += '<td>' + (idx++) + '</td>'


                //     tr += '<td>';
                //     if (job.status == -1 || job.status == 0) {
                //         tr += '<button class="btn btn-xs btn-primary ml-2" name="process-job"><i class="fa fa-bars" aria-hidden="true"></i></button>';
                //     }
                //     tr += '<button class="btn btn-xs btn-warning ml-2" name="btn-upload-job"><i class="fa fa-upload" aria-hidden="true"></i></button>';

                //     tr += '</td>';


                //     tr += '<td class="text-info font-weight-bold">' + getFirstLetters(job.customer.firstname + ' ' + job.customer.lastname) + getLastLetters(job.customer._id) + '</td>';
                //     tr += '<td class="text-warning">' + job.name + '</td>';
                //     tr += '<td class="font-weight-bold text-danger">';

                //     if (job.cb_ticked) {
                //         tr += job.cb.name;
                //     } else {
                //         tr += '';
                //     }
                //     tr += '</td>';


                //     tr += "<td>" + convertISODateToTimeFormat(job.received_date) + "</td>";
                //     tr += "<td>" + convertISODateToTimeFormat(job.delivery_date) + "</td>";
                //     tr += '<td><i>';
                //     switch (job.status) {
                //         case -1:
                //             tr += '<span class = "text-warning">Initial</span>';
                //             break;
                //         case 0:
                //             tr += '<span class = "text-info">Processing</span>';
                //             break;
                //         case 1:
                //             tr += '<span class = "text-primary">Upload</span>';
                //             break;
                //         case 2:
                //             tr += '<span class = "text-success">Done</span>';
                //             break;
                //         case -2:
                //             tr += '<span class = "text-danger">Rejected</span>';
                //             break;
                //         case -3:
                //             tr += '<span class = "text-muted">Canceled</span>';
                //             break;
                //     }
                //     tr += '</i></td>';
                //     tr += '</tr>';
                //     $('#tblData').append(tr);
                // })

            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg + ". " + jqXHR.responseJSON.error);
            }
        })
    }
</script>