<div class="row mt-2">
    <div class="col-md-offset-8 col-sm-offset-8 col-xs-offset-6 col-md-4 col-sm-4 col-xs-6 text-right">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Seach job..." id="txtSearch" />
            <div class="input-group-btn">
                <button class="btn btn-info" type="submit" id="btnSearch">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="tableFixHead table-responsive mt-2">
    <table class="table mt-1 table-striped bg-white text-dark text-nowrap">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Job</th>
                <th scope="col">Combo</th>
                <th scope="col">Received date</th>
                <th scope="col">Delivery date</th>
                <th scope="col">Status</th>
                <th>Remark</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tblData">
        </tbody>
    </table>
</div>

<%-include('modalCC')%>

    <script src="/js/common.js"></script>
    <script>
        var page = 1;
        var search = '';
        var jobId = '';
        $(document).ready(function () {
            LoadJobs();
            setInterval(function () {
                LoadJobs();
            }, 10000);//run this thang every 10 seconds
        })

        $(document).on("click", "button[name='btnCC']", function () {
            jobId = $(this).closest('tr').attr('id');
            $('#modalCC').modal();
        })



        function LoadJobs() {
            $.ajax({
                url: '/customer/job/list',
                type: 'get',
                headers: {
                    authorization: "Bearer " + localStorage.getItem("accessToken"),
                },
                data: {
                    search,
                    page
                },
                success: function (data) {

                    let idx = 1;
                    $('#tblData').empty();

                    data.jobs.forEach(job => {
                        let tr = '<tr id = "' + job._id + '">';

                        tr += '<td>';
                        if (job.tasks.length > 0) {
                            tr += '<button class="btn btn-xs btn-info parents js-view-parents" name="js-view-parents"> (' + job.tasks.length + ') <i class="fa fa-plus"></i></button>';
                        }
                        tr += '</td>';
                        tr += '<td>' + (idx++) + '</td>';
                        tr += '<td class="text-warning">' + job.name + '</td>';
                        tr += '<td class="font-weight-bold text-danger">';

                        if (job.cb_ticked) {
                            tr += job.cb.name;
                        } else {
                            tr += '';
                        }
                        tr += '</td>';


                        tr += "<td>" + convertISODateToTimeFormat(job.received_date) + "</td>";
                        tr += "<td>" + convertISODateToTimeFormat(job.delivery_date) + "</td>";
                        tr += '<td><i>';
                        switch (job.status) {
                            case -1:
                                tr += '<span class = "text-warning">Initial</span>';
                                break;
                            case 0:
                                tr += '<span class = "text-info">Processing</span>';
                                break;
                            case 1:
                                tr += '<span class = "text-primary">Upload</span>';
                                break;
                            case 2:
                                tr += '<span class = "text-success">Done</span>';
                                break;
                            case -2:
                                tr += '<span class = "text-danger">Rejected</span>';
                                break;
                            case -3:
                                tr += '<span class = "text-muted">Canceled</span>';
                                break;
                        }
                        tr += '</i></td>';
                        tr += '<td class="text-right"><button class="btn btn-xs btn-warning text-white" name="btnCC"><i class="fa fa-cc" aria-hidden="true"></i></button></td>'
                        tr += '</tr>';
                        $('#tblData').append(tr);
                    })

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseJSON.msg + ". " + jqXHR.responseJSON.error);
                }
            })
        }


        $(document).on("click", "button[name='js-view-parents']", async function (e) {

            var $btn = $(e.target), $row = $btn.closest('tr'), $nextRow = $row.next('tr.expand-child');

            $btn.toggleClass('fa-minus');

            if ($nextRow.length) {
                $nextRow.toggle($btn.hasClass('fa-minus'));
            } else {
                var newRow = '<tr class="expand-child" id="collapse' + $btn.data('id') + '">' +
                    '<td colspan="8">' +
                    '<table class="table table-condensed table-bordered table-striped" width=100% >' +
                    '<thead>' +
                    '<tr>' +
                    '<th class="text-right  ">#</th>' +
                    '<th>Level</th>' +
                    '<th class="text-center">I-N</th>' +
                    '<th>Uploaded at</th>' +
                    '<th>U-Link</th>' +
                    '<th>Status</th>' +
                    '</tr>' +
                    '</thead>' +
                    '<tbody>';
                jobId = $(this).closest('tr').attr('id');

                await $.ajax({
                    url: '/customer/task/list-by-job',
                    type: 'get',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem("accessToken"),
                    },
                    data: {
                        jobId
                    },
                    success: function (data) {
                        let idx = 1;
                        data.tasks.forEach(t => {
                            newRow += '<tr>';
                            newRow += '<td class="text-right">' + (idx++) + '</td>';
   
                            newRow += '<td class="font-weight-bold">';
                            newRow += t.basic.level.name
                            if (t.fixible_task || t.additional_task) {
                                newRow += '<span class="font-weight-bold text-danger ml-2"><i class="fa fa-cc" aria-hidden="true"></i></span>';
                            }
                            newRow += '</td>';

                            newRow += '<td class="text-center">';

                            if (t.editor.length > 0 && t.editor[t.editor.length - 1].submited.length > 0) {
                                newRow += t.editor[t.editor.length - 1].submited[t.editor[t.editor.length - 1].submited.length - 1].amount;
                            } else {
                                newRow += '<i class="text-info">Processing..</i>';
                            }
                            newRow += '</td>';


                            newRow += '<td>';
                            if (t.tla.uploaded.length > 0) {
                                newRow += convertISODateToTimeFormat(t.tla.uploaded[t.tla.uploaded.length - 1].at);
                            } else {
                                newRow += '<i class="text-info">Processing..</i>';
                            }
                            newRow += '</td>';

                            newRow += '<td  class="text-center">';

                            if (t.tla.uploaded.length > 0) {
                                newRow += '<a href="' + t.tla.uploaded[t.tla.uploaded.length - 1].link + '" target="_blank" rel="noopener noreferrer"><i class="fa fa-link" aria-hidden="true"></i></a>';
                            } else {
                                newRow += '<i class="text-info">Processing..</i>';
                            }

                            newRow += '</td>';



                            newRow += '<td>';
                            if (t.tla.uploaded.length > 0) {
                                newRow += '<i class="text-primary font-weight-bold">Uploaded</i>';
                            } else {
                                newRow += '<i class="text-info">Processing..</i>';
                            }

                            newRow += '</td>';

                            newRow += '</tr>';
                        })
                    }
                })
                newRow += '</tbody></table></td></tr>';
                // set next row
                $nextRow = $(newRow).insertAfter($row);


                /*}
                    });*/
            }
        });


    </script>