<div class="modal" tabindex="-1" id="modalFileFormat">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add or update file format</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">File format</label>
                        <input type="text" name="txtName" id="txtName" class="form-control"
                            placeholder="file format name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Type</label>
                        <div class="form-check mt-1">
                            <input class="form-check-input" type="checkbox" id="ckbInputFileFormat" value="option2" checked>
                            <label class="form-check-label text-success font-weight-bold" for="inlineCheckbox2">Input file format</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="Description">Description</label>
                        <input type="text" name="" id="txtDescription" class="form-control">
                    </div>
                </div>               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSubmit">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>

    $('#btnSubmit').click(function () {
        let name = $('#txtName').val().trim();
        let description = $('#txtDescription').val().trim();
        let is_input = $('#ckbInputFileFormat').is(":checked") ? true : false;

        if (ffId.length > 0) {
            $.ajax({
                url: '/admin/file-format',
                type: 'put',
                headers: {
                    authorization: "Bearer " + localStorage.getItem('accessToken'),
                },
                data: {
                    id:ffId,
                    name,
                    description,
                    is_input
                },
                success: function (data, textStatus, xhr) {
                    alert(data.msg);
                    $('#modalFileFormat').modal('hide');
                    ffId = '';
                }, error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseJSON.msg);
                }
            })
        } else {
            $.ajax({
                url: '/admin/file-format',
                type: 'post',
                headers: {
                    authorization: "Bearer " + localStorage.getItem('accessToken'),
                },
                data: {
                    name,
                    description,
                    is_input
                },
                success: function (data, textStatus, xhr) {
                    alert(data.msg);
                    $('#modalFileFormat').modal('hide');
                    ffId = '';
                }, error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseJSON.msg);
                }
            })
        }

    })
</script>