<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/accountant">Accountant Module - Hello: <span id="spUser"
          class="font-weight-bold text-info"></span></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/accountant">Home</a></li>   
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Category <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" href="/accountant/customer">Customer</a></li>           
            <li> <a class="dropdown-item" href="/accountant/job">Job</a></li>           
            <li> <a class="dropdown-item" href="/accountant/task">Task</a></li>           
          </ul>
        </li>  
        <li><a href="/accountant/payment">Payment</a></li>       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Statistic <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" href="/accountant/statistic/job-finished">Job finished</a></li>           
          </ul>
        </li>        
      </ul> 
     
      <ul class="nav navbar-nav navbar-right">
        <button class="btn btn-sm btn-danger mt-2" id="btnLogout">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
        </button>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>






<script>
  $(document).ready(function () {
    getProfile();
  });

  function getProfile() {
    $.ajax({
      url: '/accountant/auth/profile',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      success: function (data) {
        $('#spUser').text(data.fullname)
      },
      error: function (err) {
        window.location.href = '/accountant/login';
      }

    })
  }

  $("#btnLogout").click(function (e) {
    e.preventDefault();
    localStorage.removeItem('accessToken');
    window.location.href = '/accountant/login';
  });
</script>