<div class="modal fade" id="modalStaff" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">      
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card text-white bg-secondary mb-1">
          <div class="card-header">Role</div>
          <div class="card-body">
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="is_admin" value="option1">
              <label class="form-check-label" for="inlineRadio1">Admin</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="is_tla" value="option1">
              <label class="form-check-label" for="inlineRadio1">TLA</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="is_sale" value="option1">
              <label class="form-check-label" for="inlineRadio1">Sale</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="is_qc" value="option1">
              <label class="form-check-label" for="inlineRadio1">QC</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="is_accountant" value="option1">
              <label class="form-check-label" for="inlineRadio1">Accountant</label>
            </div>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
          <div class="card-header">Summary</div>
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="recipient-name" class="col-form-label">Group:</label>
                  <select name="" id="usertype" class="form-control"></select>
                </div>
                <div class="form-group col-md-4">
                  <label for="recipient-name" class="col-form-label">Fullname:</label>
                  <input type="text" class="form-control" id="txtFullname" />
                </div>
                <div class="form-group col-md-4">
                  <label for="recipient-name" class="col-form-label">Phone:</label>
                  <input type="text" class="form-control" id="txtPhone" />
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="recipient-name" class="col-form-label">Email:</label>
                  <input type="email" class="form-control" id="txtEmail" />
                </div>
                <div class="form-group col-md-3">
                  <label for="recipient-name" class="col-form-label">Username:</label>
                  <input type="text" class="form-control" id="txtUsername" />
                </div>

                <div class="form-group col-md-3">
                  <label for="recipient-name" class="col-form-label">Password:</label>
                  <input type="password" class="form-control" id="txtPassword" value="123" />
                </div>

                <div class="form-group col-md-3">
                  <label for="recipient-name" class="col-form-label">Confirm Password:</label>
                  <input type="password" class="form-control" id="txtConfirmPassword" value="123" />
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="recipient-name" class="col-form-label">ID Card:</label>
                  <input type="text" class="form-control" id="txtIDNo" />
                </div>
                <div class="form-group col-md-3">
                  <label for="recipient-name" class="col-form-label">Issued by:</label>
                  <input type="text" class="form-control" id="txtIssuedBy" />
                </div>

                <div class="form-group col-md-3">
                  <label for="recipient-name" class="col-form-label">Address:</label>
                  <input type="text" class="form-control" id="txtAddress" />
                </div>
                <div class="form-group col-md-1">
                  <label for="recipient-name" class="col-form-label">Status:</label>
                  <div class="form-group form-check mt-1">
                    <input type="checkbox" class="form-check-input" id="is_active" checked />
                    <label class="form-check-label" for="exampleCheck1">Active</label>
                  </div>
                </div>
                <div class="form-group col-md-2">
                  <label for="recipient-name" class="col-form-label">Employee:</label>
                  <div class="form-group form-check mt-1">
                    <input type="checkbox" class="form-check-input" id="is_active" checked />
                    <label class="form-check-label" for="exampleCheck1">Active</label>
                  </div>
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="recipient-name" class="col-form-label">Bank:</label>
                  <select name="" id="slBanks" class="form-control"></select>
                </div>
                <div class="form-group col-md-3">
                  <label for="recipient-name" class="col-form-label">Account Number:</label>
                  <input type="text" class="form-control" id="txtAccountNumber" />
                </div>
                <div class="form-group col-md-3">
                  <label for="recipient-name" class="col-form-label">Account holder:</label>
                  <input type="text" class="form-control" id="txtAccountHolder" />
                </div>
              </div>


            </form>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="btnSubmit">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $("#btnSubmit").click(function () {

    let is_admin = $('#is_admin').is(':checked');
    let is_tla = $('#is_tla').is(':checked');
    let is_qc = $('#is_qc').is(':checked');
    let is_sale = $('#is_sale').is(':checked');
    let is_accountant = $('#is_accountant').is(':checked');
    let user_type = $('#usertype option:selected').val();
    let fullname = $('#txtFullname').val();
    let phone = $('#txtPhone').val();
    let email =$('#txtEmail').val();
    let username = $('#txtUsername').val();
    let password = $('#txtPassword').val();
    let confirm_password = $('#txtConfirmPassword').val();
    let idno = $('#txtIDNo').val();
    let issued_by = $('#txtIssuedBy').val();
    let address = $('#txtAddress').val();
    let is_active = $('#is_active').is(':checked');

    let bank = $('#slBanks option:selected').val();
    let account_number = $('#txtAccountNumber').val();
    let account_holder = $('#txtAccountHolder').val();

    if (password != confirm_password) {
      alert('Password & confirm password do not match!');
      return;
    }
    
    $.ajax({
      url: '/admin/user',
      type: 'post',
      headers: {
        authorization: "Bearer " + localStorage.getItem('accessToken'),
      },
      data: {
        user_type,
        fullname,
        username,
        password,
        phone,
        email,
        idno,
        issued_by,
        address,
        is_active,
        bank,
        account_number,
        account_holder,
        is_admin,
        is_tla,
        is_qc,
        is_sale,
        is_tla,
        is_accountant
      },
      success: function (data, textStatus, xhr) {
        alert(data.msg);
        $('#modalStaff').modal('hide');
        userId = '';
      }, error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
      }

    })
  });

  $(document).ready(function () {
    LoadUserType();
    LoadSkill();
    LoadBanks();
  });

  $("#txtFullname").keyup(function () {
    $("#txtUsername").val(GenerateUsername($("#txtFullname").val()));
  });

  function LoadBanks() {
    $.ajax({
      url: '/admin/bank/list',
      type: 'get',
      data: {

      },
      success: function (data, textStatus, xhr) {
        data.banks.forEach((bank) => {
          let opt = '<option value="' + bank._id + '">' + bank.name + "</option>";
          $("#slBanks").append(opt);
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
      },
    })
  }


  function LoadUserType() {
    $("#usertype").empty();
    $.ajax({
      url: "/admin/user-type/list",
      type: "get",
      data: {},
      success: function (data, textStatus, xhr) {
        let idx = 1;
        data.uts.forEach((ut) => {
          let opt = '<option value="' + ut._id + '">' + ut.name + "</option>";
          $("#usertype").append(opt);
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
        console.log(jqXHR.responseJSON);
      },
    });
  }



  function LoadSkill() {
    $.ajax({
      url: "/admin/skill",
      type: "get",
      success: function (data, textStatus, xhr) {
        let idx = 1;
        $("#tblSkill").empty();
        data.skills.forEach((skill) => {
          let tr = "  <tr>";
          tr += '        <th scope="row">1</th>';
          tr += "       <td><input";
          tr += '          type="checkbox"';
          tr += '         class="form-check-input"';
          tr += '        id="is_active"';
          tr += "      checked";
          tr += "   />";
          tr += '  <label class="form-check-label" for="exampleCheck1"';
          tr += "   >Active</label";
          tr += " ></td>";
          tr += "<td></td>";
          tr += " <td>@mdo</td>";
          tr += "</tr>      ";
          $("#tblSkill").append(tr);
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
      },
    });
  }

  function GenerateUsername(fullname) {
    shortkeys = fullname.split(" ");
    username = shortkeys.pop();
    for (i = 0; i < shortkeys.length; i++) {
      username += shortkeys[i].substring(0, 1);
    }

    return username
      .toLowerCase()
      .trim() //đưa hết về kiểu chữ thường và loại bỏ khoảng trống thừa đầu và cuối của chuỗi
      .replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a")
      .replace(/\ /g, "-")
      .replace(/đ/g, "d")
      .replace(/đ/g, "d")
      .replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y")
      .replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u")
      .replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ.+/g, "o")
      .replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ.+/g, "e")
      .replace(/ì|í|ị|ỉ|ĩ/g, "i")
      .replace(/\s+/g, "-") // thay thế khoảng trắng bằng dấu -
      .replace(/&/g, "-va-") // thay thế kí tự & bằng -va-
      .replace(/[^\w\-]+/g, "") // loại bỏ các khoảng trắng thừa
      .replace(/\-\-+/g, "-"); // thay thế các kí tự - liên tục bằng 1 kí tự -;
  }
</script>