<div class="modal fade" id="modalStaff" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="panel panel-primary">
          <div class="panel-heading"><i class="fa fa-user" aria-hidden="true"></i> Add or update staff</div>
          <div class="panel-body">

            <div class="row">
              <div class="form-group col-md-4 col-xs-12">
                <label for="recipient-name" class="col-form-label">Group:</label>
                <select name="" id="slUserGroup" class="form-control"></select>
              </div>

              <div class="form-group col-md-4 col-xs-12">
                <label for="recipient-name" class="col-form-label">Staff level:</label>
                <select name="" id="slUserLevel" class="form-control"></select>
              </div>


              <div class="form-group col-md-4 col-xs-12">
                <label for="recipient-name" class="col-form-label">Fullname:</label>
                <input type="text" class="form-control" id="txtFullname" />
              </div>

            </div>






            <div class="row">

              <div class="form-group col-md-4 col-xs-12">
                <label for="recipient-name" class="col-form-label">Username:</label>
                <input type="text" class="form-control" id="txtUsername" />
              </div>

              <div class="form-group col-md-4 col-xs-12">
                <label for="recipient-name" class="col-form-label">Password:</label>
                <input type="password" class="form-control" id="txtPassword" value="123" />
              </div>

              <div class="form-group col-md-4 col-xs-12">
                <label for="recipient-name" class="col-form-label">Confirm Password:</label>
                <input type="password" class="form-control" id="txtConfirmPassword" value="123" />
              </div>

            </div>


            <div class="row">
              <div class="form-group col-md-4 col-xs-12">
                <label for="recipient-name" class="col-form-label">Phone:</label>
                <input type="text" class="form-control" id="txtPhone" />
              </div>

              <div class="form-group col-md-8 col-xs-12">
                <label for="recipient-name" class="col-form-label">Email:</label>
                <input type="email" class="form-control" id="txtEmail" />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-3 col-xs-6">
                <label for="recipient-name" class="col-form-label">ID Card:</label>
                <input type="text" class="form-control" id="txtIDNo" />
              </div>
              <div class="form-group col-md-3 col-xs-6">
                <label for="recipient-name" class="col-form-label">Issued by:</label>
                <input type="text" class="form-control" id="txtIssuedBy" />
              </div>

              <div class="form-group col-md-5 col-xs-10">
                <label for="recipient-name" class="col-form-label">Address:</label>
                <input type="text" class="form-control" id="txtAddress" />
              </div>
              <div class="form-group col-md-1 col-xs-2">
                <label for="recipient-name" class="col-form-label">Active:</label>
                <div class="form-group form-check mt-1 text-center">
                  <input type="checkbox" class="form-check-input" id="is_active" checked />
                  <label class="form-check-label" for="exampleCheck1"></label>
                </div>
              </div>
            </div>



            <hr>
            <div class="row">
              <div class="form-group col-md-6 col-xs-12">
                <label for="recipient-name" class="col-form-label">Bank:</label>
                <select name="" id="slBanks" class="form-control"></select>
              </div>
              <div class="form-group col-md-3 col-xs-6">
                <label for="recipient-name" class="col-form-label">Account Number:</label>
                <input type="text" class="form-control" id="txtBankNo" />
              </div>
              <div class="form-group col-md-3 col-xs-6">
                <label for="recipient-name" class="col-form-label">Account holder:</label>
                <input type="text" class="form-control" id="txtBankHolder" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-xs-12 mt-2">
                <label id="errMessage" class="text-warning font-weight-bold">1243</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="btnSubmit">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          Submit
        </button>
      </div>
    </div>
  </div>
</div>



<script>
  $(document).ready(function () {
    $('#errMessage').hide();
  })

  $('#modalStaff').on('shown.bs.modal', function (e) {
    if (userId.length > 0) {
      $.ajax({
        url: '/admin/user/detail',
        type: 'get',
        headers: {
          authorization: "Bearer " + localStorage.getItem('accessToken'),
        },
        data: {
          userId
        },
        success: function (data) {


          $('#slUserGroup').val(data.user.user_group);
          $('#slUserLevel').val(data.user.user_level);


          $('#txtFullname').val(data.user.fullname);
          $('#txtPhone').val(data.user.phone);
          $('#txtEmail').val(data.user.email);
          $('#txtUsername').val(data.user.username);
          $('#txtPassword').val('123');
          $('#txtConfirmPassword').val('123');
          $('#txtIDNo').val(data.user.idNo);
          $('#txtIssuedBy').val(data.user.issued_by);
          $('#txtAddress').val(data.user.address);
          $('#is_active').prop('checked', data.user.is_active);


          $('#slBanks option:selected').val(data.user.bank);
          $('#txtBankNo').val(data.user.bank_no);
          $('#txtBankHolder').val(data.user.bank_holder);
          if (is_readonly) {
            $('#btnSubmit').hide();
          } else {
            $('#btnSubmit').show();
          }
        }, error: function (jqXHR, textStatus, errorThrown) {
          alert(jqXHR.responseJSON.msg);
          window.location.href = '/admin/login';
        }
      })
    }
  })


  $("#btnSubmit").click(function () {


    let user_group = $('#slUserGroup option:selected').val();
    let user_level = $('#slUserLevel option:selected').val();


    let fullname = $('#txtFullname').val();
    let phone = $('#txtPhone').val();
    let email = $('#txtEmail').val();
    let username = $('#txtUsername').val();
    let password = $('#txtPassword').val();
    let confirm_password = $('#txtConfirmPassword').val();
    let idNo = $('#txtIDNo').val();
    let issued_by = $('#txtIssuedBy').val();
    let address = $('#txtAddress').val();
    let is_active = $('#is_active').is(':checked');


    let bank = $('#slBanks option:selected').val();
    let bank_no = $('#txtBankNo').val();
    let bank_holder = $('#txtBankHolder').val();

    if (password != confirm_password) {
      $('#errMessage').text('Two passwords not match!');
      $('#errMessage').show(200);
      return;
    }



    if (userId.length == 0) {

      $.ajax({
        url: '/admin/user',
        type: 'post',
        headers: {
          authorization: "Bearer " + localStorage.getItem('accessToken'),
        },
        data: {
          user_group,
          user_level,
          fullname,
          username,
          password,
          phone,
          email,
          idNo,
          issued_by,
          address,
          is_active,
          bank,
          bank_no,
          bank_holder
        },
        success: function (data, textStatus, xhr) {
          alert(data.msg);
          $('#modalStaff').modal('hide');
          userId = '';
        }, error: function (jqXHR, textStatus, errorThrown) {
          alert(jqXHR.responseJSON.msg);
        }

      })
    } else {
      $.ajax({
        url: '/admin/user',
        type: 'put',
        headers: {
          authorization: "Bearer " + localStorage.getItem('accessToken'),
        },
        data: {
          userId,
          user_group,
          user_level,
          fullname,
          username,
          password,
          phone,
          email,
          idNo,
          issued_by,
          address,
          is_active,
          bank,
          bank_no,
          bank_holder
        },
        success: function (data, textStatus, xhr) {
          alert(data.msg);
          $('#modalStaff').modal('hide');
          userId = '';
        }, error: function (jqXHR, textStatus, errorThrown) {
          alert(jqXHR.responseJSON.msg);
        }
      })
    }
  })



  $(document).ready(function () {
    LoadUserGroup();
    LoadBanks();
  });

  $("#txtFullname").keyup(function () {
    $("#txtUsername").val(GenerateUsername($("#txtFullname").val()));
  });

  function LoadBanks() {
    $.ajax({
      url: '/admin/bank/list',
      type: 'get',
      data: {

      },
      success: function (data, textStatus, xhr) {
        data.banks.forEach((bank) => {
          let opt = '<option value="' + bank._id + '">' + bank.name + "</option>";
          $("#slBanks").append(opt);
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
      },
    })
  }


  function LoadUserGroup() {
    $("#slUserGroup").empty();
    $.ajax({
      url: "/admin/user-group/list",
      type: "get",
      headers: {
        authorization: "Bearer " + localStorage.getItem('accessToken'),
      },
      success: function (data) {
        data.ugs.forEach((u) => {
          let opt = '<option value="' + u._id + '">' + u.name + "</option>";
          $("#slUserGroup").append(opt);
        });
        LoadUserLevels($('#slUserGroup option:selected').val());
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
        console.log(jqXHR.responseJSON);
      },
    });
  }





  function GenerateUsername(fullname) {
    shortkeys = fullname.split(" ");
    username = shortkeys.pop();
    for (i = 0; i < shortkeys.length; i++) {
      username += shortkeys[i].substring(0, 1);
    }

    return username
      .toLowerCase()
      .trim() //đưa hết về kiểu chữ thường và loại bỏ khoảng trống thừa đầu và cuối của chuỗi
      .replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a")
      .replace(/\ /g, "-")
      .replace(/đ/g, "d")
      .replace(/đ/g, "d")
      .replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y")
      .replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u")
      .replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ.+/g, "o")
      .replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ.+/g, "e")
      .replace(/ì|í|ị|ỉ|ĩ/g, "i")
      .replace(/\s+/g, "-") // thay thế khoảng trắng bằng dấu -
      .replace(/&/g, "-va-") // thay thế kí tự & bằng -va-
      .replace(/[^\w\-]+/g, "") // loại bỏ các khoảng trắng thừa
      .replace(/\-\-+/g, "-"); // thay thế các kí tự - liên tục bằng 1 kí tự -;
  }



  function LoadUserLevels(groupId) {
    $.ajax({
      url: '/admin/staff-level/list-by-user-group',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem('accessToken'),
      },
      data: {
        groupId
      },
      success: function (data) {
        console.log(data);
        $('#slUserLevel').empty();
        data.levels.forEach(l => {
          let opt = '<option value="' + l._id + '">' + l.name + '</option>';
          $('#slUserLevel').append(opt);
        })

      }, error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
      }
    })
  }


</script>