<div class="row">

  <div class="col-md-offset-8 col-md-4 col-sm-offset-6 col-sm-6 col-xs-12 mt-2">
    <!-- Another variation with a button -->
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Seach your job..." id="txtSearch" />
      <div class="input-group-btn">
        <button class="btn btn-info" type="submit" id="btnSearch">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <button class="btn btn-success ml-2 text-warning" type="submit" id="btnPaid">
          <i class="fa fa-dollar"></i> Payment
        </button>
      </div>
    </div>
  </div>
</div>


<hr />
<div class="table-responsive mt-2">
  <table class="table table-striped text-nowrap">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Customer</th>
        <th scope="col">Job</th>
        <th scope="col">Level</th>
        <th scope="col">Deadline</th>
        <th scope="col">Remark</th>
        <th scope="col" class="text-right">E-T</th>
        <th scope="col" class="text-right">I-N</th>
        <th scope="col">Editor</th>
        <th scope="col">Q.A</th>
        <th scope="col">DC</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="tbdTasks">
    </tbody>
  </table>
</div>
<label class="font-weight-bold text-danger" id="lblPaidMsg"></label>


<%-include('task_detail')%>



  <script src="/js/common.js"></script>
  <script>
    var page = 1;
    var search = '';
    var taskId = '';
    var paidArray = [];
    $(document).ready(function () {
      $('#btnPaid').attr('disabled', 'disabled');
      LoadTasks();
    })

    $('#btnPaid').click(function () {
      if (paidArray.length === 0) {
        $('#lblPaidMsg').text('Please choose task to pay');
        $('#lblPaidMsg').show().delay(3000).fadeOut();
        return;
      }
    })
    $(document).on("click", "input[name='ckbTick']", function () {
      if ($(this).is(':checked')) {
        paidArray.push($(this).closest("tr").attr("id"));
      } else {
        paidArray = paidArray.filter(x => x !== $(this).closest("tr").attr("id"));
      }
      if (paidArray.length > 0) {
        $('#btnPaid').removeAttr('disabled');
      } else {
        $('#btnPaid').attr('disabled', 'disabled');
      }

    })



    $(document).on("click", "button[name='btnTaskInfo']", function () {
      taskId = $(this).closest("tr").attr("id");
      $('#modalTaskDetail').modal();
    })
    function LoadTasks() {
      $.ajax({
        url: '/accountant/task/list-payment',
        type: 'get',
        headers: {
          authorization: "Bearer " + localStorage.getItem("accessToken"),
        },
        data: {
          search,
          page,
          status
        },
        success: function (data) {
          $('#tbdTasks').empty();
          let idx = 1;

          data.tasks.forEach(t => {

            let tr = '<tr id="' + t._id + '" data-job="' + t.basic.level._id + '">';

            if (typeof t.bp !== 'undefined' && t.bp !== null && t.bp.length > 0) {
              if (t.bp[0].is_bonus) {
                tr = '<tr id="' + t._id + '" data-job="' + t.basic.level._id + '" style="background-color: #E0F8E0">';
              } else {
                tr = '<tr id="' + t._id + '" data-job="' + t.basic.level._id + '" style="background-color:#FBEFEF">';
              }
            }

            tr += '<td>' + (idx++) + '</td>';

            tr += '<td class="text-center"><input type="checkbox" name="ckbTick" ></td>';

            tr += '<td class="font-weight-bold text-primary">' + t.basic.job.customer.firstname + ' ' + t.basic.job.customer.lastname + '</td>';
            tr += '<td class="font-weight-bold text-danger">' + t.basic.job.name + '</td>';
            tr += '<td class="font-weight-bold">' + t.basic.level.name + '</td>';
            tr += '<td class="text-danger">';
            if (t.basic.deadline.end) {
              tr += convertISODateToTimeFormat(t.basic.deadline.end);
            }
            tr += '</td>';

            tr += '<td>';
            if (typeof t.remarks[0] !== 'undefined') {
              tr += t.remarks[0].content;
            }
            tr += '</td>';


            tr += '<td class="text-right">';
            if (t.editor.length > 0 && t.editor[t.editor.length - 1].submited.length > 0) {
              tr += t.editor[0].submited.length;
            }
            tr += '</td>';

            tr += '<td class="text-right">';
            if (t.editor.length > 0 && t.editor[t.editor.length - 1].submited.length > 0) {
              tr += t.editor[0].submited[(t.editor[0].submited.length - 1)].amount;
            }
            tr += '</td>'



            tr += '<td>';
            if (t.editor.length > 0) {
              tr += t.editor[t.editor.length - 1].staff.fullname;
            }
            tr += '</td>';

            tr += '<td>';
            if (t.qa.length > 0) {
              tr += t.qa[t.qa.length - 1].staff.fullname;
            }
            tr += '</td>';

            tr += '<td>';
            if (t.dc.length > 0 && !t.dc[t.dc.length - 1].unregisted) {
              tr += t.dc[t.dc.length - 1].staff.fullname;
            }
            tr += '</td>';


            tr += '<td><i>';

            switch (t.status) {
              case -1: tr += '<span class="text-info">Initial</span>';
                break;
              case 0: tr += '<span class="text-info">Processing</span>';
                break;
              case 1:
                {
                  if (t.editor[0].submited.length > 1) {
                    tr += '<span class="text-primary">Fixed</span>';
                  } else {
                    tr += '<span class="text-primary">Edited</span>';
                  }
                  break;
                }
              case 2:
                tr += '<span class="text-success">Q.A ok!</span>';
                break;
              case 3:
                tr += '<span class="text-success">DC ok!</span>'
                break;
              case -2:
                tr += '<span class="text-danger">Q.A rejected</span>';
                break;
              case -3:
                tr += '<span class="text-danger">DC rejected</span>';
                break;
              case -4:
                tr += '<span class="text-danger">Sale rejected</span>';
                break;
              case -5:
                tr += '<span class="text-danger">Canceled</span>';
                break;
              case 4: tr += '<span class="text-success font-weight-bold">Upload</span>'; break;
              case 5: tr += '<span class="text-success font-weight-bold">Done</span>'; break;
              case 6: tr += '<span class="text-success font-weight-bold">Finish</span>'; break;

            }
            tr += '</i></td>';

            tr += '<td class="text-right">';
            tr += '<button class="btn btn-xs btn-info ml-2" name="btnTaskInfo">';
            tr += '<i class="fa fa-info-circle" aria-hidden="true"></i>';
            tr += '</button>';
            tr += '</td>';

            tr += '</tr>';
            $('#tbdTasks').append(tr);
          })
        }

      })
    }

  </script>