<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/common.js"></script>
<link href="/css/bootstrap-select.min.css" rel="stylesheet" />
<script type='text/javascript'
  src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

<div class="modal" tabindex="-1" id="assignJobModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body text-dark">
        <div class="panel panel-info mb-3">
          <div class="panel-heading font-weight-bold">Summary</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2 col-sm-3 col-xs-4">
                <label class="font-weight-bold">Job name:</label>
              </div>
              <div class="col-md-10 col-sm-9 col-xs-8">
                <label id="name_case" class="font-weight-bold font-italic"></label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-3 col-xs-4">
                <label class="font-weight-bold">Remark:</label>
              </div>
              <div class="col-md-10 col-sm-9 col-xs-8">
                <label id="customer_remark" class="text-warning"></label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2 col-sm-3 col-xs-4">
                <label class="font-weight-bold">Intruction:</label>
              </div>
              <div class="col-md-10 col-sm-9 col-xs-8">
                <label id="job_intruction" class="text-warning"></label>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive  table-responsive-sm table-responsive-xs mt-2">
          <table class="table mt-1 table-striped bg-white text-dark nowrap">
            <thead class="thead-dark">
              <tr>

                <th scope="col">#</th>
                <th scope="col">Level</th>
                <th scope="col">Assign date</th>
                <th scope="col">Deadline</th>
                <th scope="col">Local</th>
                <th scope="col">Cloud</th>
                <th scope="col">Remark</th>
                <th scope="col">Editor</th>
                <th scope="col">Q.A</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="tblTasks"></tbody>
          </table>
        </div>


        <hr />


        <div class="panel panel-primary" id="divLevel">
          <div class="panel-heading font-w"> Add job level</div>
          <div class="panel-body">

            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label for="">Job level</label>
                  <select name="" id="slJobLevels" class="form-control"></select>
                </div>

              </div>
              <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="form-group">
                  <label for="">Assign Date<span class="text-danger font-weight-bold">(*)</span>: </label>
                  <input type="text" class="inputDate form-control" id="txtAssignDate">
                </div>
              </div>

              <div class="col-md-3 col-sm-6 col-xs-6">
                <div class=" form-group">
                  <label for="">Deadline<span class="text-danger font-weight-bold">(*)</span>:</label>
                  <input type="text" class="inputDate form-control" id="txtDeadline">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6 col-sm-6 col-xs-12  mt-2">
                <label for="">Local storage <span class="text-danger">(*)</span>:</label>
                <input type="text" name="" id="txtLocalStorage" class="form-control" placeholder="Local storage">
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-12  mt-2">
                <label for="">Cloud storage <span class="text-danger">(*)</span>:</label>
                <input type="text" name="" id="txtCloudStorage" class="form-control" placeholder="Cloud storage">
              </div>

            </div>

            <div class="row ">
              <div class="col-md-10 col-sm-8 col-xs-12 mt-2">
                <input type="text" name="txtRemark" id="txtRemark" class="form-control" placeholder="Level remark">
              </div>
              <div class="col-md-2 col-sm-4 col-xs-12 text-center mt-2">
                <button class="btn btn-info" id="btnAddLevel">
                  <i class="fa fa-plus" aria-hidden="true"></i>Add job level
                </button>
              </div>
            </div>


          </div>

        </div>
        <div id="divAssign" class="panel panel-primary">
          <div class="panel-heading font-w">Assign Editor & Q.A</div>
          <div class="panel-body">

            <div class="row mt-3" id="divEditor">
              <div class="col-md-6 col-sm-6 col-xs-12 mt-2">
                <select class="form-control selectpicker" id="slEditor" data-live-search="true"></select>
              </div>
              <div class="col-md-4 col-sm-3 col-xs-6 mt-2">
                <button class="btn btn-sm btn-success" id="btnAssignEditor">
                  <i class="fa fa-plus"></i> Assign Editor
                </button>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-6 mt-2">
                <button class="btnCancelAssign btn btn-xs">
                  <i class="fa fa-close text-danger"></i>
                </button>
              </div>
              <hr />
            </div>



            <div class="row" id="divQA">
              <div class="col-md-6 col-sm-6 col-xs-12 mt-2">
                <select class="form-control selectpicker" id="slQA" data-live-search="true"></select>
              </div>
              <div class="col-md-4 col-sm-3 col-xs-6 mt-2">
                <button class="btn btn-sm btn-success" id="btnAssignQA">
                  <i class="fa fa-plus"></i> Assign Q.A
                </button>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-6 mt-2">
                <button class="btnCancelAssign btn btn-xs">
                  <i class="fa fa-close text-danger"></i>
                </button>
              </div>
            </div>
          </div>



        </div>




        <div class="form-row">
          <div class="col-sm-12">
            <label class="font-weight-bold text-danger mt-3" id="msgError"></label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  let idx = 1;
  var taskId = '';
  var levelId = '';

  $('#btnAssignQA').on('click', function () {

    $.ajax({
      url: '/tla/task/assign-qa',
      type: 'put',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        taskId,
        levelId,
        staff: $('#slQA option:selected').val()
      },
      success: function (data) {
        $('#msgError').text(data.msg);
        $('#msgError').show().delay(3000).fadeOut();
        $(".btnCancelAssign").click();
        LoadTasks();
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(jqXHR.responseJSON.msg);
        $('#msgError').show().delay(3000).fadeOut();
      },
    })
  })



  $('#btnAssignEditor').on('click', function () {

    $.ajax({
      url: '/tla/task/assign-editor',
      type: 'put',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        taskId,
        levelId,
        staff: $('#slEditor option:selected').val()
      },
      success: function (data) {
        $('#msgError').text(data.msg);
        $('#msgError').show().delay(3000).fadeOut();
        $(".btnCancelAssign").click();
        LoadTasks();
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(jqXHR.responseJSON.msg);
        $('#msgError').show().delay(3000).fadeOut();
      },
    })
  })

  $("#btnAddLevel").click(function () {
    let level = $("#slJobLevels option:selected").val();
    let name = $("#slJobLevels option:selected").text();

    let assigned_date = strToDate($('#txtAssignDate').val());
    let deadline = strToDate($('#txtDeadline').val());

    let local_storage = $('#txtLocalStorage').val();
    let cloud_storage = $('#txtCloudStorage').val();

    let remark = $('#txtRemark').val();

    // validateion component inputs

    if (isNaN(assigned_date) || assigned_date === null || isNaN(deadline) || deadline == null) {
      $('#msgError').text('(*) Assign date or deadline is invalid!');
      $('#msgError').show().delay(3000).fadeOut();
      return;
    }


    if (deadline < new Date($.now())) {
      $('#msgError').text('(*) deadline must be later than current time!');
      $('#msgError').show().delay(3000).fadeOut();
      return;
    }

    if (deadline <= assigned_date) {
      $('#msgError').text('(*) deadline must be greater than assign date!');
      $('#msgError').show().delay(3000).fadeOut();
      return;
    }

    if (local_storage.trim().length == 0) {
      $('#msgError').text('(*) Please set local storage!');
      $('#msgError').show().delay(3000).fadeOut();
      return;
    }

    if (!isValidHttpUrl(cloud_storage)) {
      $('#msgError').text('(*) Please set cloud storage!');
      $('#msgError').show().delay(3000).fadeOut();
      return;
    }



    $.ajax({
      url: '/tla/task',
      type: 'post',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        job: jobId,
        level,
        assigned_date,
        deadline,
        local_storage,
        cloud_storage,
        remark
      },
      success: function (data) {
        $('#msgError').text(data.msg);
        $('#msgError').show();
        $('#msgError').hide(2000);
        LoadTasks();
        ChangeJobStatus(jobId, 0);
        LoadJob();
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(`(!) ${jqXHR.responseJSON.msg}`);
        $('#msgError').show().delay(3000).fadeOut();
      },
    })



    //reset components value
    $('#msgError').text('');
    $('#txtRemark').val('');

  });




  $("#assignJobModal").on('shown.bs.modal', function (e) {
    LoadTasks();
    LoadJobLevels();

    $('#txtAssignDate').val(getCurrentTime())
  });


  $(document).ready(function () {
    $('#divAssign').hide();

  })

  function ChangeJobStatus(jobId, status) {
    $.ajax({
      url: '/tla/job/change-status',
      type: 'put',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        jobId,
        status
      },
      success: function (data) {
        console.log(data.msg);
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(jqXHR.responseJSON.msg);
      }
    })
  }



  $('.btnCancelAssign').on('click', function () {
    $('#divAssign').hide(100);
    $('#divLevel').show(500);
    $("button[name='btnAssignStaff']").show(100);
    $("button[name='btnDelTask']").show(100);
    taskId = '';
  })

  $(document).on("click", "button[name='btnAssignStaff']", function () {
    taskId = $(this).closest("tr").attr("id");
    levelId = $(this).closest("tr").data('level');

    if ($(this).closest("tr").data('editor') == 0) {
      $('#divEditor').show();
    } else {
      $('#divEditor').hide();
    }

    if ($(this).closest("tr").data('qa') == 0) {
      $('#divQA').show();
    } else {
      $('#divQA').hide();
    }


    LoadEditor();
    LoadQA();

    $('#divAssign').show(500);
    $('#divLevel').hide(100);
    $("button[name='btnAssignStaff']").hide(100);
    $("button[name='btnDelTask']").hide(100);
  })

  $(document).on("click", "button[name='btnDelTask']", function () {

    let _id = $(this).closest("tr").attr("id");
    if (confirm("Are you sure to delete this level?")) {
      $.ajax({
        url: '/tla/task',
        type: 'delete',
        headers: {
          authorization: "Bearer " + localStorage.getItem("accessToken"),
        },
        data: {
          _id
        },
        success: function (data) {
          $('#msgError').text(data.msg);
          $('#msgError').show();
          $('#msgError').hide(2000);
          LoadTasks();
        },
        error: function (jqXHR, textStatus, errorThrown) {
          $('#msgError').text(jqXHR.responseJSON.msg);
        }
      })
    }
  })





  function LoadEditor() {
    $.ajax({
      url: '/tla/user/list-editor',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        levelId
      },
      success: function (data) {
        $('#slEditor').empty();
        data.editors.forEach(e => {
          let opt = '<option value="' + e._id + '">' + e.fullname + '</option>';
          $('#slEditor').append(opt);
        })
        $('#slEditor').selectpicker();
        $('#slEditor').selectpicker('refresh');
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(jqXHR.responseJSON.msg);
      },
    })
  }

  function LoadQA() {
    $.ajax({
      url: '/tla/user/list-qa',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        levelId
      },
      success: function (data) {
        $('#slQA').empty();
        data.qas.forEach(q => {
          let opt = '<option value="' + q._id + '">' + q.fullname + '</option>';
          $('#slQA').append(opt);
        })
        $('#slQA').selectpicker();
        $('#slQA').selectpicker('refresh');
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(jqXHR.responseJSON.msg);
      },
    })
  }

  function LoadJobLevels() {

    $.ajax({
      url: '/tla/job-level',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        customerId
      },

      success: function (data) {
        $('#slJobLevels').empty();
        data.jl.forEach(j => {
          let opt = '<option value="' + j._id + '" class="font-weight-bold text-danger">' + j.name + '</option>';
          $('#slJobLevels').append(opt);
        })
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(jqXHR.responseJSON.msg);
      },
    })
  }


  function LoadTasks() {
    $("#tblTasks").empty();
    $.ajax({
      url: '/tla/task/list',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        jobId
      },
      success: function (data) {
        console.log(data);
        let idx = 1;
        data.tasks.forEach(t => {
          let tr = '<tr id="' + t._id + '" data-level="' + t.level._id + '" data-editor="';
          tr += t.editor_assigned ? 1 : 0;
          tr += '" data-qa="';
          tr += t.qa_assigned ? 1 : 0;
          tr += '">';

          tr += "<td>" + idx++ + "</td>";


          tr += "<td class='font-weight-bold text-info'>" + t.level.name + "</td>";
          tr += "<td>" + convertISODateToTimeFormat(t.assigned_date) + "</td>";
          tr += "<td>" + convertISODateToTimeFormat(t.deadline) + "</td>";
          tr+= '<td> <a href="'+t.local_storage+'">Link</a></td>';
          tr+= '<td> <a href="'+t.cloud_storage+'">Link</a></td>';
          tr += "<td>" + t.remark + "</td>";






          tr += '<td>';
          if (t.editor_assigned)
            tr += t.editor.fullname;
          else tr += '';
          tr += "</td>";

          tr += '<td>';
          if (t.qa_assigned)
            tr += t.qa.fullname;
          else tr += '';


          tr += '<td class="text-right">';
          if (!(t.editor_assigned && t.qa_assigned)) {
            tr += '<button class="btn btn-xs btn-primary" name="btnAssignStaff"><i class="fa fa-plus" aria-hidden="true"></i> Assign staff</button>';
          }
          tr += '<button class="ml-1 btn btn-xs btn-danger" name="btnDelTask"><i class="fa fa-trash text-white" aria-hidden="true"></i></button>';
          tr += '</td>';

          tr += "</tr>";

          $("#tblTasks").append(tr);
        })
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(jqXHR.responseJSON.msg);
        $('#msgError').show().delay(3000).fadeOut();
      },
    });
  }





  $('.inputDate').inputmask("datetime", {
    mask: "1/2/y h:s",
    placeholder: "dd/mm/yyyy hh:mm",
    leapday: "-02-29",
    separator: "/",
    alias: "dd/mm/yyyy hh:mm"
  })




</script>