<div class="modal" tabindex="-1" id="assignJobModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body text-dark">
        <div class="card mb-3">
          <div class="card-header font-weight-bold">Summary</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <label class="font-weight-bold">Job name:</label>
              </div>
              <div class="col-md-9">
                <label id="name_case" class="font-weight-bold font-italic"></label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label class="font-weight-bold">Remark:</label>
              </div>
              <div class="col-md-9">
                <label id="customer_remark" class="text-warning"></label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <label class="font-weight-bold">Intruction:</label>
              </div>
              <div class="col-md-9">
                <label id="job_intruction" class="text-warning"></label>
              </div>
            </div>
          </div>
        </div>

        <table class="table mt-1 table-striped bg-white text-dark">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Employee</th>
              <th scope="col">Editor</th>
              <th scope="col">Q.C</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="tblEmployees"></tbody>
        </table>

        <hr />
        <div class="form-row">
          <div class="col-md-7 text-right">
            <select name="" id="slEmployees" class="form-control"></select>
          </div>

          <div class="col-sm-2">
            <select name="slTask" id="slTask" class="form-control">
              <option value="Editor">Editor</option>
              <option value="QA">Q.A</option>
            </select>
          </div>        
          <div class="col-sm-2">
            <input type="text" name="" id="txtDeadline" class="form-control">
          </div>
          <div class="col-md-1">
            <button class="btn btn-info" id="btnAddUser">
              <i class="fa fa-plus" aria-hidden="true"></i>Add
            </button>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-12">
            <label class="font-weight-bold text-danger mt-3" id="msgError"></label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="btnSubmit">
          Submit task
        </button>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
  let idx = 1;
  let task = [];
  $("#btnAddUser").click(function () {
    let user_id = $("#slEmployees option:selected").val();

    let fullname = $("#slEmployees option:selected").text();

    if (!$('#isEditor').is(':checked') && !$('#isQA').is(':checked')) {
      $('#msgError').text('Vui lòng chọn ít nhất 1 tác vụ Q.A hoặc Editor');
      return;
    }
    let exist = false;
    $("#tblEmployees tr").each(function () {
      if (this.id == user_id) {
        $('#msgError').text("Nhân viên này đã được xếp công việc!");
        exist = true;
        return;
      }
    });
    if (!exist) {
      let el = {
        user: user_id,
        is_qa: $("#isQA").is(":checked"),
        is_editor: $("#isEditor").is(":checked")
      }
      task.push(el);
      let tr = '<tr id="' + user_id + '">';
      tr += "<td>" + idx++ + "</td>";
      tr += "<td>" + fullname + "</td>";
      tr += "<td>";
      if ($("#isEditor").is(":checked"))
        tr += '<i class="fa fa-check-square-o" aria-hidden="true"></i>';
      else tr += '<i class="fa fa-square-o" aria-hidden="true"></i>';
      tr += "</td>";

      if ($("#isQA").is(":checked"))
        tr += '<td data-task="QC"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>';
      else tr += '<td data-task="Editor"><i class="fa fa-square-o" aria-hidden="true"></i></td>';

      tr += '<td><button class="btn btn-sm"><i class="fa fa-trash text-danger" aria-hidden="true"></i></button></td>';
      tr += "</tr>";

      $("#tblEmployees").append(tr);
      $('#msgError').text('');
      console.log(task);
    }
  });

  $("#btnSubmit").click(function () {
    if ($('#tblEmployees tr').length == 0) {
      $('#msgError').text('Vui lòng thiết lập tác vụ cho nhân viên trước khi tiếp tục!');
      return;
    }

    $.ajax({
      url: '/tla/task',
      type: 'post',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        task
      }
    })
  });
</script>