<div class="modal" tabindex="-1" id="assignJobModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body text-dark">
        <div class="card mb-3">
          <div class="card-header font-weight-bold">Summary</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <label class="font-weight-bold">Job name:</label>
              </div>
              <div class="col-md-9">
                <label id="name_case" class="font-weight-bold font-italic"></label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label class="font-weight-bold">Remark:</label>
              </div>
              <div class="col-md-9">
                <label id="customer_remark" class="text-warning"></label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <label class="font-weight-bold">Intruction:</label>
              </div>
              <div class="col-md-9">
                <label id="job_intruction" class="text-warning"></label>
              </div>
            </div>
          </div>
        </div>

        <table class="table mt-1 table-striped bg-white text-dark">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Level</th>
              <th scope="col">Remark</th>
              <th scope="col">Staff</th>
              <th scope="col">Editor</th>
              <th scope="col">Q.C</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="tblJobLevels"></tbody>
        </table>

        <hr />
        <div class="form-row">

          <div class="col-sm-3">
            <select name="" id="slJobLevels" class="form-control"></select>
          </div>
          <div class="col-sm-7">
            <input type="text" name="txtRemark" id="txtRemark" class="form-control" placeholder="Level remark">
          </div>
          <div class="col-sm-2">
            <button class="btn btn-info" id="btnAddLevel">
              <i class="fa fa-plus" aria-hidden="true"></i>Add
            </button>
          </div>
        </div>


        <div class="form-row">
          <div class="col-sm-12">
            <label class="font-weight-bold text-danger mt-3" id="msgError"></label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="btnSubmit">
          Submit task
        </button>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
  let idx = 1;
  let task = [];
  $("#btnAddLevel").click(function () {
    let level = $("#slJobLevels option:selected").val();
    let name = $("#slJobLevels option:selected").text();




    $.ajax({
      url: '/tla/task',
      type: 'post',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        job: jobId,
        level: level,
        remark: $('#txtRemark').val()
      },
      success: function (data) {
        alert(data.msg);
        LoadTasks();
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
      },
    })



    //reset components value
    $('#msgError').text('');
    $('#txtRemark').val('');

  });


  $("#assignJobModal").on('shown.bs.modal', function (e) {
    LoadTasks();
  });


  $(document).ready(function () {
    LoadJobLevels();
    $(document).on("click", "button[name='btnDelTask']", function () {

      let user = $(this).closest("tr").attr("id");
      if (confirm("Bạn thực sự muốn xóa tác vụ của nhân viên này?")) {
        $.ajax({
          url: '/tla/task',
          type: 'delete',
          headers: {
            authorization: "Bearer " + localStorage.getItem("accessToken"),
          },
          data: {
            jobId,
            user
          },
          success: function (data) {
            alert(data.msg);
            LoadTasks();
          },
          error: function (jqXHR, textStatus, errorThrown) {
            $('#msgError').text(jqXHR.responseJSON.msg);
          }
        })
      }
    })
  })


  function LoadJobLevels() {
    $.ajax({
      url: '/tla/job-level',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      success: function (data) {

        data.jl.forEach(j => {
          let opt = '<option value="' + j._id + '">' + j.name + '</option>';
          $('#slJobLevels').append(opt);
        })
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(jqXHR.responseJSON.msg);
      },
    })
  }






  function LoadTasks() {
    $("#tblEmployees").empty();
    $.ajax({
      url: '/tla/task/list',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        jobId
      },
      success: function (data) {
        let idx = 1;
        data.tasks.forEach(t => {
          
          let tr = '<tr id="' + t.staff._id + '">';
          tr += "<td>" + idx++ + "</td>";
          tr += "<td>" + t.staff.fullname + "</td>";
          tr += "<td>";
          if (t.editor)
            tr += '<i class="fa fa-check-square-o" aria-hidden="true"></i>';
          else tr += '<i class="fa fa-square-o" aria-hidden="true"></i>';
          tr += "</td>";

          if (t.qa)
            tr += '<td><i class="fa fa-check-square-o" aria-hidden="true"></i></td>';
          else tr += '<td><i class="fa fa-square-o" aria-hidden="true"></i></td>';

          tr += '<td>' + t.assigned_date + '</td>';
          tr += '<td>' + t.deadline + '</td>';

          tr += '<td><button class="btn btn-sm" name="btnDelTask"><i class="fa fa-trash text-danger" aria-hidden="true"></i></button></td>';
          tr += "</tr>";

          $("#tblEmployees").append(tr);
        })
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(jqXHR.responseJSON.msg);
      },
    });
  }



</script>