<div class="modal" tabindex="-1" id="assignJobModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body text-dark">
        <div class="panel panel-info mb-3">
          <div class="panel-heading font-weight-bold">Summary</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2">
                <label class="font-weight-bold">Job name:</label>
              </div>
              <div class="col-md-10">
                <label id="name_case" class="font-weight-bold font-italic"></label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label class="font-weight-bold">Remark:</label>
              </div>
              <div class="col-md-10">
                <label id="customer_remark" class="text-warning"></label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <label class="font-weight-bold">Intruction:</label>
              </div>
              <div class="col-md-10">
                <label id="job_intruction" class="text-warning"></label>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive mt-2">
          <table class="table mt-1 table-striped bg-white text-dark">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Level</th>
                <th scope="col">Remark</th>
                <th scope="col">Editor</th>
                <th scope="col">Q.C</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="tblTasks"></tbody>
          </table>
        </div>




        <div class="form-row" id="divLevel">

          <div class="col-sm-3">
            <select name="" id="slJobLevels" class="form-control"></select>
          </div>
          <div class="col-sm-7">
            <input type="text" name="txtRemark" id="txtRemark" class="form-control" placeholder="Level remark">
          </div>
          <div class="col-sm-2">
            <button class="btn btn-info" id="btnAddLevel">
              <i class="fa fa-plus" aria-hidden="true"></i>Add
            </button>
          </div>
        </div>
        <div class="form-row mt-3" id="divAssign">
          <div class="col-sm-6">
            <select name="" id="slStaffs" class="form-control"></select>
          </div>
          <div class="col-sm-1">Task:</div>
          <div class="col-sm-1 form-check">
            <input class="form-check-input" type="checkbox" value="" id="ckbEditor">
            <label class="form-check-label" for="flexCheckDefault">
              Editor
            </label>
          </div>
          <div class="col-sm-1 form-check">
            <input class="form-check-input" type="checkbox" value="" id="ckbQA">
            <label class="form-check-label" for="flexCheckDefault">
              Q.A
            </label>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-sm btn-warning" id="btnAssign">
              <i class="fa fa-check" aria-hidden="true"></i> Assign
            </button>
          </div>
          <div class="offset-sm-1 col-sm-1">
            <button class="btn btn-sm btn-black" id="btnCancelAssign">
              <i class="fa fa-times text-danger" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-12">
            <label class="font-weight-bold text-danger mt-3" id="msgError"></label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
  let idx = 1;
  var taskId = '';


  $('#btnAssign').on('click', function () {
    if (!$('#ckbQA').is(":checked") && !$('#ckbEditor').is(":checked")) {
      $('#msgError').text('Vui lòng chọn tác vụ Editor hoặc Q.A cho nhân viên này!!!');
      return;
    }


    $.ajax({
      url: '/tla/task/',
      type: 'put',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        taskId,
        staff: $('#slStaffs option:selected').val(),
        editor: $('#ckbEditor').is(":checked"),
        qa: $('#ckbQA').is(":checked")
      },
      success: function (data) {
        $('#msgError').text(data.msg);
        LoadTasks();
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(jqXHR.responseJSON.msg);
      },
    })
  })

  $("#btnAddLevel").click(function () {
    let level = $("#slJobLevels option:selected").val();
    let name = $("#slJobLevels option:selected").text();




    $.ajax({
      url: '/tla/task',
      type: 'post',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        job: jobId,
        level: level,
        remark: $('#txtRemark').val()
      },
      success: function (data) {
        $('#msgError').text(data.msg);
        $('#msgError').show();
        $('#msgError').hide(2000);
        LoadTasks();
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
      },
    })



    //reset components value
    $('#msgError').text('');
    $('#txtRemark').val('');

  });




  $("#assignJobModal").on('shown.bs.modal', function (e) {
    LoadTasks();
    LoadJobLevels();
  });


  $(document).ready(function () {
   
    LoadStaffs();
    $('#divAssign').hide();

  })
  $('#btnCancelAssign').on('click', function () {
    $('#divAssign').hide(100);
    $('#divLevel').show(500);
    taskId = '';
  })

  $(document).on("click", "button[name='btnAssignStaff']", function () {
    taskId = $(this).closest("tr").attr("id");
    $('#divAssign').show(500);
    $('#divLevel').hide(100);
  })

  $(document).on("click", "button[name='btnDelTask']", function () {

    let _id = $(this).closest("tr").attr("id");
    if (confirm("Are you sure to delete this level?")) {
      $.ajax({
        url: '/tla/task',
        type: 'delete',
        headers: {
          authorization: "Bearer " + localStorage.getItem("accessToken"),
        },
        data: {
          _id
        },
        success: function (data) {
          $('#msgError').text(data.msg);
          $('#msgError').show();
          $('#msgError').hide(2000);
          LoadTasks();
        },
        error: function (jqXHR, textStatus, errorThrown) {
          $('#msgError').text(jqXHR.responseJSON.msg);
        }
      })
    }
  })





  function LoadStaffs() {
    $.ajax({
      url: '/tla/user/list',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      success: function (data) {
        data.users.forEach(u => {
          let opt = '<option value="' + u._id + '">' + u.fullname + '</option>';
          $('#slStaffs').append(opt);
        })
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(jqXHR.responseJSON.msg);
      },
    })
  }

  function LoadJobLevels() {
    
    $.ajax({
      url: '/tla/job-level',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data:{
        customerId
      },

      success: function (data) {
        $('#slJobLevels').empty();
        data.jl.forEach(j => {
          let opt = '<option value="' + j._id + '">' + j.name + '</option>';
          $('#slJobLevels').append(opt);
        })
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(jqXHR.responseJSON.msg);
      },
    })
  }






  function LoadTasks() {
    $("#tblTasks").empty();
    $.ajax({
      url: '/tla/task/list',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        jobId
      },
      success: function (data) {
        let idx = 1;
        data.tasks.forEach(t => {
          let tr = '<tr id="' + t._id + '">';
          tr += "<td>" + idx++ + "</td>";
          tr += "<td class='font-weight-bold text-info'>" + t.level.name + "</td>";
          tr += "<td>" + t.remark + "</td>";






          tr += '<td>';
          if (t.editor_assigned)
            tr += t.editor.fullname;
          else tr += '';
          tr += "</td>";

          tr += '<td>';
          if (t.qa_assigned)
            tr += t.qa.fullname;
          else tr += '';



          tr += '<td class="text-right">';

          tr += '<button class="btn btn-xs btn-primary" name="btnAssignStaff"><i class="fa fa-plus" aria-hidden="true"></i> Assign staff</button>';
          tr += '<button class="ml-1 btn btn-xs btn-danger" name="btnDelTask"><i class="fa fa-trash text-white" aria-hidden="true"></i></button>';
          tr += '</td>';
          tr += "</tr>";

          $("#tblTasks").append(tr);
        })
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(jqXHR.responseJSON.msg);
      },
    });
  }



</script>