<div class="modal" tabindex="-1" id="assignJobModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body text-dark">
        <div class="card mb-3">
          <div class="card-header font-weight-bold">Summary</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <label class="font-weight-bold">Job name:</label>
              </div>
              <div class="col-md-9">
                <label id="name_case" class="font-weight-bold font-italic"></label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label class="font-weight-bold">Remark:</label>
              </div>
              <div class="col-md-9">
                <label id="customer_remark" class="text-warning"></label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <label class="font-weight-bold">Intruction:</label>
              </div>
              <div class="col-md-9">
                <label id="job_intruction" class="text-warning"></label>
              </div>
            </div>
          </div>
        </div>

        <table class="table mt-1 table-striped bg-white text-dark">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Employee</th>
              <th scope="col">Editor</th>
              <th scope="col">Q.C</th>
              <th scope="col">Assigned date</th>
              <th scope="col">Deadline</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="tblEmployees"></tbody>
        </table>

        <hr />
        <div class="form-row">

          <div class="col-sm-3">
            <select name="" id="slEmployees" class="form-control"></select>
          </div>

          <div class="col-sm-1 mt-2">
            <label class="font-weight-bold text-danger pl-2">Task: </label>
          </div>

          <div class="col-sm-1 form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="ckbEditor">
            <label class="form-check-label font-weight-bold" for="inlineRadio1">Editor</label>
          </div>

          <div class="form-check form-check-inline col-sm-1">
            <input class="form-check-input" type="checkbox" value="" id="ckbQA">
            <label class="form-check-label font-weight-bold" for="inlineRadio2">Q.A</label>
          </div>

          <div class="col-sm-1 mt-2">
            <label for="">Deadline: </label>
          </div>

          <div class="col-sm-3">
            <input type="text" name="" id="txtDeadline" class="form-control ml-1">
          </div>

          <div class="col-sm-1">
            <button class="btn btn-info" id="btnAddUser">
              <i class="fa fa-plus" aria-hidden="true"></i>Add
            </button>
          </div>
        </div>


        <div class="form-row">
          <div class="col-sm-12">
            <label class="font-weight-bold text-danger mt-3" id="msgError"></label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="btnSubmit">
          Submit task
        </button>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
  let idx = 1;
  let task = [];
  $("#btnAddUser").click(function () {
    let user_id = $("#slEmployees option:selected").val();
    let fullname = $("#slEmployees option:selected").text();
    let exist = false;




    $("#tblEmployees tr").each(function () {
      if (this.id == user_id) {
        $('#msgError').text("Nhân viên này đã được xếp công việc!");
        exist = true;
        return;
      }
    });


    if (!$('#ckbEditor').is(':checked') && !$('#ckbQA').is(':checked')) {
      $('#msgError').text("Vui lòng thiết lập công việc cho nhân viên này!");
      return;
    }

    if ($('#txtDeadline').val().length < 12) {
      $('#msgError').text("Vui lòng nhập deadline của task này!");
      return;
    }

    let deadline = new Date(Date.parse($('#txtDeadline').val()));

    //validate deadline
    // if(deadline<=new Date($.now())){
    //   $('#msgError').text("Deadline của task không hợp lệ!");
    //   return;
    // }


    if (!exist) {
      let el = {
        jobId: jobId,
        user: user_id,
        is_qa: $("#ckbQA").is(":checked"),
        is_editor: $("#ckbEditor").is(":checked"),
        assigned_date: formatDate(new Date($.now())),
        deadline: $('#txtDeadline').val()
      }

      task.push(el);
      let tr = '<tr id="' + user_id + '">';
      tr += "<td>" + idx++ + "</td>";
      tr += "<td>" + fullname + "</td>";
      tr += "<td>";
      if ($("#ckbEditor").is(":checked"))
        tr += '<i class="fa fa-check-square-o" aria-hidden="true"></i>';
      else tr += '<i class="fa fa-square-o" aria-hidden="true"></i>';
      tr += "</td>";

      if ($("#ckbQA").is(":checked"))
        tr += '<td data-task="QC"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>';
      else tr += '<td data-task="Editor"><i class="fa fa-square-o" aria-hidden="true"></i></td>';

      tr += '<td>' + formatDate(new Date($.now())) + '</td>';
      tr += '<td>' + $('#txtDeadline').val() + '</td>';

      tr += '<td><button class="btn btn-sm" name="btnDelTask"><i class="fa fa-trash text-danger" aria-hidden="true"></i></button></td>';
      tr += "</tr>";

      $("#tblEmployees").append(tr);


      //reset components value
      $('#msgError').text('');
      $('#ckbEditor').prop('checked', false);
      $('#ckbQA').prop('checked', false);
      $('#txtDeadline').val('');
    }
  });

  $("#btnSubmit").click(function () {
    if ($('#tblEmployees tr').length == 0) {
      $('#msgError').text('Vui lòng thiết lập tác vụ cho nhân viên trước khi tiếp tục!');
      return;
    }

    $.ajax({
      url: '/tla/task',
      type: 'post',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        task
      },
      success: function (data) {
        alert(data.msg);
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
      },
    })
  });


  $("#assignJobModal").on('shown.bs.modal', function (e) {   
    LoadTasks();
  });


  $(document).ready(function () {
    $(document).on("click", "button[name='btnDelTask']", function () {

      let user = $(this).closest("tr").attr("id");
      if (confirm("Bạn thực sự muốn xóa tác vụ của nhân viên này?")) {
        $.ajax({
          url: '/tla/task',
          type: 'delete',
          headers: {
            authorization: "Bearer " + localStorage.getItem("accessToken"),
          },
          data: {
            jobId,
            user
          },
          success: function (data) {
            alert(data.msg);
            LoadTasks();
          },
          error: function (jqXHR, textStatus, errorThrown) {
            $('#msgError').text(jqXHR.responseJSON.msg);
          }
        })
      }
    })
  })



  $('#txtDeadline').inputmask("datetime", {
    mask: "1/2/y h:s",
    placeholder: "dd/mm/yyyy hh:mm",
    leapday: "-02-29",
    separator: "/",
    alias: "dd/mm/yyyy hh:mm"
  })


  function LoadTasks() {
    $("#tblEmployees").empty();
    $.ajax({
      url: '/tla/task/list',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        jobId
      },
      success: function (data) {
        let idx = 1;
        data.tasks.forEach(t => {

          let tr = '<tr id="' + t.staff._id + '">';
          tr += "<td>" + idx++ + "</td>";
          tr += "<td>" + t.staff.fullname + "</td>";
          tr += "<td>";
          if (t.editor)
            tr += '<i class="fa fa-check-square-o" aria-hidden="true"></i>';
          else tr += '<i class="fa fa-square-o" aria-hidden="true"></i>';
          tr += "</td>";

          if (t.qa)
            tr += '<td><i class="fa fa-check-square-o" aria-hidden="true"></i></td>';
          else tr += '<td><i class="fa fa-square-o" aria-hidden="true"></i></td>';

          tr += '<td>' + t.assigned_date + '</td>';
          tr += '<td>' + t.deadline + '</td>';

          tr += '<td><button class="btn btn-sm" name="btnDelTask"><i class="fa fa-trash text-danger" aria-hidden="true"></i></button></td>';
          tr += "</tr>";

          $("#tblEmployees").append(tr);
        })
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(jqXHR.responseJSON.msg);
      },
    });
  }


  function formatDate(d) {
    date = new Date(d)
    var dd = date.getDate();
    var mm = date.getMonth() + 1;
    var yyyy = date.getFullYear();

    var hh = date.getHours();
    var MM = date.getMinutes();
    if (dd < 10) { dd = '0' + dd }
    if (mm < 10) { mm = '0' + mm };
    if (MM < 10) { MM = '0' + MM };
    if (hh < 10) { hh = '0' + hh };
    return d = dd + '/' + mm + '/' + yyyy + ' ' + hh + ':' + MM;
  }


</script>