
<ul class="nav nav-tabs">
  <li class="active font-weight-bold"><a data-toggle="tab" href="#job-list">Job list</a></li>
  <li class="font-weight-bold"><a data-toggle="tab" href="#task-list">Task list</a></li>  
</ul>

<div class="tab-content">
  <div id="job-list" class="tab-pane fade in active">
    <%-include('jobs-list')%>
  </div>
  <div id="task-list" class="tab-pane fade">
    <%-include('tasks-list')%>
  </div>  
</div>




