<div class="row mt-2">
    <div class="col-md-offset-9 col-md-3 col-sm-offset-8 col-sm-4 col-xs-12 text-right">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Seach task..." id="txtSearchTask" />
            <div class="input-group-btn">
                <button class="btn btn-info" type="submit" id="btnSearchTask">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="table-responsive mt-1" id="tblDetail">
    <table class="table mt-1 table-striped bg-white text-nowrap">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>

                <th scope="col">Job</th>
                <th scope="col">Level</th>
                <th scope="col">Begin date</th>
                <th scope="col">Deadline</th>
                <th scope="col">Editor</th>
                <th scope="col">Q.A</th>
                <th scope="col" class="text-right">I-N</th>
                <th scope="col" class="text-right">E-T</th>
                <th scope="col">Remark</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="tblLines">
        </tbody>
    </table>
</div>
<nav aria-label="...">
    <ul class="pagination pagination-sm">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
</nav>

<%-include('task_detail')%>

    <script>
        var page = 1;
        var search = '';
        $(document).ready(function () {
            LoadTasksList();
        })

        $(document).on("click", "button[name='task-info']", function () {
            taskId = $(this).closest('tr').attr('id');
            $('#modalTaskDetail').modal();
        })

        function LoadTasksList() {
            $('#tblLines').empty();
            $.ajax({
                url: '/tla/task',
                type: 'get',
                headers: {
                    authorization: "Bearer " + localStorage.getItem("accessToken"),
                },
                data: {
                    search,
                    page
                },
                success: function (data) {
                    let idx = 1;
                    data.tasks.forEach(t => {
                        let tr = '<tr id="' + t._id + '">';
                        tr += '<td>' + (idx++) + '</td>';

                        tr += '<td>';
                        tr += '<button class="btn btn-xs btn-danger" name="assign-job"><i class="fa fa-ban text-danger" aria-hidden="true"></i> Cancel</button>';
                        if (t.status == -1) {
                            tr += '<button class="btn btn-xs btn-info ml-2" name="assign-editor"><i class="fa fa-user" aria-hidden="true"></i> Editor</button>';
                            tr += '<button class="ml-2 btn btn-xs btn-primary" name="btnAssignStaffAuto"><i class="fa fa-refresh" aria-hidden="true"></i> ASE</button>';

                        }
                        if ((typeof t.qa === 'undefined' || t.qa === null) && t.status < 2) {
                            tr += '<button class="btn btn-xs btn-warning ml-2" name="assign-qa"><i class="fa fa-user" aria-hidden="true"></i> Q.A</button>';
                        }
                        tr += '</td>';


                        tr += '<td class="text-primary font-weight-bold">' + t.job.name + '</td>';
                        tr += '<td class="text-warning font-weight-bold">' + t.level.name + '</td>';
                        tr += '<td>' + convertISODateToTimeFormat(t.job.received_date) + '</td>';
                        tr += '<td>' + convertISODateToTimeFormat(t.job.delivery_date) + '</td>';



                        tr += '<td>';
                        if (t.editor) {
                            tr += t.editor.fullname
                        }
                        tr += '</td>';
                        tr += '<td>';
                        if (t.qa) {
                            tr += t.qa.fullname
                        }
                        tr += '</td>';


                        tr += '<td class="text-right">';
                        if (t.editor) {
                            tr += t.amount
                        } else {
                            tr += '';
                        }

                        tr += '<td class="text-right">' + t.edited_time + '</td>';

                        tr += '</td>';


                        tr += '<td>' + t.remark + '</td>';


                        tr += '<td><i>';

                        switch (t.status) {
                            case -1: tr += '<span class="text-info">Initial</span>';
                                break;
                            case 0: tr += '<span class="text-info">Processing</span>';
                                break;
                            case 1:
                                {
                                    if (t.edited_time > 1) {
                                        tr += '<span class="text-primary">Fixed</span>';
                                    } else {
                                        tr += '<span class="text-primary">Edited</span>';
                                    }
                                    break;
                                }
                            case 2:
                                tr += '<span class="text-success">Q.A ok!</span>';
                                break;
                            case 3:
                                tr += '<span class="text-success">DC ok!</span>'
                                break;
                            case -2:
                                tr += '<span class="text-danger">Q.A rejected</span>';
                                break;
                            case -3:
                                tr += '<span class="text-danger">DC rejected</span>';
                                break;

                        }
                        tr += '</i></td>';

                        tr += '<td class="text-right">';
                        tr += '<button class="btn btn-xs btn-info ml-2" name="task-info"><i class="fa fa-info-circle" aria-hidden="true"></i></button>';
                        tr += '</td>';

                        tr += '</tr>';
                        $('#tblLines').append(tr);
                    })
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseJSON.msg);
                }
            })
        }
    </script>