
<div class="tableFixHead mt-3" id="tblDetail">

    <table class="table mt-1 table-striped bg-white text-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Case name</th>
                <th scope="col">Staff</th>
                <th scope="col">Assigned date</th>
                <th scope="col">Deadline</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody id="tblLines">
        </tbody>
    </table>
</div>