<div class="row mt-2">
    <div class="col-md-offset-9 col-md-3 col-sm-offset-8 col-sm-4 col-xs-12 text-right">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Seach task..." id="txtSearchTask" />
            <div class="input-group-btn">
                <button class="btn btn-info" type="submit" id="btnSearchTask">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="tableFixHead mt-1" id="tblDetail">
    <table class="table mt-1 table-striped bg-white text-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Job</th>
                <th scope="col">Begin date</th>
                <th scope="col">Deadline</th>               
                <th scope="col" class="text-center">Editor</th>
                <th scope="col" class="text-center">Q.A</th>
                <th scope="col" class="text-center">Remark</th>
                <th scope="col" class="text-right">Status</th>
            </tr>
        </thead>
        <tbody id="tblLines">
        </tbody>
    </table>
</div>
<nav aria-label="...">
    <ul class="pagination pagination-sm">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
</nav>

<script>
    var page = 1;
    var search = '';
    $(document).ready(function () {
        LoadTasksList();
    })

    function LoadTasksList() {
        $('#tblLines').empty();
        $.ajax({
            url: '/tla/task',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                search,
                page
            },
            success: function (data) {
                
                let idx = 1;
                data.tasks.forEach(t => {
                    let tr = '<tr id="' + t._id + '">';
                    tr += '<td>' + (idx++) + '</td>';
                    tr += '<td class="text-danger font-weight-bold">' + t.job.name + '</td>';
                    tr += '<td>' + new Date( t.job.received_date).toLocaleString() + '</td>';
                    tr += '<td>' +new Date( t.job.delivery_date).toLocaleString()  + '</td>';                  
                                      


                    tr += '<td class="text-center">';
                        if(t.editor){
                            tr+= t.editor.fullname
                        }else{
                            tr+= '';
                        }
                    tr += '</td>';

                    tr += '<td class="text-center">';
                        if(t.qa){
                            tr+= t.qa.fullname
                        }else{
                            tr+= '';
                        }
                    tr += '</td>';

                    tr+= '<td>'+t.remark+'</td>';


                    tr += '<td class ="font-italic text-info text-right">';

                    switch (t.status) {
                        case -1: tr += 'Initial';
                            break;
                        case 0: tr += 'Editing';
                            break;
                        case 1:
                            tr += 'Edited';
                            break;
                        case 2:
                            tr += 'Q.A ok!';
                            break;
                        case 3:
                            tr += 'DC ok!'
                            break;
                        case -3:
                            tr += 'DC rejected';
                            break;

                    }
                    tr += '</td>';

                    tr += '</tr>';
                    $('#tblLines').append(tr);
                })
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg);
            }
        })
    }
</script>