<div class="modal" tabindex="-1" role="dialog" id="modalSubmitTask">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-primary text-white bg-dark">
                    <div class="panel-body">
                        <div class="form-row">
                            <div class="form-group col-md-7 col-sm-6 col-xs-5">
                                <label for="">Task output link <span class="text-danger">(!)</span>:</label>
                                <input type="text" name="" id="txtLink" class="form-control">
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 form-group">
                                <label for="">Amount:</label>
                                <input type="number" name="Amount" id="txtAmount" class="form-control text-right"
                                    value="1"
                                    onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                            </div>
                            <div class="form-group input-group col-md-3 col-sm-4 col-xs-5">
                                <button class="btn btn-primary" id="btnSubmitTaskDone" style="margin-top: 25px;">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    Submit done
                                </button>
                                <button type="button" class="close btn-xs" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label for="" class="text-danger font-weight-bold" id="lblError"></label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/common.js"></script>

<script>

    $("#modalSubmitTask").on('shown.bs.modal', function (e) {
        $.ajax({
            url: '/editor/task/detail',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                taskId
            },
            success: function (data) {
                $('#txtLink').val('');

                //trường hợp submit sau khi bị reject thì cho hiện lại số lượng ảnh đã submit trước đó
                if (data.task.editor.length > 0 && data.task.editor[data.task.editor.length - 1].submited.length > 0) {
                    $('#txtAmount').val(data.task.editor[data.task.editor.length - 1].submited[data.task.editor[data.task.editor.length - 1].submited.length - 1].amount);
                } else {
                    $('#txtAmount').val('');
                }
            }, error: function (request, status, error) {
                alert(request.responseJSON.msg)
            }
        })
    });
    $('#modalSubmitTask').on('hidden.bs.modal', function () {
        LoadTasks();
    });

    $('#btnSubmitTaskDone').click(function () {
        let output_link = $('#txtLink').val();
        let amount = $('#txtAmount').val();

        if (amount.length == 0) {
            $('#lblError').text('(!) Please enter amount to continue');
            $('#lblError').show().delay(5000).fadeOut();
            return;
        }


        $.ajax({
            url: '/editor/task/submit',
            type: 'put',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                taskId,
                output_link,
                editor_done: strToDate(getCurrentTime()),
                amount
            },
            success: function (data) {
                $.toast({
                    heading: 'Successfully',
                    text: data.msg,
                    showHideTransition: 'fade',
                    icon: 'success'
                });
                $('#modalSubmitTask').modal('hide');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                Swal.fire({
                    icon: 'error',
                    title: 'Opp..',
                    text: jqXHR.responseJSON.msg
                });
            }
        })
    })

    //ràng buộc nhập dữ liệu, chỉ cho nhập kiểu số thực
    $("#txtAmount").on("keypress keyup blur", function (event) {
        //this.value = this.value.replace(/[^0-9\.]/g,'');
        $(this).val(
            $(this)
                .val()
                .replace(/[^0-9]/g, "")
        );
        if (
            (event.which != 46 || $(this).val().indexOf(".") != -1) &&
            (event.which < 48 || event.which > 57)
        ) {
            event.preventDefault();
        }
    });
</script>