<div class="modal" tabindex="-1" role="dialog" id="modalTaskDetail">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-primary text-white bg-dark">
                    <div class="panel-heading"> <button class="btn btn-xs btn-primary" id="btn-task-info">Show job info
                            <i class="fa fa-arrow-down" aria-hidden="true"></i></button> </div>
                    <div class="panel-body" id="job-info">

                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-4">Job name:</div>
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <label id="lblJobName" class="text-info font-weight-bold"></label>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-4">Job level:</div>
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <label id="lblLevelName" class="text-info font-weight-bold"></label>
                            </div>
                        </div>



                        <div class="row mt-2">
                            <div class="col-md-2 co-sm-4 col-xs-4">Assigne date:</div>
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <label id="lblAssignDate"></label>
                            </div>
                            <div class="col-md-2 co-sm-4 col-xs-4">Deadline:</div>
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <label id="lblDeadline" class="text-danger"></label>
                            </div>
                        </div>




                        <hr />

                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-4">
                                Intruction:
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-8">
                                <label id="lblIntruction"></label>
                            </div>
                        </div>


                        <hr />
                        <div class="row mt-2">
                            <div class="col-md-2 col-sm-2 col-xs-4">Source:</div>

                            <div class="col-md-10 col-sm-10 col-xs-8" id="divInputLink">
                                <div class="input-group" id="divFolder">
                                    <input type="text" class="form-control" id="inputLink" value="" readonly
                                        style="background-color: white;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-info" type="submit" id="btnCopyToClipboard">
                                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-2 col-sm-2 col-xs-4">Output:</div>

                            <div class="col-md-10 col-sm-10 col-xs-8" id="divOutputLink">
                                <div class="input-group" id="divFolderOutput">
                                    <input type="text" class="form-control" id="outputLink" value="" readonly
                                        style="background-color: white;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-info" type="submit" id="btnCopyToClipboardOutput">
                                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="panel panel-info mt-2">
                            <div class="panel-heading">Job style info</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2 col-sm-3 col-xs-4">National style:</div>
                                    <div class="col-md-4 col-sm-3 col-xs-8 font-weight-bold" id="divNationalStyle">
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-4">Color:</div>
                                    <div class="col-md-4 col-sm-3 col-xs-8 font-weight-bold" id="divColor"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2 col-sm-3 col-xs-4">Size:</div>
                                    <div class="col-md-4 col-sm-3 col-xs-8 font-weight-bold" id="divSize"></div>

                                    <div class="col-md-2 col-sm-3 col-xs-4">Output:</div>
                                    <div class="col-md-4 col-sm-3 col-xs-8 font-weight-bold" id="divOutput"></div>
                                </div>



                                <hr />
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-2 mt-1">Align: </div>
                                    <div id="divAlign" class="font-weight-bold col-md-5 col-sm-5 col-xs-10 mt-1"></div>

                                    <div class="col-md-1 col-sm-1 col-xs-2 mt-1">Sky:</div>
                                    <div id="divSky" class=" font-weight-bold col-md-5 col-sm-5 col-xs-10 mt-1"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-2 mt-1">Fire:</div>
                                    <div id="divFire" class="font-weight-bold col-md-5 col-sm-5 col-xs-10 mt-1"></div>

                                    <div class="col-md-1 col-sm-1 col-xs-2 mt-1">TV:</div>
                                    <div id="divTV" class=" font-weight-bold col-md-5 col-sm-5 col-xs-10 mt-1"></div>
                                </div>


                            </div>
                        </div>



                    </div>
                    <div class="panel panel-warning mt-2">
                        <div class="panel-heading font-weight-bold">Remark:</div>
                        <div class="panel-body" id="remarks"></div>
                    </div>

                    <div class="panel-footer">
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="/js/common.js"></script>

<script>
    $('#btn-task-info').click(function () {
        if ($('#job-info').is(":hidden")) {
            $('#job-info').slideDown(1000);
            $('#btn-task-info').html('Hide job info <i class="fa fa-arrow-up" aria-hidden="true"></i>')
        } else {
            $('#btn-task-info').html('Show job info <i class="fa fa-arrow-down" aria-hidden="true"></i>');
            $('#job-info').slideUp(1000);
        }
    })

    $("#modalTaskDetail").on('shown.bs.modal', async function (e) {
        $('#job-info').hide();
        await LoadTaskDetail();
    });

    $('#btnCopyToClipboard').click(function () {
        $("#inputLink").select();
        document.execCommand('copy');
        Swal.fire(
            'Great!!',
            'Local url copied to clipboard',
            'success'
        )
    })

    function LoadTaskDetail() {
        return $.ajax({
            url: '/editor/task/detail',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                taskId
            },
            success: function (data) {
                $('#divNationalStyle').html(data.customer.style.nation.name)
                $('#divColor').html(data.customer.style.color.name)

                $('#divOutput').html(data.customer.style.output.name)

                $('#divSize').html(data.customer.style.size.name)
                $('#lblNoteStyle').text(data.customer.style.style_note);

                $('#lblJobName').text(data.task.basic.job.name);

                $('#lblLevelName').text(data.task.basic.level.name);
                $('#lblAssignDate').text(convertISODateToTimeFormat(data.task.basic.deadline.begin));
                if (data.task.basic.deadline.end) {
                    $('#lblDeadline').text(convertISODateToTimeFormat(data.task.basic.deadline.end));
                } else {
                    $('#lblDeadline').text('');
                }

                $('#lblIntruction').text(data.task.basic.job.intruction);


                $('#remarks').empty();
                data.task.remarks.forEach(r => {
                    let item = '<div class="row mt-2">';
                    item += '<div class="col-md-4 col-sm-4 col-xs-12"><span class="font-weight-bold text-primary">' + r.created.by.fullname + '</span>(' + convertISODateToTimeFormat(r.created.at) + '):</div>';
                    item += '<div class="col-md-8 col-sm-8 col-xs-12 text-danger font-italic">' + r.content + '</div>';
                    item += '</div>';

                    $('#remarks').append(item);
                })



                if (isValidHttpUrl(data.task.basic.link.input)) {
                    $('#divFolder').slideUp();
                    $('#divInputLink').html('<a href="' + data.task.basic.link.input + '" target="_blank" rel="noopener noreferrer">Link</a>')
                } else {
                    $('#divFolder').slideDown(200);
                    $('#inputLink').val(data.task.basic.link.input);
                }

                if (data.task.status === 4) {//uploaded
                    $('#divOutputLink').html('<a href="' + data.task.tla.uploaded[data.task.tla.uploaded.length - 1].link + '" target="_blank" rel="noopener noreferrer">Link</a>')
                } else {
                    if (data.task.editor && data.task.editor.length > 0) {
                        if (data.task.editor[data.task.editor.length - 1].submited.length > 0 && data.task.editor[data.task.editor.length - 1].submited) {
                            if (isValidHttpUrl(data.task.editor[data.task.editor.length - 1].submited[data.task.editor[data.task.editor.length - 1].submited.length - 1].link)) {
                                $('#divFolderOutput').slideUp();
                                $('#divOutputLink').html('<a href="' + data.task.editor[data.task.editor.length - 1].submited[data.task.editor[data.task.editor.length - 1].submited.length - 1].link + '" target="_blank" rel="noopener noreferrer">Link</a>')
                            } else {
                                $('#divFolderOutput').slideDown(200);
                                $('#outputLink').val(data.task.editor[data.task.editor.length - 1].submited[data.task.editor[data.task.editor.length - 1].submited.length - 1].link);
                            }
                        }
                    }
                }




                if (data.customer.style.align.checked) {
                    $('#divAlign').html('<i class="fa fa-check-square-o"></i>  <span class="text-warning">' + data.customer.style.align.note + '</span>');
                } else {
                    $('#divAlign').html('<i class="fa fa-square-o"></i>');
                }


                if (data.customer.style.sky.checked) {
                    $('#divSky').html('<i class="fa fa-check-square-o"></i>   <span class="text-warning">' + data.customer.style.sky.note + '</span>');
                } else {
                    $('#divSky').html('<i class="fa fa-square-o"></i>');
                }


                if (data.customer.style.tv.checked) {
                    $('#divTV').html('<i class="fa fa-check-square-o"></i>   <span class="text-warning">' + data.customer.style.tv.note + '</span>');
                } else {
                    $('#divTV').html('<i class="fa fa-square-o"></i>');
                }


                if (data.customer.style.fire.checked) {
                    $('#divFire').html('<i class="fa fa-check-square-o"></i>   <span class="text-warning">' + data.customer.style.fire.note + '</span>');
                } else {
                    $('#divFire').html('<i class="fa fa-square-o"></i>');
                }
            }, error: function (request, status, error) {
                alert(request.responseJSON.msg)
            }
        })
    }
</script>