<div class="modal" tabindex="-1" role="dialog" id="modalBonusOrPenalty">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-primary text-white bg-dark">
                    <div class="panel-heading font-weight-bold"><i class="fa fa-info-circle" aria-hidden="true"></i>
                        <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
                        Bonus or penalty remark
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-3">
                                <label class="radio-inline"><input type="radio" name="optradio" checked
                                        value="bonus">Bonus</label>
                                <label class="radio-inline"><input type="radio" name="optradio"
                                        value="penalty">Penalty</label>
                            </div>
                            <div class="col-md-3">
                                <select id="slBPList" class="form-control"></select>
                            </div>
                            <div class="col-md-4">
                                <input type="text" placeholder="Remark" id="txtBPRemark" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-info" id="btnSubmitBP">Submit</button>
                            </div>
                        </div>

                        <label class="text-danger font-weight-bold" id="lblBPMessage"></label>
                    </div>

                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var is_bonus = true;
    $(document).ready(function(){
        LoadBonusOrPenalty();
    })
    $('input[type=radio][name=optradio]').change(function () {
        is_bonus = $(this).val() === 'bonus' ? true : false;
        LoadBonusOrPenalty();
    });

    function LoadBonusOrPenalty() {
        $.ajax({
            url: '/dc/bonus-penalty/list',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data:{is_bonus},
            success:function(data){
                $('#slBPList').empty();
                data.bpList.forEach(bp=>{
                    $('#slBPList').append('<option value="'+bp._id+'">'+bp.name+'</option>');
                })
            },
            error: function (request, status, error) {
                alert(request.responseJSON.msg)              
            }
        })
    }

    $('#btnSubmitBP').click(function () {
       
        let remark = $('#txtBPRemark').val();
        
        let bpId = $('#slBPList option:selected').val();

        if (remark.trim().length === 0) {
            $('#lblBPMessage').text('(!) Please input remark');
            $('#lblBPMessage').show().delay(2000).fadeOut();
            return;
        }

         
        if(typeof bpId === 'undefined' || bpId === null){
            $('#lblBPMessage').text('(!) Please contact your administrator to set bonus or penalty list first');
            $('#lblBPMessage').show().delay(2000).fadeOut();
            return;
        }
        $.ajax({
            url: '/dc/task/mark',
            type: 'put',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                taskId,
                bpId:$('#slBPList option:selected').val(),
                remark
            },
            success: function (data) {
                alert(data.msg);
                $('#modalBonusOrPenalty').modal('hide');
                LoadTasks();
            },
            error: function (request, status, error) {
                alert(request.responseJSON.msg)
            }

        })
    })
</script>