<div class="panel panel-info">
  <div class="panel-heading font-weight-bold">Basic information</div>
  <div class="panel-body">
    <form>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="recipient-name" class="col-form-label">Firstname:</label>
          <input type="text" class="form-control" id="txtFirstname" placeholder="Firstname"/>
        </div>
        <div class="form-group col-md-2">
          <label for="recipient-name" class="col-form-label">Lastname:</label>
          <input type="text" class="form-control" id="txtLastname" placeholder="Lastname"/>
        </div>
        <div class="form-group col-md-4">
          <label for="recipient-name" class="col-form-label">Email:</label>
          <input type="email" class="form-control" id="txtEmail" placeholder="Email" />
        </div>
        <div class="form-group col-md-2">
          <label for="recipient-name" class="col-form-label">Password:</label>
          <input type="password" class="form-control" id="txtPassword" placeholder="Password" value="123"/>
        </div>
        <div class="form-group col-md-2">
          <label for="recipient-name" class="col-form-label"
            >Confirm password:</label
          >
          <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Confirm password" value="123"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="recipient-name" class="col-form-label">Phone:</label>
          <input type="text" class="form-control" id="txtPhone" placeholder="Phone"/>
        </div>
        <div class="form-group col-md-8">
          <label for="recipient-name" class="col-form-label">Address:</label>
          <input type="text" class="form-control" id="txtAddress" placeholder="Address"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="recipient-name" class="col-form-label">Local storage:</label>
          <input type="text" class="form-control" id="txtLocalStorage" placeholder="Local storage"/>
        </div>
        <div class="form-group col-md-8">
          <label for="recipient-name" class="col-form-label">Cloud storage:</label>
          <input type="text" class="form-control" id="txtCloudStorage" placeholder="Cloud storage"/>
        </div>
      </div>
    </form>
  </div>
</div>

