<div class="card bg-dark text-white mt-2">
    <div class="card-header">Contract detail</div>
    <div class="card-body">
        <form>
            
            <div class="form-row mb-1">
              <div class="col-md-2">
                  <label for="">Level</label>                  
              </div>
              <div class="col-md-5">
                  <select name="" id="" class="form-control">
                      <option value="">Single</option>
                  </select>
              </div>
              <div class="col-md-5">
                <input type="text" name="" id="" class="form-control" placeholder="price">
              </div>
            </div>
            <div class="form-row">
                <div class="col-md-2">
                    <label for="">Level</label>                  
                </div>
                <div class="col-md-5">
                    <select name="" id="" class="form-control">
                        <option value="">Multi</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <input type="text" name="" id="" class="form-control" placeholder="price">
                </div>
              </div>
           
        </form>
       
            <button class="btn btn-sm btn-info">Add new level</button>
           
        </div>
    </div>
</div>