<div class="row">
  <div class="col-md-2 col-sm-4 col-xs-6">
    <a href="/accountant/customer/create" class="btn btn-primary">
      <span>
        <i class="fa fa-plus" aria-hidden="true"></i>
      </span>
      Add New
    </a>
  </div>

  <div class="col-md-offset-4 col-sm-2 text-right">
    <div class="form-check mt-1">
      <input class="form-check-input" type="checkbox" checked id="ckbStatus" />
      <label class="form-check-label" for="defaultCheck1">
        Active
      </label>
    </div>
  </div>
  <div class=" col-md-4 text-right col-sm-6 col-xs-6">
    <!-- Another variation with a button -->
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Seach customer" id="txtSearch" />
      <div class="input-group-btn">
        <button class="btn btn-info" type="submit" id="btnSearch">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive mt-2">
  <table class="table table-striped mt-1">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="tblData"></tbody>
  </table>
</div>


<nav aria-label="Page navigation example" class="mt-2">
  <ul class="pagination" id="pagination">

  </ul>
</nav>





<%-include('modal')%>
  <%-include('style')%>
    <%-include('detail')%>

      <script>
        var search = "";
        var page = 1;
        var customerId = '';
        $(document).ready(() => {
          $("#direction").val("Quản lý khách hàng");
          LoadCustomers();
        });

        $('#btnSearch').click(function(){
          search = $('#txtSearch').val();
          LoadCustomers();
        })

        $("#btnAddNew").click(function () {
          $("#modalCustomer").modal();
        });
        $(".btnStyle").click(function () {
          $("#modalStyle").modal();
        });


        $(document).on("click", "button[name='view']", function () {
          customerId = $(this).closest("tr").attr("id");
          LoadCustomer(customerId);
          LoadCustomerLevels(customerId);
        });

        $(document).on("click", "button[name='update']", function () {
          customerId = $(this).closest("tr").attr("id");
          window.location.href = "/accountant/customer/update?id="+customerId;
        });




        function LoadCustomer(customerId) {
          $.ajax({
            url: "/accountant/customer/detail",
            type: "get",
            headers: {
              authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
              customerId
            },
            success: function (data, textStatus, xhr) {
            
              $('#modalCustomerDetail').modal();
              $('#fullname').text(data.customer.firstname + ' ' + data.customer.lastname);
              $('#phone').text(data.customer.phone);
              $('#email').text(data.customer.email);
              $('#address').text(data.customer.address);   
              
              


              $('#output').text(data.customer.output.name);
              $('#size').text(data.customer.size.name);
              $('#color_mode').text(data.customer.color.name);

              if (data.customer.is_align) {
                if (data.customer.align_note.length > 0) {
                  $('#align').text(data.customer.align_note);
                } else {
                  $('#align').html('<i class="fa fa-check-square-o" aria-hidden="true"></i>');
                }
              } else {
                $('#align').html('<i class="fa fa-square-o" aria-hidden="true"></i>');
              }





              $('#cloud').text(data.customer.cloud.name);

              $('#national_style').text(data.customer.nation.name);
              $('#remark').text(data.customer.remark);


              //special requests
              if (data.customer.has_TV) {               
                  $('#tv').html('<i class="fa fa-check-square-o"></i>  '+data.customer.TV_note);                
              } else {
                $('#tv').html('<i class="fa fa-square-o text-warning" aria-hidden="true"></i>');
              }

              if (data.customer.has_grass) {               
                  $('#grass').html('<i class="fa fa-check-square-o"></i> '+data.customer.grass_note);                
              } else {
                $('#grass').html('<i class="fa fa-square-o text-warning" aria-hidden="true"></i>');
              }

              if (data.customer.has_sky) {               
                  $('#sky').html('<i class="fa fa-check-square-o"></i> '+data.customer.sky_note);               
              } else {
                $('#sky').html('<i class="fa fa-square-o text-warning" aria-hidden="true"></i>');
              }


              if (data.customer.has_fire) {               
                  $('#fire').html('<i class="fa fa-check-square-o"></i> '+data.customer.fire_note);               
              } else {
                $('#fire').html('<i class="fa fa-square-o text-warning" aria-hidden="true"></i>');
              }


              LoadCustomerLevels(customerId);




            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert(jqXHR.responseJSON.msg + ". " + jqXHR.responseJSON.error);
            }
          })
        }

        function LoadCustomerLevels(customerId) {
          $.ajax({
            url: "/accountant/customer-level",
            type: "get",
            headers: {
              authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
              customerId
            },
            success: function (data, textStatus, xhr) {
              $('#tblLevelList').empty();
              let idx = 1;
              data.cl.forEach(i => {

                let tr = '<tr>';
                tr += '<td>' + (idx++) + '</td>';
                tr += '<td class="font-weight-bold text-danger">' + i.level.name + '</td>';
                tr += '<td class="text-warning text-right">' + i.price + '</td>';
                tr += '</tr>';
                $('#tblLevelList').append(tr);
              })

            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert(jqXHR.responseJSON.msg);
            },
          });
        }

        function LoadCustomers() {
          $.ajax({
            url: "/accountant/customer/list",
            type: "get",
            headers: {
              authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
              search,
              page,
              status:  $("#ckbStatus").is(":checked")
            },
            success: function (data, textStatus, xhr) {
              $('#tblData').empty();
              $('#pagination').empty();
              let idx = 1;
              data.result.forEach((customer) => {
                console.log(customer);
                let tr = "  <tr id='" + customer._id + "'>";
                tr += '<th scope="row">' + (idx++) + '</th>';
                tr += " <td class='font-weight-bold text-info'>" + customer.firstname + " " + customer.lastname + "</td>";
                tr += "<td>" + customer.phone + "</td>";
                tr += "<td>" + customer.email + "</td>";

                tr+= '<td>';
                  if(customer.status){
                    tr+= '<span class="text-success"><i class="fa fa-check-square-o" aria-hidden="true"></i> Active</span>';
                  }else{
                    tr+= '<span class="text-danger"><i class="fa fa-ban" aria-hidden="true"></i> Unactive</span>';
                  }
                  tr+= '</td>';

                tr += "<td class='text-right'>";
                tr +=
                  '<button class="btn btn-xs btn-info" name="view"><i class="fa fa-eye" aria-hidden="true"></i></button>';
                tr +=
                  '<button class="btn btn-xs btn-warning ml-2" name="update"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>';
                tr +=
                  '<button class="btn btn-xs btn-danger ml-2" name="delete"><i class="fa fa-trash" aria-hidden="true"></i></button>';
                tr += "</td>";
                $('#tblData').append(tr);
              });
              
              for (let i = 1; i <= data.pages; i++) {
                let li = '<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>';
                $('#pagination').append(li);
              }
            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert(jqXHR.responseJSON.msg + ". " + jqXHR.responseJSON.error);
            },
          });
        }
      </script>