<div class="row">
  <div class="col-md-offset-6 col-md-2 col-sm-2 text-right">
    <div class="form-check mt-1">
      <input class="form-check-input" type="checkbox" checked id="ckbStatus" />
      <label class="form-check-label" for="defaultCheck1">
        Active
      </label>
    </div>
  </div>
  <div class=" col-md-4 text-right col-sm-6 col-xs-6">
    <!-- Another variation with a button -->
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Seach customer" id="txtSearch" />
      <div class="input-group-btn">
        <button class="btn btn-info" type="submit" id="btnSearch">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <button class="btn btn-success" id="btnAddNew">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Add new
        </button>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive mt-2">
  <table class="table table-striped mt-1">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col" class="text-center">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="tblData"></tbody>
  </table>
</div>


<nav aria-label="Page navigation example" class="mt-2">
  <ul class="pagination pagination-sm" id="pagination">

  </ul>
</nav>

<label class="font-weight-bold text-success" id="lblSuccessMsg"></label>





<%-include('modal')%>

  <script>
    var search = "";
    var page = 1;
    var customerId = '';
    $(document).ready(() => {
      $("#direction").val("Quản lý khách hàng");
      LoadCustomers();
    });

    $('#btnSearch').click(function () {
      search = $('#txtSearch').val();
      LoadCustomers();
    })

    $("#btnAddNew").click(function () {
      customerId = '';
      $('#txtFirstname').val('');
      $('#txtLastname').val('');
      $('#txtEmail').val('');
      $('#txtPhone').val('');
      $('#txtAddress').val('');
      $('#ckbCustomerStatus').prop('checked', true);



      $('#ckbAlign').prop('checked', false);
      $('#txtAlign').val('');
      $('#txtAlign').prop('readonly', true);

      $('#ckbTV').prop('checked', false);
      $('#txtTV').val('');
      $('#txtTV').prop('readonly', true);

      $('#ckbGrass').prop('checked', false);
      $('#txtGrass').val('');
      $('#txtGrass').prop('readonly', true);

      $('#ckbSky').prop('checked', false);
      $('#txtSky').val('');
      $('#txtSky').prop('readonly', true);

      $('#ckbFire').prop('checked', false);
      $('#txtFire').val('');
      $('#txtFire').prop('readonly', true);

      $('#txtStyleNote').val('');
      $('#btnSubmit').show();
      $("#modalCustomer").modal();
    });


    $(document).on("click", "input[name='ckbActive']", function () {
      customerId = $(this).closest("tr").attr("id");

      $.ajax({
        url: '/accountant/customer/change-state',
        type: 'put',
        headers: {
          authorization: "Bearer " + localStorage.getItem("accessToken"),
        },
        data: { customerId },
        success: function (data) {
          LoadCustomers();
          $('#lblSuccessMsg').text(data.msg);
          $('#lblSuccessMsg').show().delay(2000).fadeOut();
        }
      })
    })

    $(document).on("click", "button[name='delete']", function () {
      customerId = $(this).closest("tr").attr("id");
      if (confirm("Are you sure want to delete this customer?")) {
        $.ajax({
          url: '/accountant/customer',
          type: 'delete',
          headers: {
            authorization: "Bearer " + localStorage.getItem("accessToken"),
          },
          data: {
            customerId
          },
          success: function (data) {
            alert(data.msg);
            LoadCustomers();
          }, error: function (jqXHR, textStatus, errorThrown) {
            alert(jqXHR.responseJSON.msg + ". " + jqXHR.responseJSON.error);
          },
        })
      }
    })

    $(document).on("click", "button[name='view']", function () {
      customerId = $(this).closest("tr").attr("id");
      LoadCustomer();
      $('#btnSubmit').hide();
    });

    $(document).on("click", "button[name='update']", function () {
      customerId = $(this).closest("tr").attr("id");
      LoadCustomer();
      $('#btnSubmit').show();
    });

    $(document).on("click", ".pagination li", function () {
      page = $(this).find('a').text();
      LoadCustomers();
    })


    function LoadCustomer() {
      $.ajax({
        url: "/accountant/customer/detail",
        type: "get",
        headers: {
          authorization: "Bearer " + localStorage.getItem("accessToken"),
        },
        data: {
          customerId
        },
        success: function (data) {
          $('#txtFirstname').val(data.customer.name.firstname);
          $('#txtLastname').val(data.customer.name.lastname);
          $('#txtEmail').val(data.customer.contact.email);
          $('#txtPhone').val(data.customer.contact.phone);
          $('#txtAddress').val(data.customer.contact.address);
          $('#ckbCustomerStatus').prop('checked', data.customer.status);

          $('#slNationalStyle').val(data.customer.style.nation);
          $('#slOutput').val(data.customer.style.output);
          $('#slSize').val(data.customer.style.size);
          $('#slColorMode').val(data.customer.style.color);
          $('#slCloud').val(data.customer.style.cloud);

          $('#ckbAlign').prop('checked', data.customer.style.align.checked);

          if (data.customer.style.align.checked) {
            $('#txtAlign').val(data.customer.style.align.note);
            $('#txtAlign').prop('readonly', false);
          } else {
            $('#txtAlign').val('');
            $('#txtAlign').prop('readonly', true);
          }

          $('#ckbTV').prop('checked', data.customer.style.tv.checked);
          if (data.customer.style.tv.checked) {
            $('#txtTV').val(data.customer.style.tv.note);
            $('#txtTV').prop('readonly', false);
          } else {
            $('#txtTV').val('');
            $('#txtTV').prop('readonly', true);
          }

          $('#ckbGrass').prop('checked', data.customer.style.grass.checked);
          if (data.customer.style.grass.checked) {
            $('#txtGrass').val(data.customer.style.grass.note);
            $('#txtGrass').prop('readonly', false);
          } else {
            $('#txtGrass').val('');
            $('#txtGrass').prop('readonly', true);
          }

          $('#ckbSky').prop('checked', data.customer.style.sky.checked);
          if (data.customer.style.sky.checked) {
            $('#txtSky').val(data.customer.style.sky.note);
            $('#txtSky').prop('readonly', false);
          } else {
            $('#txtSky').val('');
            $('#txtSky').prop('readonly', true);
          }


          $('#ckbFire').prop('checked', data.customer.style.fire.checked);
          if (data.customer.style.fire.checked) {
            $('#txtFire').val(data.customer.style.fire.note);
            $('#txtFire').prop('readonly', false);
          } else {
            $('#txtFire').val('');
            $('#txtFire').prop('readonly', true);
          }


          $('#txtStyleNote').val(data.customer.style.style_note);

          $('#modalCustomer').modal();

        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert(jqXHR.responseJSON.msg + ". " + jqXHR.responseJSON.error);
        }
      })
    }

    function LoadCustomers() {
      $.ajax({
        url: "/accountant/customer/list",
        type: "get",
        headers: {
          authorization: "Bearer " + localStorage.getItem("accessToken"),
        },
        data: {
          search,
          page,
          status: $("#ckbStatus").is(":checked")
        },
        success: function (data) {
          $('#tblData').empty();
          $('#pagination').empty();
          let idx = (page - 1) * data.pageSize;
          data.customers.forEach((customer) => {
            let tr = "  <tr id='" + customer._id + "'>";
            tr += '<td>';
            tr += '<button class="btn btn-success btn-xs" name="contract"><i class="fa fa-file" aria-hidden="true"></i> Contract</button>'
            tr += '</td>';
            tr += '<td scope="row">' + (++idx) + '</td>';
            tr += " <td class='font-weight-bold text-info'>" + customer.name.firstname + " " + customer.name.lastname + "</td>";
            tr += "<td>" + customer.contact.phone + "</td>";
            tr += "<td>" + customer.contact.email + "</td>";

            tr += '<td class="text-center">';
            if (customer.status) {
              tr += ' <input type="checkbox" name="ckbActive" checked>';
            } else {
              tr += ' <input type="checkbox" name="ckbActive">';
            }
            tr += '</td>';

            tr += "<td class='text-right'>";
            tr +=
              '<button class="btn btn-xs btn-info" name="view"><i class="fa fa-eye" aria-hidden="true"></i></button>';
            tr +=
              '<button class="btn btn-xs btn-warning ml-2" name="update"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>';
            tr +=
              '<button class="btn btn-xs btn-danger ml-2" name="delete"><i class="fa fa-trash" aria-hidden="true"></i></button>';
            tr += "</td>";
            $('#tblData').append(tr);
          });

          for (let i = 1; i <= data.pages; i++) {
            let li = '<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>';
            $('#pagination').append(li);
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert(jqXHR.responseJSON.msg + ". " + jqXHR.responseJSON.error);
        },
      });
    }
  </script>