<div class="modal" tabindex="-1" id="modalStyle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Customer style</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">File format</label>
                    <div class="col-sm-8">
                        <select name="" id="" class="form-control">
                            <option value="">JPEG</option>
                            <option value="">TFF</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Size mode</label>
                    <div class="col-sm-8">
                        <select name="" id="" class="form-control">
                            <option value="">3872px - 240 ppi</option>
                            <option value="">3000x2000 pixels</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Color mode mode</label>
                    <div class="col-sm-8">
                        <select name="" id="" class="form-control">
                            <option value="">Adobe 1998</option>
                            <option value="">sRGB</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Align</label>
                    <div class="col-sm-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                True
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="">Special requirements</label>
                    <div class="form-row">
                        <label for="" class="offset-sm-1 col-sm-3">FIRE</label>
                        <div class="col-sm-2">
                            <div class="form-group form-check mt-1">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
                                <label class="form-check-label" for="exampleCheck1">Yes</label>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="" class="offset-sm-1 col-sm-3">TV</label>
                        <div class="col-sm-2">
                            <div class="form-group form-check mt-1">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
                                <label class="form-check-label" for="exampleCheck1">Yes</label>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="" class="offset-sm-1 col-sm-3">SKY</label>
                        <div class="col-sm-2">
                            <div class="form-group form-check mt-1">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
                                <label class="form-check-label" for="exampleCheck1">Yes</label>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="" class="offset-sm-1 col-sm-3">Grass</label>
                        <div class="col-sm-2">
                            <div class="form-group form-check mt-1">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
                                <label class="form-check-label" for="exampleCheck1">Yes</label>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </div>

                </div>

                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Cloud</label>
                    <div class="col-sm-8">
                        <select name="" id="" class="form-control">
                            <option value="">Goodle Driver</option>
                            <option value="">Mediafire</option>
                            <option value="">Dropbox</option>
                        </select>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>