<div class="modal fade" id="modalWage" tabindex="-1" aria-labelledby="modalWage" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-primary">
                    <div class="panel-heading"> Add or update wage</div>
                    <div class="panel-body">

                        <div class="form-row">
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="recipient-name" class="col-form-label">Role:</label>
                                <select name="" id="slModule" class="form-control"></select>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="recipient-name" class="col-form-label">Staff level:</label>
                                <select name="" id="slStaffLevels" class="form-control"></select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="recipient-name" class="col-form-label">Local job level:</label>
                                <select name="" id="slJobLevel" class="form-control"></select>
                            </div>
                            <div class="form-group col-md-2 col-sm-2 col-xs-6">
                                <label for="recipient-name" class="col-form-label">Wage:</label>
                                <input type="text" class="form-control text-right" id="txtWage" value="0" />
                            </div>
                            <div class="form-group col-md-2 col-sm-2 col-xs-4 text-right">
                                <label for="recipient-name" class="col-form-label"></label><br>
                                <button class="btn btn-sm btn-success mt-1" id="btnSubmitWage">
                                    <i class="fa fa-floppy-o"></i>
                                    Add wage
                                </button>
                            </div>

                            <div class="form-group col-md-2 col-sm-2 col-xs-2">
                                <label for="recipient-name" class="col-form-label"></label><br>
                                <button class="btn btn-sm btn-secondary mt-1" id="btnCancel">
                                    Cancel
                                </button>
                            </div>
                        </div>

                        <hr />


                        <table class="table table-striped mt-2">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th scope="col">Job Level</th>
                                    <th scope="col">Staff Level</th>
                                    <th scope="col" class="text-right">Wage</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="tblWages"></tbody>
                        </table>



                        <div class="form-row">
                            <div class="col-md-12 col-xs-12 text-danger font-weight-bold" id="lblError"></div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script>

            $(document).ready(function () {
                LoadModule();
                LoadStaffLevels();
                $('#lblError').hide();
            })

            $("#slModule").change(function () {
                LoadWages();
            });


            $("#tblWages").on("click", "button[name='deleteWage']", function () {

                Swal.fire({
                    title: 'Are you sure want to delete this wage?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/admin/user-group/pull-wage',
                            type: 'put',
                            headers: {
                                authorization: "Bearer " + localStorage.getItem('accessToken'),
                            },
                            data: {
                                ugId,
                                wageId: $(this).closest("tr").attr("id")
                            },
                            success: function (data) {
                                Swal.fire(
                                    'Deleted!',
                                    data.msg,
                                    'success'
                                )
                                LoadWages();
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                $('#lblError').text(jqXHR.responseJSON.msg);
                                $('#lblError').show();
                            }

                        })

                    }
                })

            })




            $('#modalWage').on('shown.bs.modal', function (e) {
                $('#lblError').text('');
                $('#lblError').hide();
                $('#txtWage').text('0');
                moduleId = $('#slModule option:selected').val();
                LoadWages();
            })



            $('#btnSubmitWage').click(function () {
                let module = $('#slModule option:selected').val();

                let staff_lv = $('#slStaffLevels option:selected').val();
                let job_lv = $('#slJobLevel option:selected').val();
                let wage = parseFloat($('#txtWage').val());

                if (typeof module === "undefined") {
                    $('#lblError').text('(*) No acceptable module!');
                    $('#lblError').show().delay(3000).fadeOut();
                    return;
                }

                if (typeof job_lv === "undefined") {
                    $('#lblError').text('(*) No acceptable job level!');
                    $('#lblError').show().delay(3000).fadeOut();
                    return;
                }

                if (typeof staff_lv === "undefined") {
                    $('#lblError').text('(*) No acceptable staff level!');
                    $('#lblError').show().delay(3000).fadeOut();
                    return;
                }

                if (wage == 0 || isNaN(wage)) {
                    $('#lblError').text('(*) Wage is invalid');
                    $('#lblError').show().delay(3000).fadeOut();
                    return;
                }


                $.ajax({
                    url: '/admin/user-group/push-wage',
                    type: 'put',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem('accessToken'),
                    },
                    data: {
                        ugId,
                        module: $('#slModule option:selected').val(),
                        staff_lv,
                        job_lv,
                        wage
                    },
                    success: function (data) {
                        Swal.fire(
                            'Successfully!',
                            data.msg,
                            'success'
                        )
                        LoadWages();
                        $('#txtWage').text('0');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#lblError').text(jqXHR.responseJSON.msg);
                        $('#lblError').fadeIn().delay(3000).fadeOut();
                    }

                })
            })


            function LoadWages() {

                $.ajax({
                    url: '/admin/user-group/list-wage',
                    type: 'get',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem('accessToken'),
                    },
                    data: {
                        ugId,
                        module: $('#slModule option:selected').val()
                    },
                    success: function (data) {
                        $('#tblWages').empty();
                        let idx = 1;
                        console.log(data)
                        data.wages.forEach(w => {

                            let tr = '<tr id = "' + w._id + '">';
                            tr += '<td>' + (idx++) + '</td>';
                            tr += '<td class="text-warning font-weight-bold">' + w.job_lv.name + '</td>';
                            tr += '<td class="text-warning font-weight-bold">' + w.staff_lv.name + '</td>';
                            tr += '<td class="text-danger font-weight-bold text-right">' + w.wage + '</td>';
                            tr += '<td class="text-right"><button class="btn btn-xs btn-danger ml-1" name="deleteWage"><i class="fa fa-trash" aria-hidden="true"></i></button></td>';
                            tr += "</tr>";
                            tr += '</tr>';
                            $('#tblWages').append(tr);
                        })
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#lblError').text(jqXHR.responseJSON.msg);
                        $('#lblError').show();
                    }
                })
            }

            $("#txtWage").on("keypress keyup blur", function (event) {
                //this.value = this.value.replace(/[^0-9\.]/g,'');
                $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
                if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });

            $("#txtWage").focusout(_ => {
                if ($("#txtWage").val().trim().length === 0) {
                    $("#txtWage").val('0');
                }
            })

            $('#slStaffLevels').change(function () {
                LoadJobLevelsBasedOnStaffLevel();
            })


            function LoadStaffLevels() {
                $.ajax({
                    url: '/admin/staff-level',
                    type: 'get',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem('accessToken'),
                    },
                    success: function (data) {
                        $('#slStaffLevels').empty();
                        data.levels.forEach(l => {
                            let lvNames = (l.levels.map(x => x.name)).toString();
                            let opt = '<option value="' + l._id + '">' + l.name + ' [ ' + lvNames + ' ] </option>';
                            $('#slStaffLevels').append(opt);
                        });
                        LoadJobLevelsBasedOnStaffLevel();
                    }
                })
            }

            function LoadJobLevelsBasedOnStaffLevel() {
                $.ajax({
                    url: '/admin/staff-level/get-jobs',
                    type: 'get',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem('accessToken'),
                    },
                    data: {
                        levelId: $('#slStaffLevels option:selected').val()
                    },
                    success: function (data) {
                        $('#slJobLevel').empty();
                        data.levels.forEach(l => {
                            let opt = '<option value="' + l._id + '">' + l.name + '</option>';
                            $('#slJobLevel').append(opt);
                        })
                    }
                })
            }

            function LoadModule() {

                $.ajax({
                    url: '/admin/module/list-appling-wage',
                    type: 'get',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem('accessToken'),
                    },
                    success: function (data) {
                        $('#slModule').empty();
                        data.ms.forEach(s => {
                            let opt = '<option value="' + s._id + '">' + s.name + '</option>';
                            $('#slModule').append(opt);
                        })

                    }
                })
            }
        </script>