<div class="modal fade" id="modalWage" tabindex="-1" aria-labelledby="modalWage" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-primary">
                    <div class="panel-heading"> Add or update wage</div>
                    <div class="panel-body">

                        <div class="form-row">
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="recipient-name" class="col-form-label">Role:</label>
                                <select name="" id="slModule" class="form-control"></select>
                            </div>
                 

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="recipient-name" class="col-form-label">Job level:</label>
                                <select name="" id="slJobLevel" class="form-control"></select>
                            </div>                          

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="recipient-name" class="col-form-label">Staff level:</label>
                                <select name="" id="slStaffLevels" class="form-control"></select>
                            </div>

                            <div class="form-group col-md-2 col-sm-2 col-xs-6">
                                <label for="recipient-name" class="col-form-label">Wage:</label>
                                <input type="text" class="form-control text-right" id="txtWage" value="0" />
                            </div>

                            <div class="form-group col-md-2 col-sm-2 col-xs-4 text-right">
                                <label for="recipient-name" class="col-form-label"></label><br>
                                <button class="btn btn-sm btn-success mt-1" id="btnSubmitWage">
                                    <i class="fa fa-floppy-o"></i>
                                     Save
                                </button>
                            </div>

                            <div class="form-group col-md-2 col-sm-2 col-xs-2">
                                <label for="recipient-name" class="col-form-label"></label><br>
                                <button class="btn btn-sm btn-secondary mt-1" id="btnCancel">
                                    Cancel
                                </button>
                            </div>
                        </div>

                        <hr />


                        <table class="table table-striped mt-2">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th scope="col">Role</th>                                   
                                    <th scope="col">Job Level</th>
                                    <th scope="col">Staff Level</th>
                                    <th scope="col" class="text-right">Wage</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="tblWages"></tbody>
                        </table>



                        <div class="form-row">
                            <div class="col-md-12 col-xs-12 text-danger font-weight-bold" id="lblError"></div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var _id = '';
            $(document).ready(function () {
                LoadModule();            
                LoadJobLevels();
                $('#lblError').hide();
            })

            $("#tblWages").on("click", "button[name='deleteWage']", function () {
                let _id = $(this).closest("tr").attr("id");
                var r = confirm(
                    "Are you sure want to delete this wage?"
                );
                if (r) {
                    $.ajax({
                        url: '/admin/user-group-wage',
                        type: 'delete',
                        headers: {
                            authorization: "Bearer " + localStorage.getItem('accessToken'),
                        },
                        data: {
                            _id
                        },
                        success: function (data) {
                            alert(data.msg);
                            LoadWages();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $('#lblError').text(jqXHR.responseJSON.msg);
                            $('#lblError').show();
                        }

                    })
                }
            })

            $('#btnCancel').click(function () {
                _id = '';
                $('#txtWage').val(0);
                $('#btnSubmitWage').html('<i class="fa fa-plus" aria-hidden="true"></i>Add');
                $('#btnSubmitWage').addClass('btn-success').removeClass('btn-warning');
            })

            $("#tblWages").on("click", "button[name='updateWage']", function () {
                _id = $(this).closest("tr").attr("id");
                $.ajax({
                    url: '/admin/user-group-wage/detail',
                    type: 'get',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem('accessToken'),
                    },
                    data: {
                        _id
                    },
                    success: function (data) {                      
                        $('#slModule').val(data.w.module);
                        $('#slUserGroup').val(data.w.user_group);
                        $('#slStaffLevels').val(data.w.staff_lv);
                        $('#txtWage').val(data.w.wage);

                        $('#btnSubmitWage').html('<i class="fa fa-refresh" aria-hidden="true"></i> Update');
                        $('#btnSubmitWage').addClass('btn-warning').removeClass('btn-success');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#lblError').text(jqXHR.responseJSON.msg);
                        $('#lblError').show();
                    }
                })
            })




            $('#modalWage').on('shown.bs.modal', function (e) {
                LoadWages();
                $('#lblError').text('');
                $('#lblError').hide();
                $('#txtWage').text('0');
            })



            $('#btnSubmitWage').click(function () {
                let module = $('#slModule option:selected').val();
               
                let staff_lv = $('#slStaffLevels option:selected').val();
                let job_lv = $('#slJobLevel option:selected').val();
                let wage = parseFloat($('#txtWage').val());

                if (typeof module === "undefined") {
                   $('#lblError').text('(*) No acceptable module!');
                   $('#lblError').show().delay(3000).fadeOut();
                   return;
                }

              
               


                if (typeof job_lv === "undefined") {
                   $('#lblError').text('(*) No acceptable job level!');
                   $('#lblError').show().delay(3000).fadeOut();
                   return;
                }

                if (typeof staff_lv === "undefined") {                    
                   $('#lblError').text('(*) No acceptable staff level!');
                   $('#lblError').show().delay(3000).fadeOut();
                   return;
                }

                if(wage == 0 || isNaN(wage)){
                    $('#lblError').text('(*) No acceptable wage!');
                   $('#lblError').show().delay(3000).fadeOut();
                   return;
                }
             

               

                if (_id.trim().length > 0) {//update exist record
                    $.ajax({
                        url: '/admin/user-group-wage',
                        type: 'put',
                        headers: {
                            authorization: "Bearer " + localStorage.getItem('accessToken'),
                        },
                        data: {
                            _id,                        
                            user_group:ugId,
                            staff_lv,
                            job_lv,
                            wage     
                        },
                        success: function (data) {
                            alert(data.msg);
                            LoadWages();
                            $('#btnCancel').click();
                            $('#txtWage').text('0');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $('#lblError').text(jqXHR.responseJSON.msg);
                            $('#lblError').show();
                        }

                    })
                } else {
                    $.ajax({
                        url: '/admin/user-group-wage',
                        type: 'post',
                        headers: {
                            authorization: "Bearer " + localStorage.getItem('accessToken'),
                        },
                        data: {                         
                            module,
                            user_group:ugId,
                            staff_lv,
                            job_lv,
                            wage                            
                        },
                        success: function (data) {
                            LoadWages();
                            $('#txtWage').text('0');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $('#lblError').text(jqXHR.responseJSON.msg);                           
                            $('#lblError').show().delay(3000).fadeOut();
                        }
                    })
                }
            })

            function LoadWages() {
                $.ajax({
                    url: '/admin/user-group-wage',
                    type: 'get',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem('accessToken'),
                    },
                    data: {
                        ugId
                    },
                    success: function (data) {
                        $('#tblWages').empty();
                        let idx = 1;
                        data.wages.forEach(w => {
                            let tr = '<tr id = "' + w._id + '">';
                                tr+= '<td>'+(idx++)+'</td>';
                            tr += '<td class="font-weight-bold text-info">' + w.module.name + '</td>';                           
                            tr += '<td class="text-warning font-weight-bold">' + w.job_lv.name + '</td>';
                            tr += '<td class="text-warning font-weight-bold">' + w.staff_lv.name + '</td>';

                            tr += '<td class="text-danger font-weight-bold text-right">' + w.wage + '</td>';
                            tr +=
                                '<td class="text-right"><button class="btn btn-xs btn-warning ml-1" name="updateWage"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>';
                            tr +=
                                '<button class="btn btn-xs btn-danger ml-1" name="deleteWage"><i class="fa fa-trash" aria-hidden="true"></i></button></td>';


                            tr += "</tr>";
                            tr += '</tr>';
                            $('#tblWages').append(tr);
                        })
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#lblError').text(jqXHR.responseJSON.msg);
                        $('#lblError').show();
                    }
                })
            }

            $("#txtWage").on("keypress keyup blur", function (event) {
                //this.value = this.value.replace(/[^0-9\.]/g,'');
                $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
                if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });



            $( "#slJobLevel" ).change(function() {
                LoadStaffLevels($('#slJobLevel option:selected').val());
            })

           

            function LoadJobLevels() {
                $.ajax({
                    url: '/admin/job-level',
                    type: 'get',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem('accessToken'),
                    },
                    success: function (data) {
                        data.jl.forEach(l => {
                            let opt = '<option value="' + l._id + '">' + l.name + '</option>';
                            $('#slJobLevel').append(opt);
                        })
                        LoadStaffLevels($('#slJobLevel option:selected').val());
                    }
                })
            }

            function LoadStaffLevels(jobLevelId) {
                $.ajax({
                    url: '/admin/staff-level/list-by-job-level',
                    type: 'get',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem('accessToken'),
                    },
                    data:{
                        jobLevelId
                    },
                    success: function (data) {
                        $('#slStaffLevels').empty();
                        data.sl.forEach(l => {
                            let opt = '<option value="' + l._id + '">' + l.name + '</option>';
                            $('#slStaffLevels').append(opt);
                        })
                    }
                })
            }

            function LoadModule() {

                $.ajax({
                    url: '/admin/module/list-appling-wage',
                    type: 'get',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem('accessToken'),
                    },
                    success: function (data) {
                        $('#slModule').empty();
                        data.ms.forEach(s => {
                            let opt = '<option value="' + s._id + '">' + s.name + '</option>';
                            $('#slModule').append(opt);
                        })
                    }
                })
            }
        </script>