<button type="button" class="btn btn-primary" id="btnAddNew">
  <span>
    <i class="fa fa-plus" aria-hidden="true"></i>
  </span>
  Add New
</button>
<table class="table table-striped mt-2">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="tblData">
  </tbody>
</table>




<script>

  var skillId = '';

  function LoadSkills() {
    $('#tblData').empty();
    $.ajax({
      url: '/admin/skill',
      type: 'get',
      data: {
      },
      success: function (data, textStatus, xhr) {
        let idx = 1;
        data.skills.forEach(skill => {
          let tr = '<tr id=' + skill._id + ' data-name = ' + skill.name + '>';
          tr += '<th scope="row">' + (idx++) + '</th>';
          tr += '<td>' + skill.name + '</td>';
          tr += '<td>' + skill.description + '</td>';

          tr += '<td class="text-right"><button class="btn btn-sm btn-warning" name="update"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>';
          tr += '<button class="btn btn-sm btn-danger ml-1" name="delete"><i class="fa fa-trash" aria-hidden="true"></i></button></td>';
          tr += '</tr>';
          $('#tblData').append(tr);
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
      }
    })
  }

  $(document).ready(function () {
    $('#btnAddNew').click(function () {
      levelId = '';
      $('#modalSkill').modal();
    });
    LoadSkills();
  });

  //sự kiện modal shown --> set các giá trị mặc định cho component trên form
  $(document).on('show.bs.modal', '.modal', function () {
    $('#txtSkill').val('');
    $('#txtDescription').val('');
  });

  //sự kiện load lại hàm ds level khi modal đc đóng lại
  $(document).on('hidden.bs.modal', '#modalSkill', function () {
    LoadSkills();
  });


  $(document).on("click", "button[name='delete']", function () {

    var r = confirm("Vui lòng xác nhận xóa skill " + $(this).closest("tr").data('name') + "?");
    if (r == true) {
      $.ajax({
        url: '/admin/skill',
        type: 'delete',
        headers: {
          authorization: "Bearer " + localStorage.getItem('accessToken'),
        },
        data: {
          id: $(this).closest("tr").attr("id")
        },
        success: function (data, textStatus, xhr) {
          alert(data.msg);
          LoadSkills();
        }, error: function (jqXHR, textStatus, errorThrown) {
          alert(jqXHR.responseJSON.msg);
        }
      })
    }


  });

  $(document).on("click", "button[name='update']", function () {

    skillId = $(this).closest("tr").attr("id");

    $.ajax({
      url: "/admin/skill/detail",
      type: "get",
      headers: {
        authorization: "Bearer " + localStorage.getItem('accessToken'),
      },
      data: {
        id: skillId
      },
      success: function (data, textStatus, xhr) {
        $('#modalSkill').modal();
        $('#txtSkill').val(data.skill.name);
        $('#txtDescription').val(data.skill.description);
      }, error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
      }
    });

  });
</script>

<%-include('modal')%>