<section class="page-section" id="account">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Register</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Name input-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 col-xs-12">
                                <input class="form-control" id="reg_firstname" type="text" placeholder="Enter your firstname..." data-sb-validations="required" />
                                <label for="name">Firstname</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Firstname is required.</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="reg_lastname" type="text" placeholder="Enter your lastname..." data-sb-validations="required" />
                                <label for="name">Lastname</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Lastname is required.</div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="reg_email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email">Email address</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="reg_phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">Phone number</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>                   

                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="reg_error"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <button class="btn btn-primary btn-xl" id="submit_register">Register</button>
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <i>Already have account? <a href="/customer/login" >Login</a></i><br/>
                            <i>Forget your password? <a href="/customer/auth/forget-password">click here</a></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>  