<div id="modalBonusPenalty" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bonus or penalty</h4>
            </div>
            <div class="modal-body">
                <div class="form-group col-md-8">
                    <label for="">Bonus/penalty name:</label>
                    <input type="text" placeholder="Bonus or penalty name" id="txtName" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label for="">Type</label>
                    <div class="checkbox">
                        <label><input type="checkbox" id="ckbIsBonus" checked>Bonus</label>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="">Costs</label>
                    <input type="text" value="0" id="txtCosts" class="form-control" style="text-align: right;">
                </div>

                <div class="form-group col-md-12">
                    <label for="">Description:</label>
                    <textarea placeholder="Bonus or penalty description" id="txaDescription" rows="3"
                        class="form-control"></textarea>
                </div>

                <div class="form-group col-md-12">
                    <label for="" class="font-weight-bold text-danger" id="lblMsg"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btnSubmit">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Submit changes
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>

    $('#btnSubmit').click(function () {
        let name = $('#txtName').val().trim();
        let description = $('#txaDescription').val();
        let costs = parseInt($('#txtCosts').val());
        if (costs <= 0) {
            $('#lblMsg').text('(!) costs is invalid');
            $('#lblMsg').fadeIn().delay(3000).fadeOut();
            return;
        }

        if (bpId.length > 0) {
            $.ajax({
                url: '/admin/bonus-penalty',
                type: 'put',
                headers: {
                    authorization: "Bearer " + localStorage.getItem('accessToken'),
                },
                data: {
                    bpId,
                    name,
                    description,
                    costs,
                    is_bonus: $("#ckbIsBonus").is(':checked')
                },
                success: function (data, textStatus, xhr) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Successfully!',
                        text: data.msg
                    });
                    $('#modalBonusPenalty').modal('hide');
                }, error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseJSON.msg);
                }
            })
        } else {
            $.ajax({
                url: '/admin/bonus-penalty',
                type: 'post',
                headers: {
                    authorization: "Bearer " + localStorage.getItem('accessToken'),
                },
                data: {
                    name,
                    description,
                    is_bonus: $("#ckbIsBonus").is(':checked'),
                    costs
                },
                success: function (data, textStatus, xhr) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Successfully!',
                        text: data.msg
                    });
                    $('#modalBonusPenalty').modal('hide');
                    bpId = '';
                }, error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseJSON.msg);
                }
            })
        }

    })
    $('#txtCosts').keyup(function (e) {
        if (/\D/g.test(this.value)) {
            // Filter non-digits from input value.
            this.value = this.value.replace(/\D/g, '');
        }
    });
    $('#txtCosts').focusout(function () {
        if ($('#txtCosts').val().trim() == 0) {
            $('#txtCosts').val('0');
        }
    })


</script>