<div class="modal" tabindex="-1" id="assignQAModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-dark">
        <div class="panel panel-info mb-3">
          <div class="panel-body">
            <div class="form-row">
              <div class="col-md-8 col-sm-6 col-xs-6">
                <select name="" id="slAssignQA" class="form-control"></select>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-3">
                <button class="btn btn-success" id="btnSubmitAssignQA">Assign</button>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-3">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  $("#assignQAModal").on('shown.bs.modal', function (e) {
    LoadQA();
  })

  $('#btnSubmitAssignQA').click(_ => {
    let qa = $('#slAssignQA option:selected').val();
    $.ajax({
      url: '/tla/task/assign-qa',
      type: 'put',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        qa,
        taskId
      },
      success: function (data) {
        alert(data.msg);
        taskId = '';
        $('#assignQAModal').modal('hide');
        LoadTasksList();
      }
    })
  })

  function LoadQA() {
    $.ajax({
      url: '/tla/user/list-qa',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        levelId
      },
      success: function (data) {
        $('#slAssignQA').empty();

        data.qas.forEach(e => {
          let opt = '<option value="' + e._id + '">' + e.fullname + '</option>';
          $('#slAssignQA').append(opt);
        })
        $('#slAssignQA').selectpicker();
        $('#slAssignQA').selectpicker('refresh');

      },
      error: function (jqXHR, textStatus, errorThrown) {
        $('#msgError').text(jqXHR.responseJSON.msg);
      },
    })
  }
</script>