<div class="modal" tabindex="-1" id="cancelTaskModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body text-dark">
                <div class="panel panel-warning mb-3">
                    <div class="panel-heading font-weight-bold">
                        <div class="row">
                            <div class="col-md-10 col-sm-9 col-xs-9">
                                <label id="name_case" class="text-uppercase">Submit canceling task</label>
                            </div>

                            <div class="col-md-2 col-sm-3 col-xs-3 text-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-12 mt-2">
                                <select name="" id="slReasons" class="form-control"></select>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-10 mt-2">
                                <input type="text" placeholder="Reason note" id="txtCanceledRemark"
                                    class="form-control">
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 mt-2">
                                <button class="btn btn-primary" id="btnSubmitCancel">Submit</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        LoadReasons();
    })

    $('#btnSubmitCancel').click(function () {
        $.ajax({
            url: '/tla/task/cancel',
            type: 'put',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                taskId,
                reason: $('#slReasons option:selected').val(),
                penalty: $('#slReasons option:selected').data('penalty'),
                fines: $('#slReasons option:selected').data('fines'),
                remark: $('#txtCanceledRemark').val()
            },
            success: function (data) {
                $.toast({
                    heading: 'Successfully',
                    text: data.msg,
                    showHideTransition: 'fade',
                    icon: 'success'
                });
                $('#cancelTaskModal').modal('hide');
                LoadTasks();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                Swal.fire({
                    icon: 'error',
                    title: 'Opp..',
                    text: jqXHR.responseJSON.msg
                });
            }
        })
    })

    function LoadReasons() {
        $.ajax({
            url: '/tla/reason',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            success: function (data) {
                data.reasons.forEach(r => {
                    $('#slReasons').append('<option value="' + r._id + '" data-penalty="' + r.is_penalty + '" data-fines="' + r.fines + '">' + r.name + '</option>');
                })
            },
            error: function (jqXHR, textStatus, errorThrown) {
                Swal.fire({
                    icon: 'error',
                    title: 'Opp..',
                    text: jqXHR.responseJSON.msg
                });
            }
        })
    }

</script>