<div id="modalMapping" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mapping job level</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped mt-2">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>                           
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="tblParents"></tbody>
                </table>
                

            </div>           
        </div>

    </div>
</div>

<script>
  
    $(document).ready(function(){
        LoadParents();
    })

    $('#modalMapping').on('show.bs.modal', function () {
        
    })
   

</script>