<script src="/js/bootstrap-select.min.js"></script>
<link href="/css/bootstrap-select.min.css" rel="stylesheet" />
<div id="modalMapping" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mapping local and customer job level</h4>
            </div>
            <div class="modal-body">
                <div class="form-group mt-2">
                    <label for="">Local levels</label>
                    <div class="input-group mt-2">
                        <select name="" id="slChildren" class="form-control selectpicker"
                            data-live-search="true"></select>
                        <div class="input-group-btn">
                            <button class="btn btn-info" type="submit" id="btnAddChild">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <table class="table table-striped mt-2">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="tblChildren"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    $('#btnAddChild').click(function () {
        $.ajax({
            url: '/admin/mapping/push-child',
            type: 'put',
            headers: {
                authorization: "Bearer " + localStorage.getItem('accessToken'),
            },
            data: {
                mId,
                levelId: $('#slChildren option:selected').val()
            },
            success: function (data) {
                $.toast({
                    heading: 'Successfully!',
                    text: data.msg,
                    showHideTransition: 'fade',
                    icon: 'success'
                });
                LoadChildren();
            },
            error: function (err) {
                $.toast({
                    heading: 'Error',
                    text: err.responseJSON.msg,
                    showHideTransition: 'fade',
                    icon: 'error'
                });
            }
        })
    })

    $('#modalMapping').on('show.bs.modal', function () {
        LoadLocalLevels();
        LoadChildren();
    })
    $('#modalMapping').on('hidden.bs.modal', function () {
        LoadMappingList();
    })

    $(document).on("click", "button[name='pull']", function () {
        parentsId = $(this).closest("tr").attr("id");
        Swal.fire({
            icon: 'question',
            title: 'Do you want to remove this parents level from root?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Yes',
            denyButtonText: `No`,
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/admin/root-level/pull-parents',
                    type: 'put',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem('accessToken'),
                    },
                    data: {
                        rootId,
                        parentsId
                    },
                    success: function (data) {
                        $.toast({
                            heading: 'Successfully!',
                            text: data.msg,
                            showHideTransition: 'fade',
                            icon: 'success'
                        });
                        LoadChildren();
                    }
                    , error: function (err) {
                        $.toast({
                            heading: 'Error',
                            text: err.responseJSON.msg,
                            showHideTransition: 'fade',
                            icon: 'error'
                        });
                    }
                })
            }
        })
    })


    function LoadLocalLevels() {
        $.ajax({
            url: '/admin/job-level',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem('accessToken'),
            },
            success: function (data) {
                $('#slChildren').empty();
                data.jl.forEach(l => {
                    $('#slChildren').append('<option value = "' + l._id + '">' + l.name + '</option>');
                });
                $('#slChildren').selectpicker();
                $('#slChildren').selectpicker('refresh');
            }
        })
    }


    function LoadChildren() {
        $.ajax({
            url: '/admin/mapping/detail',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem('accessToken'),
            },
            data: { mId },
            success: function (data) {
                $('#tblChildren').empty();
                let cIdx = 1;
                data.map.levels.forEach(l => {
                    let tr = '<tr id="' + l._id + '">';
                    tr += '<td>'+(cIdx++) + '</td>';
                    tr += '<td class="font-weight-bold text-info">' + l.name + '</td>';
                    tr += '<td>' + l.description + '</td>';
                    tr += '<td class="text-right">';
                    tr += '<button class="btn btn-xs btn-danger ml-2" name="delete-child"><i class="fa fa-trash" aria-hidden="true"></i></button>';
                    tr += '</td>';
                    tr += '</tr>'
                    $('#tblChildren').append(tr);
                })
            },
            error: function (err) {
                $.toast({
                    heading: 'Error',
                    text: err.responseJSON.msg,
                    showHideTransition: 'fade',
                    icon: 'error'
                });
            }
        })
    }

    $(document).on("click", "button[name='delete-child']", function () {
        levelId = $(this).closest("tr").attr("id");
        Swal.fire({
            icon: 'question',
            title: 'Do you want to remove this child from map?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Yes',
            denyButtonText: `No`,
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/admin/mapping/pull-child',
                    type: 'put',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem('accessToken'),
                    },
                    data: {
                        mId,
                        levelId
                    },
                    success: function (data) {
                        $.toast({
                            heading: 'Successfully!',
                            text: data.msg,
                            showHideTransition: 'fade',
                            icon: 'success'
                        });
                        LoadChildren();
                    }
                    , error: function (err) {
                        $.toast({
                            heading: 'Error',
                            text: err.responseJSON.msg,
                            showHideTransition: 'fade',
                            icon: 'error'
                        });
                    }
                })
            }
        })
    })
</script>