<div id="modalParentsLevel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add or update parents level</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Name:</label>
                    <input type="text" placeholder="Parents level name" id="txtName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Description:</label>
                    <textarea placeholder="Parents level descripton" id="txaDescription" rows="2"
                        class="form-control"></textarea>
                </div>
            </div>
            <label for="" class="text-danger font-weight-bold ml-2" id="errMsg"></label>
            <div class="modal-footer">
                <butotn class="btn btn-success" id="btnSubmit">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Submit changes
                </butotn>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    $('#btnSubmit').click(function () {
        let name = $('#txtName').val();
        let description = $('#txaDescription').val();
        if (name.trim().length == 0) {
            $('#errMsg').text('(!) Parents level name can not be null!');
            $('#errMsg').slideDown().delay(3000).slideUp();
        }

        if (pId.length == 0) {
            $.ajax({
                url: '/admin/parents-level',
                type: 'post',
                headers: {
                    authorization: "Bearer " + localStorage.getItem('accessToken'),
                },
                data: { name, description },
                success: function (data) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Successfully',
                        text: data.msg
                    });
                    $('#modalParentsLevel').modal('hide');
                }
            })
        } else {
            $.ajax({
                url: '/admin/parents-level',
                type: 'put',
                headers: {
                    authorization: "Bearer " + localStorage.getItem('accessToken'),
                },
                data: { pId, name, description },
                success: function (data) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Successfully',
                        text: data.msg
                    });
                    $('#modalParentsLevel').modal('hide');
                }
            })
        }
    })
</script>