<div class="modal" tabindex="-1" id="modalLevel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add or update local level</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2 font-weight-bold text-primary">Job level:</div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <select name="" id="slJobLevel" class="form-control"></select>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <button class="btn btn-success" id="btnAddJobLevel">Add</button>
                    </div>
                </div>

                <div class="panel panel-primary mt-2">
                    <div class="panel-heading font-weight-bold">Job levels list</div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Level</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody id="tbSJData">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <label class="text-danger" id="msgError"></label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(_ => {
        LoadJobLevels();
        $('#msgError').hide();
    })

    $('#modalLevel').on('hidden.bs.modal', function () {
        LoadLevels();
    })

    $(document).on("click", "button[name='deleteStaffJobLevel']", function () {

        Swal.fire({
            title: 'Are you sure want to delete this staff level?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: '/admin/staff-level/pull-level',
                    type: 'delete',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem('accessToken'),
                    },
                    data: {
                        id: $(this).closest("tr").attr("id"),
                        levelId
                    },
                    success: function (data, textStatus, xhr) {
                        Swal.fire(
                            'Deleted!',
                            data.msg,
                            'success'
                        );
                        LoadStaffJobLevel();
                    }, error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseJSON.msg);
                    }
                })

            }
        })


    });


    $('#modalLevel').on('shown.bs.modal', function (e) {
        LoadStaffJobLevel();
    })


    function LoadStaffJobLevel() {
        $.ajax({
            url: '/admin/staff-level/get-jobs',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem('accessToken'),
            },
            data: {
                levelId
            },
            success: function (data) {

                $('#tbSJData').empty();
                let idx = 1;
                data.levels.forEach(l => {
                    let tr = '<tr id = "' + l._id + '" data-name="' + l.name + '">';
                    tr += '<td>' + (idx++) + '</td>';
                    tr += '<td class ="font-weight-bold text-danger">' + l.name + '<td>';
                    tr += '<td class="text-right"><button class="btn btn-xs btn-danger ml-1" name="deleteStaffJobLevel"><i class="fa fa-trash" aria-hidden="true"></i></button></td>'
                    tr += '</tr>';
                    $('#tbSJData').append(tr);
                })
            }, error: function (jqXHR, textStatus, errorThrown) {
                $('#msgError').show(100);
                $('#msgError').text(jqXHR.responseJSON.msg);
                $('#msgError').hide(3000);
            }
        })
    }

    $('#btnAddJobLevel').click(function () {
        $.ajax({
            url: '/admin/staff-level/push-level',
            type: 'put',
            headers: {
                authorization: "Bearer " + localStorage.getItem('accessToken'),
            },
            data: {
                jobLevel: $('#slJobLevel option:selected').val(),
                staffLevel: levelId
            },
            success: function (data) {
                Swal.fire({
                    icon: 'success',
                    title: 'Successfully!',
                    text: data.msg
                })
                LoadStaffJobLevel()
            }, error: function (jqXHR, textStatus, errorThrown) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oh no...!',
                    text: jqXHR.responseJSON.msg
                })
            }
        })
    })

    function LoadJobLevels() {
        $.ajax({
            url: '/admin/job-level',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem('accessToken'),
            },
            success: function (data) {
                $('#slJobLevel').empty();
                data.jl.forEach(j => {
                    let opt = '<option value="' + j._id + '" class="font-weight-bold text-warning">' + j.name + '</option>';
                    $('#slJobLevel').append(opt);
                })
            }, error: function (jqXHR, textStatus, errorThrown) {
                $('#msgError').show(100);
                $('#msgError').text(jqXHR.responseJSON.msg);
                $('#msgError').hide(3000);
            }
        })

    }
</script>