<div class="modal" tabindex="-1" id="modalLevel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add or update local level</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2 font-weight-bold text-primary">Job level:</div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <select name="" id="slJobLevel" class="form-control"></select>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <button class="btn btn-primary" id="btnAddJobLevel">Add</button>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading font-weight-bold">Job levels list</div>
                    <div class="panel-body">
                        <div class="table-responsive">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>