<div class="modal" tabindex="-1" id="modalLocalLevel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add or update local level</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="">Level</label>
                        <input type="text" name="txtLevel" id="txtLevel" class="form-control" placeholder="Level name">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="">Description</label>
                        <input type="text" name="txtDescription" id="txtDescription" class="form-control"
                            placeholder="Description">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSubmit">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    //sự kiện modal shown --> set các giá trị mặc định cho component trên form
    $('#modalLocalLevel').on('shown.bs.modal', function (e) {
        $('#txtLevel').val('');
        $('#txtDescription').val('');
        $('#ckbStatus').prop('checked', true);
    });

    $('#btnSubmit').click(function () {
        let name = $('#txtLevel').val().trim();
        let description = $('#txtDescription').val().trim();
        let status = $('#ckbStatus').is(":checked") ? true : false;

        if (levelId.length > 0) {
            $.ajax({
                url: '/admin/staff-level',
                type: 'put',
                headers: {
                    authorization: "Bearer " + localStorage.getItem('accessToken'),
                },
                data: {
                    id: levelId,
                    name,
                    description,
                    status
                },
                success: function (data, textStatus, xhr) {
                    alert(data.msg);
                    $('#modalLocalLevel').modal('hide');
                    levelId = '';
                }, error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseJSON.msg);
                }
            })
        } else {
            $.ajax({
                url: '/admin/staff-level',
                type: 'post',
                headers: {
                    authorization: "Bearer " + localStorage.getItem('accessToken'),
                },
                data: {
                    name,
                    description,
                    status
                },
                success: function (data, textStatus, xhr) {
                    alert(data.msg);
                    $('#modalLocalLevel').modal('hide');
                    levelId = '';
                }, error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseJSON.msg);
                }
            })
        }

    })
</script>