<div class="row">
    <div class="col-md-9 col-sm-6 col-xs-6">
        <nav aria-label="Page navigation example" class="mt-2">
            <ul class="pagination pagination-sm" id="pagination"></ul>
        </nav>
    </div>
    <div class="col-md-3 text-right col-sm-6 col-xs-6">
        <!-- Another variation with a button -->
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Seach customer" id="txtSearch" />
            <div class="input-group-btn">
                <button class="btn btn-info" id="btnSearch">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive-sm">
    <table class="table mt-1 table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Customer</th>
                <th scope="col">Short name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tblData"></tbody>
    </table>
</div>

<nav aria-label="...">
    <ul class="pagination pagination-sm">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
</nav>

<%-include('modalAddJob')%>

    <script>
        var search = "";
        var page = 1;
        var customerId = "";
        $(document).ready(() => {
            LoadCustomers();
        });

        $('#btnSearch').click(function () {
            search = $('#txtSearch').val();
            LoadCustomers();
        })

        $(document).on("click", ".pagination li", function (e) {
            e.preventDefault();
            page = $(this).find('a').text();
            LoadCustomers();
        })

        $(document).on("click", "button[name='btnAddJob']", function () {
            customerId = $(this).closest("tr").attr("id");
            $.ajax({
                url: '/sale/job/check-contract',
                type: 'get',
                headers: {
                    authorization: "Bearer " + localStorage.getItem("accessToken"),
                },
                data: { customerId },
                success: function (data) {
                    $('#txtName').val('');
                    $('#txtLinkSource').val('');
                    $('#txtReceivedDate').val('');
                    $('#txtDeliveryDate').val('');
                    $('#txaIntruction').val('');
                    $('#ckbMaterial').prop('checked', false);
                    $('#txtQuantity').val('');
                    $('#rMaterial').hide();

                    $('#lblCustomerFullname').text(data.customer.name.firstname + ' ' + data.customer.name.lastname);
                    $('#lblCustomerPhone').text(data.customer.contact.phone);
                    $('#lblCustomerEmail').text(data.customer.contact.email);

                    $('#addJobModal').modal();

                },
                error: function (request, status, error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: request.responseJSON.msg
                    })
                }
            })
        })


        function LoadCustomers() {
            $.ajax({
                url: '/sale/customer/list',
                type: 'get',
                headers: {
                    authorization: "Bearer " + localStorage.getItem("accessToken"),
                },
                data: {
                    search,
                    page
                },
                success: function (data) {

                    $('#tblData').empty();
                    $('.pagination').empty();
                    let idx = (page - 1) * data.pageSize;
                    data.customers.forEach(cus => {
                        let tr = '<tr id = "' + cus._id + '">';
                        tr += '<td>';
                        if (cus.jobs.length > 0) {
                            tr += '<button class="btn btn-xs parents js-view-parents " name="js-view-parents"><i class="fa fa-plus"></i>'
                            tr += '</button>';
                        }

                        tr += '</td>';
                        tr += '<td>' + (++idx) + '</td>';
                        tr += '<td class="font-weight-bold text-info">' + cus.name.firstname + ' ' + cus.name.lastname + '</td>';
                        tr += '<td class="font-weight-bold text-danger">' + getFirstLetters(cus.name.firstname + ' ' + cus.name.lastname) + getLastLetters(cus._id) + '</td>';
                        tr += '<td>' + cus.contact.phone + '</td>';
                        tr += '<td>' + cus.contact.email + '</td>';
                        tr += '<td class="text-right"><button class="btn-sm btn-primary" name="btnAddJob"><i class="fa fa-plus" aria-hidden="true"></i> Add job</button></td>'
                        tr += '</tr>';
                        $('#tblData').append(tr);
                    });
                    for (let i = 1; i <= data.pages; i++) {
                        let li = '<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>';
                        $('.pagination').append(li);
                    }

                },
                error: function (request, status, error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: request.responseJSON.msg
                    })
                }
            })
        }


        $(document).on("click", "button[name='js-view-parents']", async function (e) {

            var $btn = $(e.target),
                $row = $btn.closest('tr'),
                $nextRow = $row.next('tr.expand-child');
            $btn.toggleClass('fa-minus');

            if ($nextRow.length) {
                $nextRow.toggle($btn.hasClass('fa-minus'));
            } else {
                var newRow = '<tr class="expand-child" id="collapse' + $btn.data('id') + '">' +
                    '<td colspan="10">' +
                    '<table class="table table-condensed table-bordered table-striped" width=100% >' +
                    '<thead>' +
                    '<tr>' +
                    '<th class="text-right  ">#</th>' +
                    '<th>Name</th>' +
                    '<th>Begin</th>' +
                    '<th>End</th>' +
                    '<th>Created at by</th>' +
                    '<th>Created by</th>' +
                    '<th>Combo</th>' +
                    '<th>Templates</th>' +
                    '<th>Status</th>' +
                    '</tr>' +
                    '</thead>' +
                    '<tbody>';


                custId = $(this).closest('tr').attr('id');

                await $.ajax({
                    url: '/sale/job/list-by-customer',
                    type: 'get',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem("accessToken"),
                    },
                    data: {
                        custId
                    },
                    success: function (data) {
                        let idx = 1;

                        data.jobs.forEach(j => {                          

                            newRow += '<tr id = "' + j._id + '">';
                            newRow += '<td>' + (idx++) + '</td>';
                            newRow += '<td class="font-weight-bold text-danger">';
                            newRow += j.name;
                            if (j.captured.user) {
                                newRow += '<i class="fa fa-camera text-primary ml-2" aria-hidden="true"></i>'
                            }
                            if (j.cc.length > 0) {
                                newRow += '<span class="ml-2 text-danger"><i class="fa fa-cc" aria-hidden="true"></i></span>'
                            }
                            newRow += '</td>';
                            newRow += '<td>' + convertISODateToTimeFormat(j.deadline.begin) + '</td>';
                            newRow += '<td>' + convertISODateToTimeFormat(j.deadline.end) + '</td>';
                            newRow += '<td>' + convertISODateToTimeFormat(j.created.at) + '</td>';
                            newRow += '<td>' + j.created.by.fullname + '</td>';
                            newRow += '<td>';
                            if (j.cb) {
                                newRow += j.cb.name;
                            }
                            newRow += '</td>';
                            newRow += '<td class="font-weight-bold text-danger">';
                            newRow += j.templates;
                            newRow += '</td>';
                            newRow += '<td>';
                            switch (j.status) {
                                case -1: newRow += '<i class="text-info">Initial</i>'; break;
                                case 0: newRow += '<i class="text-primary">Processing</i>'; break;
                                case 1: newRow += '<i class="text-warning">Uploaded</i>'; break;
                                case 2: newRow += '<i class="text-warning">Done</i>'; break;
                                case 3: newRow += '<i class="text-success">Finish</i>'; break;
                                case -2: newRow += '<i class="text-danger">Rejected</i>'; break;
                                case -3: newRow += '<i class="text-danger">Canceled</i>'; break;
                            }
                            newRow += '</td>';

                            newRow += '</tr>';
                        })
                    }
                })
                newRow += '</tbody></table></td></tr>';
                // set next row
                $nextRow = $(newRow).insertAfter($row);
            }
        });

    </script>