<div class="modal" tabindex="-1" role="dialog" id="addJobModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card text-white bg-dark">
          <div class="card-header"><i class="fa fa-plus" aria-hidden="true"></i> Add a new job</div>
          <div class="card-body">
            <div class="row form-group">
              <div class="col-sm-4">Customer:</div>
              <div class="col-sm-8 font-weight-bold text-warning" id="lblCustomerFullname"></div>
            </div>
            <div class="row form-group">
              <div class="col-sm-4">Phone:</div>
              <div class="col-sm-8" id="lblCustomerPhone"></div>
            </div>
            <div class="row form-group">
              <div class="col-sm-4">Email:</div>
              <div class="col-sm-8" id="lblCustomerEmail"></div>
            </div>

            <hr>
            <div class="form-group">
              <label for="">Job name:</label>
              <input type="text" name="" id="txtName" class="form-control" placeholder="Job name">
            </div>

            <div class="form-group">
              <label for="">Link source:</label>
              <input type="text" name="" id="txtLinkSource" class="form-control" placeholder="Images link">
            </div>


            <div class="row">
              <div class="col-sm-6">
                <div class=" form-group">
                  <label for="">Received Date</label>
                  <input type="text" class="inputDate form-control" id="txtReceivedDate">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="">Delivery Date:</label>
                  <input type="text" class="inputDate form-control" id="txtDeliveryDate">
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label for="">Intruction:</label>
              <textarea name="" id="txaIntruction" rows="2" class="form-control"></textarea>
            </div>



            <div class="form-group text-right">
              <button type="button" class="btn btn-sm btn-warning" id="btnSubmitJob">Submit job</button>
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'
  src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

<script>

  $('#btnSubmitJob').click(function () {
    let customer = customerId;
    let name = $('#txtName').val();
    let source_link = $('#txtLinkSource').val();
    let received_date = $('#txtReceivedDate').val();
    let delivery_date = $('#txtDeliveryDate').val();
    let intruction = $('#txaIntruction').val();

   
    $.ajax({
      url: '/sale/job',
      type: 'post',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: { customer, name, source_link, received_date, delivery_date, intruction },
      success:function(data){
        alert(data.msg);
        $('#addJobModal').modal('hide');
        customerId = "";
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);       
      },
    })
  })



  $('.inputDate').inputmask("datetime", {
    mask: "1/2/y h:s",
    placeholder: "dd/mm/yyyy hh:mm",
    leapday: "-02-29",
    separator: "/",
    alias: "dd/mm/yyyy hh:mm"
  })
</script>