<script src="/js/common.js"></script>
<script type='text/javascript'
  src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>


<div class="modal" tabindex="-1" role="dialog" id="addJobModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="panel panel-primary text-white bg-dark">
          <div class="panel-heading text-info font-weight-bold"><i class="fa fa-plus" aria-hidden="true"></i> Add a new
            job</div>
          <div class="panel-body">
            <div class="row form-group">
              <div class="col-sm-4">Customer:</div>
              <div class="col-sm-8 font-weight-bold text-info" id="lblCustomerFullname"></div>
            </div>
            <div class="row form-group">
              <div class="col-sm-4">Phone:</div>
              <div class="col-sm-8" id="lblCustomerPhone"></div>
            </div>
            <div class="row form-group">
              <div class="col-sm-4">Email:</div>
              <div class="col-sm-8" id="lblCustomerEmail"></div>
            </div>

            <hr>
            <div class="form-group">
              <label for="">Job name:</label>
              <input type="text" name="" id="txtName" class="form-control" placeholder="Job name">
            </div>

            <div class="form-group">
              <label for="">Link source:</label>
              <input type="text" name="" id="txtLinkSource" class="form-control" placeholder="Images link">
            </div>


            <div class="row">
              <div class="col-sm-5">
                <div class=" form-group">
                  <label for="">Received Date<span class="text-danger font-weight-bold">(*)</span> :</label>
                  <input type="text" class="inputDate form-control" id="txtReceivedDate">
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <label for="">Duration:</label>
                  <input type="number" name="" id="txtDuration" class="form-control" value="0">
                </div>
              </div>

              <div class="col-sm-5">
                <div class="form-group">
                  <label for="">Delivery Date<span class="text-danger font-weight-bold">(*)</span> :</label>
                  <input type="text" class="inputDate form-control" id="txtDeliveryDate">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="ckbChooseCombo">
                  <label class="form-check-label" for="ckbChooseCombo">
                    Choose Combo
                  </label>
                </div>
              </div>
            </div>
            <div class="row" id="divCombo">
             <div class="col-sm-12">
              <select name="" id="slCombo" class="form-control"></select>
             </div>
            </div>
            <div class="row">
              <div class="col-sm-12 form-group">
                <label for="">Intruction:</label>
                <textarea name="" id="txaIntruction" rows="2" class="form-control"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs12">
                <label for="" class="text-danger" id="lblError"></label>
              </div>
            </div>



            <div class="form-group text-right">
              <button type="button" class="btn btn-sm btn-primary" id="btnSubmitJob">Submit job</button>
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>

  $(document).ready(function(){
    LoadCombo();
  })

  $('#txtDuration').keyup(function (e) {
    if (/\D/g.test(this.value)) {
      // Filter non-digits from input value.
      this.value = this.value.replace(/\D/g, '');
    }
    let duration = parseInt($('#txtDuration').val());
    let assigned_date = strToDate($('#txtReceivedDate').val());
    let deadline = assigned_date.addHours(duration);
    $('#txtDeliveryDate').val(convertISODateToTimeFormat(deadline));
  });

  function LoadCombo(){
    $.ajax({
      url:'/sale/combo',
      type:'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      success:function(data){
        data.cbs.forEach(c=>{
          let opt = '<option value="'+c._id+'">'+c.name+'</option>';
          $('#slCombo').append(opt);
        })
      }
    })
  }

  $("#addJobModal").on('shown.bs.modal', function (e) {
    $('#txtReceivedDate').val(getCurrentTime())
    $('#lblError').hide();
    $('#ckbChooseCombo').prop('checked', false);
    $('#divCombo').hide();

  })

  $("#ckbChooseCombo").change(function() {
    if(this.checked) {
     $('#divCombo').slideDown(600);
   }else{
    $('#divCombo').slideUp(600);
   }
});


  $('#btnSubmitJob').click(function () {
    let customer = customerId;
    let name = $('#txtName').val();
    let input_link = $('#txtLinkSource').val();
    let received_date = strToDate($('#txtReceivedDate').val());
    let delivery_date = strToDate($('#txtDeliveryDate').val());
    let intruction = $('#txaIntruction').val();
    let cb_ticked =  $("#ckbChooseCombo").is(':checked');
    let cb  = $('#slCombo option:selected').val();


    if (isNaN(delivery_date) || delivery_date === null || isNaN(received_date) || received_date == null) {
      $('#lblError').text('(*) Received date or delivery date is  invalid!');
      $('#lblError').show().delay(3000).fadeOut();
      return;
    }


    if (delivery_date < new Date($.now())) {
      $('#lblError').text('(*) delivery date can not smaller than current time!');
      $('#lblError').show().delay(3000).fadeOut();
      return;
    }

    if (delivery_date <= received_date) {
      $('#lblError').text('(*) delivery date must be greater than received date!');
      $('#lblError').show().delay(3000).fadeOut();
      return;
    }



    $.ajax({
      url: '/sale/job',
      type: 'post',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: { customer, name, input_link, received_date, delivery_date, intruction,cb_ticked,cb },
      success: function (data) {
        alert(data.msg);
        $('#addJobModal').modal('hide');
        customerId = "";
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
      },
    })
  })



  $('.inputDate').inputmask("datetime", {
    mask: "1/2/y h:s",
    placeholder: "dd/mm/yyyy hh:mm",
    leapday: "-02-29",
    separator: "/",
    alias: "dd/mm/yyyy hh:mm"
  })
</script>