<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
  role="navigation"
>
  <a class="navbar-brand" href="#">BambooPhoto</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Doing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Done</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Rejected</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <!-- <li class="nav-item">
        <div class="input-group mt-2">
          <div class="input-group-prepend account-control">
            <div class="input-group-text">U</div>
          </div>
          <input
            type="text"
            class="form-control account-control"
            id="txtUsername"
            placeholder="Username"
          />
        </div>
      </li>
      <li class="nav-item col-auto" id="loginPanel">
        <div class="input-group mt-2">
          <div class="input-group-prepend account-control">
            <div class="input-group-text">P</div>
          </div>
          <input
            type="password"
            class="form-control account-control"
            id="txtPassword"
            placeholder="Password"
          />
        </div>
      </li> -->
      <li class="nav-item text-center">
        <a class="nav-link text-warning font-weight-bold" href="#" id="btnLogout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<script>
  $('#btnLogout').on('click',function(e){
    e.preventDefault();
    localStorage.removeItem('accessToken');
    window.location.href = '/editor/default';
  })
</script>
