<div class="row">
    <div class="col-md-2">
      <button class="btn btn-dark" id="btnAddNew">
        <span>
          <i class="fa fa-plus" aria-hidden="true"></i>
        </span>
        Add New
      </button>
    </div>
    
    <div class="offset-md-7 col-md-3 text-right">
      <!-- Another variation with a button -->
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search this blog" />
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
   
  </div>
  <table class="table mt-1">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Unit</th>
      
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Single</td>
        <td>2</td>
        <td>USD</td>
        
        <td class="text-right">
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-eye text-info" aria-hidden="true"></i>
          </a>
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-refresh text-warning" aria-hidden="true"></i>
          </a>
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-trash text-danger" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Multi</td>
        <td>10</td>
        <td>USD</td>
        
        <td class="text-right">
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-eye text-info" aria-hidden="true"></i>
          </a>
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-refresh text-warning" aria-hidden="true"></i>
          </a>
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-trash text-danger" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      
    </tbody>
  </table>
  
  
    <nav aria-label="Page navigation example" class="mt-2">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  
<%-include('modal')%>
    <script>
      $('#btnAddNew').click(function(){
        $('#modalPrice').modal();
      })
    </script>