<div class="modal" tabindex="-1" id="JobDetailModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body text-dark">


                <div class="panel panel-primary text-white bg-dark">
                    <div class="panel-heading"> Job description
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </div>
                    <div class="panel-body" id="job-info">

                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-4">Job name:</div>
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <label id="lblJobName" class="text-info font-weight-bold"></label>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-4">Customer:</div>
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <label id="lblCustomer" class="text-info font-weight-bold"></label>
                            </div>
                        </div>



                        <div class="row mt-2">
                            <div class="col-md-2 co-sm-4 col-xs-4">Received date:</div>
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <label id="lblReceivedDate"></label>
                            </div>
                            <div class="col-md-2 co-sm-4 col-xs-4">Deadline:</div>
                            <div class="col-md-4 col-sm-8 col-xs-8">
                                <label id="lblDeliveriedDate" class="text-danger"></label>
                            </div>
                        </div>




                        <hr />

                        <div class="row ">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="text-warning font-weight-bold">Intruction:</label>
                                <div id="lblIntruction" class="ml-2 mt-2 font-weight-bold text-danger"></div>
                            </div>
                        </div>


                        <hr />
                        <div class="row mt-2">
                            <div class="col-md-2 col-sm-2 col-xs-4">Source:</div>
                            <div class="col-md-10 col-sm-10 col-xs-8" id="lblInputLink"></div>
                        </div>








                        <div class="panel panel-info mt-2">
                            <div class="panel-heading">Job style info</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2 col-sm-3 col-xs-4">National style:</div>
                                    <div class="col-md-4 col-sm-3 col-xs-8 font-weight-bold" id="divNationalStyle">
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-4">Color:</div>
                                    <div class="col-md-4 col-sm-3 col-xs-8 font-weight-bold" id="divColor"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2 col-sm-3 col-xs-4">Size:</div>
                                    <div class="col-md-4 col-sm-3 col-xs-8 font-weight-bold" id="divSize"></div>

                                    <div class="col-md-2 col-sm-3 col-xs-4">Output:</div>
                                    <div class="col-md-4 col-sm-3 col-xs-8 font-weight-bold" id="divOutput"></div>
                                </div>



                                <hr />
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-2 mt-1">Align: </div>
                                    <div id="divAlign" class="font-weight-bold col-md-5 col-sm-5 col-xs-10 mt-1"></div>

                                    <div class="col-md-1 col-sm-1 col-xs-2 mt-1">Sky:</div>
                                    <div id="divSky" class=" font-weight-bold col-md-5 col-sm-5 col-xs-10 mt-1"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-2 mt-1">Fire:</div>
                                    <div id="divFire" class="font-weight-bold col-md-5 col-sm-5 col-xs-10 mt-1"></div>

                                    <div class="col-md-1 col-sm-1 col-xs-2 mt-1">TV:</div>
                                    <div id="divTV" class=" font-weight-bold col-md-5 col-sm-5 col-xs-10 mt-1"></div>
                                </div>

                                <hr />
                                <div class="row mt-2">
                                    <div class="col-md-2 col-sm-2 col-xs-4">
                                        Style note:
                                    </div>

                                    <div class="col-md-10 col-sm-10 col-xs-8">
                                        <label id="lblStyleNote" class="text-danger font-weight-bold"></label>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>




<script src="/js/common.js"></script>
<script>
    $("#JobDetailModal").on('shown.bs.modal', function (e) {
        LoadCustomer();
        LoadJobDetail();
    })



    function LoadJobDetail() {
        $.ajax({
            url: '/sale/job/detail',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                jobId
            },
            success: function (data) {
                $('#lblStyleNote').text(data.job.customer.style.style_note);
                $('#lblJobName').text(data.job.name);
                $('#lblCustomer').text(data.job.customer.name.firstname + ' ' + data.job.customer.name.lastname);
                $('#lblReceivedDate').text(convertISODateToTimeFormat(data.job.deadline.begin));
                $('#lblDeliveriedDate').text(convertISODateToTimeFormat(data.job.deadline.end));
                $('#lblIntruction').text(data.job.intruction);
                $('#lblInputLink').html('<a href="' + data.job.link.input + '" target="_blank" rel="noopener noreferrer">Link</a>')

            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg);
            }
        })
    }

    function LoadCustomer() {
        $.ajax({
            url: '/sale/customer/detail',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                id: customerId
            },
            success: function (data) {
                $('#divNationalStyle').html(data.customer.style.nation.name);
                $('#divColor').html(data.customer.style.color.name);
                $('#divOutput').html(data.customer.style.output.name);
                $('#divSize').html(data.customer.style.size.name);
                $('#lblStyleNote').text(data.customer.style.style_note);

                if (data.customer.style.align.checked) {
                    $('#divAlign').html('<i class="fa fa-check-square-o"></i>  <span class="text-warning">' + data.customer.style.align.note + '</span>');
                } else {
                    $('#divAlign').html('<i class="fa fa-square-o"></i>');
                }


                if (data.customer.style.sky.checked) {
                    $('#divSky').html('<i class="fa fa-check-square-o"></i>   <span class="text-warning">' + data.customer.style.sky.note + '</span>');
                } else {
                    $('#divSky').html('<i class="fa fa-square-o"></i>');
                }


                if (data.customer.style.tv.checked) {
                    $('#divTV').html('<i class="fa fa-check-square-o"></i>   <span class="text-warning">' + data.customer.style.tv.note + '</span>');
                } else {
                    $('#divTV').html('<i class="fa fa-square-o"></i>');
                }


                if (data.customer.style.fire.checked) {
                    $('#divFire').html('<i class="fa fa-check-square-o"></i>   <span class="text-warning">' + data.customer.style.fire.note + '</span>');
                } else {
                    $('#divFire').html('<i class="fa fa-square-o"></i>');
                }


            }, error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg);
            }
        })

    }


</script>