<div class="row mt-2">
    <div class="col-md-offset-6 col-md-2 col-sm-offset-5 col-sm-3 col-xs-6">
        <select name="" id="" class="form-control">
            <option value="">Open</option>
            <option value="">Processing</option>
            <option value="">Upload</option>
            <option value="">Reject</option>
            <option value="">Cancel</option>
            <option value="">Done</option>
        </select>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6 text-right">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Seach job..." id="txtSearch" />
            <div class="input-group-btn">
                <button class="btn btn-info" type="submit" id="btnSearch">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="tableFixHead table-responsive mt-2">
    <table class="table mt-1 table-striped bg-white text-dark text-nowrap">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th scope="col">#</th>
                <th scope="col">Customer</th>
                <th scope="col">Job name</th>
                <th scope="col">Combo</th>
                <th scope="col">Intruction</th>
                <th scope="col">Received date</th>
                <th scope="col">Delivery date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody id="tblData">
        </tbody>
    </table>
</div>

<script src="/js/common.js"></script>

<script type='text/javascript'
    src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>


<%-include('manage-job-modal')%>    
<%-include('upload-job-modal')%>    
<%-include('job-detail-modal')%>    

        <script>
            var search = '';
            var page = 1;
            var jobId = '';
            var customerId = '';


            $(document).ready(function () {
                LoadJob();
            })

            $(document).on("click", "button[name='job-info']", function () {
                jobId = $(this).closest('tr').attr('id');                            
                $('#JobDetailModal').modal();                
            })


            $(document).on("click", "button[name='upload-job']", function () {
                jobId = $(this).closest('tr').attr('id');                            
                $('#uploadJobModal').modal();                
            })



            function LoadJob() {
                $.ajax({
                    url: '/tla/job/list',
                    type: 'get',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem("accessToken"),
                    },
                    data: {
                        search,
                        page
                    },
                    success: function (data, textStatus, xhr) {
                        let idx = 1;
                        $('#tblData').empty();
                        data.jobs.forEach(job => {
                            let tr = '<tr id = "' + job._id + '" data-customer="' + job.customer._id + '"  >';

                            tr += '<td>';
          
                           
                            tr += '<button class="btn btn-xs btn-info" name="job-info"><i class="fa fa-info-circle" aria-hidden="true"></i></button>';
                            tr += '<button class="btn btn-xs btn-warning ml-2" name="upload-job"><i class="fa fa-upload" aria-hidden="true"></i></button>';
                            if (job.status == -1 || job.status == 0) {
                                tr += '<button class="btn btn-xs btn-primary ml-2" name="process-job"><i class="fa fa-cog" aria-hidden="true"></i></button>';                               
                            }
                            tr += '</td>';

                            tr += '<td>' + (idx++) + '</td>'
                            tr += '<td class="text-info font-weight-bold">' + job.customer.firstname + ' ' + job.customer.lastname + '</td>';
                            tr += '<td class="text-warning">' + job.name + '</td>';
                            tr += '<td class="font-weight-bold text-danger">';

                            if (job.cb_ticked) {
                                tr += job.cb.name;
                            } else {
                                tr += '';
                            }
                            tr += '</td>'

                            tr += '<td>' + job.intruction + '</td>';
                            tr += "<td>" + convertISODateToTimeFormat(job.received_date) + "</td>";
                            tr += "<td>" + convertISODateToTimeFormat(job.delivery_date) + "</td>";
                            tr += '<td><i>';
                            switch (job.status) {
                                case -1:
                                    tr += '<span class = "text-warning">Initial</span>';
                                    break;
                                case 0:
                                    tr += '<span class = "text-info">Processing</span>';
                                    break;
                                case 1:
                                    tr += '<span class = "text-primary">Upload</span>';
                                    break;
                                case 2:
                                    tr += '<span class = "text-success">Done</span>';
                                    break;
                                case -2:
                                    tr += '<span class = "text-danger">Rejected</span>';
                                    break;
                                case -3:
                                    tr += '<span class = "text-muted">Canceled</span>';
                                    break;
                            }
                            tr += '</i></td>';
                            tr += '</tr>';
                            $('#tblData').append(tr);
                        })

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseJSON.msg + ". " + jqXHR.responseJSON.error);
                    }
                })
            }


            $(document).on("click", "button[name='process-job']", function () {
                jobId = $(this).closest('tr').attr('id');
                customerId = $(this).closest('tr').data('customer');
                $.ajax({
                    url: '/tla/job/detail',
                    type: 'get',
                    headers: {
                        authorization: "Bearer " + localStorage.getItem("accessToken"),
                    },
                    data: {
                        id: jobId
                    },
                    success: function (data, textStatus, xhr) {


                        $('#assignJobModal').modal();

                        $('#customer_fullname').text(data.job.customer.firstname + ' ' + data.job.customer.lastname);
                        $('#name_case').text(data.job.name);
                        $('#job_intruction').text(data.job.intruction);
                        $('#txtDeadline').val(convertISODateToTimeFormat(data.job.delivery_date));
                        $('#style_note').text(data.job.customer.remark);
                        $('#customer').text(data.job.customer.firstname + ' ' + data.job.customer.lastname);

                        if (data.job.customer.has_fire) {
                            if (data.job.customer.fire_note.trim().length > 0) {
                                $('#customer_fire').html(data.job.customer.fire_note);
                            } else {
                                $('#customer_fire').html('<i class="fa fa-check-square-o text-success" aria-hidden="true"></i>');
                            }
                        } else {
                            $('#customer_fire').html('<i class="fa fa-square-o" aria-hidden="true"></i>');
                        }

                        if (data.job.customer.has_grass) {
                            if (data.job.customer.grass_note.trim().length > 0) {
                                $('#customer_grass').html(data.job.customer.grass_note);
                            } else {
                                $('#customer_grass').html('<i class="fa fa-check-square-o text-success" aria-hidden="true"></i>');
                            }
                        } else {
                            $('#customer_grass').html('<i class="fa fa-square-o" aria-hidden="true"></i>');
                        }

                        if (data.job.customer.has_sky) {
                            if (data.job.customer.sky_note.trim().length > 0) {
                                $('#customer_sky').html(data.job.customer.sky_note);
                            } else {
                                $('#customer_sky').html('<i class="fa fa-check-square-o text-success" aria-hidden="true"></i>');
                            }
                        } else {
                            $('#customer_sky').html('<i class="fa fa-square-o" aria-hidden="true"></i>');
                        }

                        if (data.job.customer.has_TV) {
                            if (data.job.customer.TV_note.trim().length > 0) {
                                $('#customer_tv').html(data.job.customer.TV_note);
                            } else {
                                $('#customer_tv').html('<i class="fa fa-check-square-o text-success" aria-hidden="true"></i>');
                            }
                        } else {
                            $('#customer_tv').html('<i class="fa fa-square-o" aria-hidden="true"></i>');
                        }

                        if (data.job.customer.is_align) {
                            if (data.job.customer.align_note.trim().length > 0) {
                                $('#customer_align').html(data.job.customer.align_note);
                            } else {
                                $('#customer_align').html('<i class="fa fa-check-square-o text-success" aria-hidden="true"></i>');
                            }
                        } else {
                            $('#customer_align').html('<i class="fa fa-square-o" aria-hidden="true"></i>');
                        }



                        $('#customer_colormode').html('<i class="text-warning font-weight-bold">' + data.job.customer.color.name + '</i>')
                        $('#customer_cloud').html('<i class="text-warning font-weight-bold">' + data.job.customer.cloud.name + '</i>')
                        $('#customer_nationalstyle').html('<i class="text-warning font-weight-bold">' + data.job.customer.nation.name + '</i>')
                        $('#customer_output').html('<i class="text-warning font-weight-bold">' + data.job.customer.output.name + '</i>')
                        $('#customer_size').html('<i class="text-warning font-weight-bold">' + data.job.customer.size.name + '</i>')

                    }
                })
            })






        </script>