<div class="row mt-2">
    <div class="col-md-offset-6 col-md-2 col-sm-offset-5 col-sm-3 col-xs-6">
        <select name="" id="" class="form-control">
            <option value="">Open</option>
            <option value="">Processing</option>
            <option value="">Upload</option>
            <option value="">Reject</option>
            <option value="">Cancel</option>
            <option value="">Done</option>
        </select>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6 text-right">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Seach job..." id="txtSearch" />
            <div class="input-group-btn">
                <button class="btn btn-info" type="submit" id="btnSearch">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="tableFixHead table-responsive mt-2">
    <table class="table mt-1 table-striped bg-white text-dark text-nowrap">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Customer</th>
                <th scope="col">Job name</th>
                <th scope="col">Combo</th>
                <th scope="col">Received date</th>
                <th scope="col">Delivery date</th>
                <th scope="col" colspan="2">Status</th>
            </tr>
        </thead>
        <tbody id="tblData">
        </tbody>
    </table>
</div>

<script src="/js/common.js"></script>

<script type='text/javascript'
    src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>


<%-include('manage-job-modal')%>
    <%-include('upload-job-modal')%>
        <%-include('job-detail-modal')%>

            <script>
                var search = '';
                var page = 1;
                var jobId = '';
                var customerId = '';


                $(document).ready(function () {
                    LoadJobs();
                })

                $(document).on("click", "button[name='js-view-parents']", async function (e) {

                    var $btn = $(e.target), $row = $btn.closest('tr'), $nextRow = $row.next('tr.expand-child');

                    $btn.toggleClass('fa-minus');

                    if ($nextRow.length) {
                        $nextRow.toggle($btn.hasClass('fa-minus'));
                    } else {
                        var newRow = '<tr class="expand-child" id="collapse' + $btn.data('id') + '">' +
                            '<td colspan="9">' +
                            '<table class="table table-condensed table-bordered table-striped" width=100% >' +
                            '<thead>' +
                            '<tr>' +
                            '<th class="text-right  ">#</th>' +
                            '<th>Level</th>' +
                            '<th>Editor</th>' +
                            '<th class="text-center">I-N</th>' +
                            '<th>Q.A</th>' +
                            '<th>DC</th>' +
                            '<th>Uploaded by</th>' +
                            '<th>Uploaded at</th>' +
                            '<th>I-Link</th>' +
                            '<th>O-Link</th>' +
                            '<th>U-Link</th>' +
                            '<th>Status</th>' +
                            '</tr>' +
                            '</thead>' +
                            '<tbody>';
                        jobId = $(this).closest('tr').attr('id');

                        await $.ajax({
                            url: '/tla/task/list',
                            type: 'get',
                            headers: {
                                authorization: "Bearer " + localStorage.getItem("accessToken"),
                            },
                            data: {
                                jobId
                            },
                            success: function (data) {
                                let idx = 1;
                                data.tasks.forEach(t => {
                                    newRow += '<tr>';
                                    newRow += '<td class="text-right">' + (idx++) + '</td>';
                                    newRow += '<td class="font-weight-bold text-primary">' + t.basic.level.name + '</td>';
                                    newRow += '<td>';
                                    if (t.status !== -1) {
                                        newRow += t.editor[t.editor.length - 1].staff.fullname;
                                    }
                                    newRow += '</td>';

                                    newRow += '<td class="text-center">';
                                    if (t.editor.length > 0 && t.editor[t.editor.length - 1].submited.length > 0) {
                                        newRow += t.editor[t.editor.length - 1].submited[t.editor[t.editor.length - 1].submited.length - 1].amount;
                                    }
                                    newRow += '</td>';

                                    newRow += '<td>';
                                    if (t.qa.length > 0 && !t.qa[t.qa.length - 1].unregisted) {
                                        newRow += t.qa[t.qa.length - 1].staff.fullname;
                                    }
                                    newRow += '</td>';

                                    newRow += '<td>';
                                    if (t.dc.length > 0 && !t.dc[t.dc.length - 1].unregisted) {
                                        newRow += t.dc[t.dc.length - 1].staff.fullname;
                                    }
                                    newRow += '</td>';



                                    newRow += '<td>';
                                    if (t.tla.uploaded.length > 0) {
                                        newRow += t.tla.uploaded[t.tla.uploaded.length - 1].by.fullname;
                                    }
                                    newRow += '</td>';

                                    newRow += '<td>';
                                    if (t.tla.uploaded.length > 0) {
                                        newRow += convertISODateToTimeFormat(t.tla.uploaded[t.tla.uploaded.length - 1].at);
                                    }
                                    newRow += '</td>';

                                    newRow += '<td  class="text-center">';
                                    if (isValidHttpUrl(t.basic.link.input)) {
                                        newRow += '<a href="' + t.basic.link.input + '" target="_blank" rel="noopener noreferrer"><i class="fa fa-link" aria-hidden="true"></i></a>';
                                    } else {
                                        newRow += t.basic.link.input;
                                    }
                                    newRow += '</td>';

                                    newRow += '<td class="text-center">';
                                    if (t.editor.length > 0 && t.editor[t.editor.length - 1].submited.length > 0) {
                                        if (isValidHttpUrl(t.editor[t.editor.length - 1].submited[t.editor[t.editor.length - 1].submited.length - 1].link)) {
                                            newRow += '<a href="' + t.editor[t.editor.length - 1].submited[t.editor[t.editor.length - 1].submited.length - 1].link + '" target="_blank" rel="noopener noreferrer"><i class="fa fa-link" aria-hidden="true"></i></a>';
                                        } else {
                                            newRow += t.editor[t.editor.length - 1].submited[t.editor[t.editor.length - 1].submited.length - 1].link;
                                        }
                                    }

                                    newRow += '</td>';



                                    newRow += '<td  class="text-center">';

                                    if (t.tla.uploaded.length > 0) {
                                        if (isValidHttpUrl(t.tla.uploaded[t.tla.uploaded.length - 1].link)) {
                                            newRow += '<a href="' + t.tla.uploaded[t.tla.uploaded.length - 1].link + '" target="_blank" rel="noopener noreferrer"><i class="fa fa-link" aria-hidden="true"></i></a>';
                                        } else {
                                            newRow += t.tla.uploaded[t.tla.uploaded.length - 1].link
                                        }
                                    }

                                    newRow += '</td>';



                                    newRow += '<td><i>';

                                    switch (t.status) {
                                        case -1: newRow += '<span class="text-info">Initial</span>';
                                            break;
                                        case 0: newRow += '<span class="text-info">Processing</span>';
                                            break;
                                        case 1:
                                            {
                                                if (t.editor[t.editor.length - 1].submited.length > 1) {
                                                    newRow += '<span class="text-primary">Fixed</span>';
                                                } else {
                                                    newRow += '<span class="text-primary">Edited</span>';
                                                }
                                                break;
                                            }
                                        case 2:
                                            newRow += '<span class="text-success">Q.A ok!</span>';
                                            break;
                                        case 3:
                                            newRow += '<span class="text-success">DC ok!</span>'
                                            break;
                                        case -2:
                                            newRow += '<span class="text-danger">Q.A rejected</span>';
                                            break;
                                        case -3:
                                            newRow += '<span class="text-danger">DC rejected</span>';
                                            break;
                                        case -4:
                                            newRow += '<span class="text-danger">Sale rejected</span>';
                                            break;
                                        case -5:
                                            newRow += '<span class="text-danger">Canceled</span>';
                                            break;
                                        case 4: newRow += '<span class="text-success font-weight-bold">Upload</span>'; break;
                                        case 5: newRow += '<span class="text-success font-weight-bold">Done</span>'; break;
                                        case 6: newRow += '<span class="text-success font-weight-bold">Finish</span>'; break;

                                    }
                                    newRow += '</i></td>';


                                    // newRow += '<td class="text-center">';
                                    // newRow += '<input type="checkbox" name="check_task">'
                                    // newRow += '</td>';
                                    newRow += '</tr>';
                                })
                            }
                        })
                        newRow += '</tbody></table></td></tr>';
                        // set next row
                        $nextRow = $(newRow).insertAfter($row);


                        /*}
                            });*/
                    }
                });


                $(document).on("click", "button[name='btn-upload-job']", function () {
                    jobId = $(this).closest('tr').attr('id');
                    $('#uploadJobModal').modal();
                })


                $(document).on("click", "button[name='process-job']", function () {
                    jobId = $(this).closest('tr').attr('id');
                    customerId = $(this).closest('tr').data('customer');
                    isShown = false;
                    $('.btn-job-info').html('Show job info<i class="fa fa-arrow-down" aria-hidden="true"></i>');
                    $('#JobMngrModal').modal();
                    $('.combo_tab').hide();
                    $('.liCombo').hide();
                })


                function LoadJobs() {
                    $.ajax({
                        url: '/tla/job/list',
                        type: 'get',
                        headers: {
                            authorization: "Bearer " + localStorage.getItem("accessToken"),
                        },
                        data: {
                            search,
                            page
                        },
                        success: function (data, textStatus, xhr) {
                            let idx = 1;
                            $('#tblData').empty();
                            data.jobs.forEach(job => {
                                let tr = '<tr id = "' + job._id + '" data-customer="' + job.customer._id + '"  >';

                                tr += '<td>';
                                if (job.tasks.length > 0) {
                                    tr += '<button class="btn btn-xs btn-info parents js-view-parents" name="js-view-parents"> (' + job.tasks.length + ') <i class="fa fa-plus"></i></button>';
                                }
                                tr += '</td>';


                                tr += '<td>' + (idx++) + '</td>'


                                tr += '<td>';
                                if (job.status == -1 || job.status == 0) {
                                    tr += '<button class="btn btn-xs btn-primary ml-2" name="process-job"><i class="fa fa-bars" aria-hidden="true"></i></button>';
                                }
                                tr += '<button class="btn btn-xs btn-warning ml-2" name="btn-upload-job"><i class="fa fa-upload" aria-hidden="true"></i></button>';

                                tr += '</td>';


                                tr += '<td class="text-info font-weight-bold">' + getFirstLetters(job.customer.firstname + ' ' + job.customer.lastname) + getLastLetters(job.customer._id) + '</td>';
                                tr += '<td class="text-warning">';
                                tr += job.name;
                                if (job.cc.length > 0 && job.cc[job.cc.length-1].status ===-1) {
                                    tr+='<span class="ml-2"><button class="btn btn-xs btn-danger" name="btnNewCC"><i class="fa fa-cc" aria-hidden="true"></i></button></span>'
                                }
                                tr += '</td>';
                                tr += '<td class="font-weight-bold text-danger">';

                                if (job.cb_ticked) {
                                    tr += job.cb.name;

                                } else {
                                    tr += '';
                                }


                                tr += '</td>';


                                tr += "<td>" + convertISODateToTimeFormat(job.received_date) + "</td>";
                                tr += "<td>" + convertISODateToTimeFormat(job.delivery_date) + "</td>";
                                tr += '<td><i>';
                                switch (job.status) {
                                    case -1:
                                        tr += '<span class = "text-warning">Initial</span>';
                                        break;
                                    case 0:
                                        tr += '<span class = "text-info">Processing</span>';
                                        break;
                                    case 1:
                                        tr += '<span class = "text-primary">Upload</span>';
                                        break;
                                    case 2:
                                        tr += '<span class = "text-success">Done</span>';
                                        break;
                                    case -2:
                                        tr += '<span class = "text-danger">Rejected</span>';
                                        break;
                                    case -3:
                                        tr += '<span class = "text-muted">Canceled</span>';
                                        break;
                                }
                                tr += '</i></td>';
                                tr += '</tr>';
                                $('#tblData').append(tr);
                            })

                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(jqXHR.responseJSON.msg + ". " + jqXHR.responseJSON.error);
                        }
                    })
                }



                //phan xu ly lien quan toi job detail
                $(document).ready(function () {
                    $('.job-info').hide();
                })

                var isShown = false;
                $('.btn-job-info').click(function () {
                    if (!isShown) {
                        $('.job-info').slideDown(1000);
                        $('.btn-job-info').html('Hide job info <i class="fa fa-arrow-up" aria-hidden="true"></i>');

                    } else {
                        $('.btn-job-info').html('Show job info <i class="fa fa-arrow-down" aria-hidden="true"></i>');
                        $('.job-info').slideUp(1000);
                    }
                    isShown = !isShown;
                })


                function LoadJob() {
                    $.ajax({
                        url: '/tla/job/detail',
                        type: 'get',
                        headers: {
                            authorization: "Bearer " + localStorage.getItem("accessToken"),
                        },
                        data: {
                            id: jobId
                        },
                        success: function (data, textStatus, xhr) {

                            $('.lblCustomer').text(getFirstLetters(data.job.customer.firstname + ' ' + data.job.customer.lastname) + getLastLetters(data.job.customer._id));
                            $('.lblJobName').text(data.job.name);
                            $('.lblReceivedDate').text(convertISODateToTimeFormat(data.job.received_date));
                            $('.lblDeliveriedDate').text(convertISODateToTimeFormat(data.job.delivery_date));

                            $('.lblIntruction').text(data.job.intruction);

                            $('.lblInputLink').html('<a href="' + data.job.input_link + '" target="_blank" rel="noopener noreferrer">Click here</a>');

                            $('.divNationalStyle').html('<i class="text-warning font-weight-bold">' + data.job.customer.nation.name + '</i>');
                            $('.divColor').html('<i class="text-warning font-weight-bold">' + data.job.customer.color.name + '</i>');
                            $('.divSize').html('<i class="text-warning font-weight-bold">' + data.job.customer.size.name + '</i>');
                            $('.divOutput').html('<i class="text-warning font-weight-bold">' + data.job.customer.output.name + '</i>');
                            $('.divCloud').html('<i class="text-warning font-weight-bold">' + data.job.customer.cloud.name + '</i>')

                            if (data.job.customer.is_align) {
                                if (data.job.customer.align_note.trim().length > 0) {
                                    $('.divAlign').html(data.job.customer.align_note);
                                } else {
                                    $('.divAlign').html('<i class="fa fa-check-square-o text-success" aria-hidden="true"></i>');
                                }
                            } else {
                                $('.divAlign').html('<i class="fa fa-square-o" aria-hidden="true"></i>');
                            }

                            if (data.job.customer.has_sky) {
                                if (data.job.customer.sky_note.trim().length > 0) {
                                    $('.divSky').html(data.job.customer.sky_note);
                                } else {
                                    $('.divSky').html('<i class="fa fa-check-square-o text-success" aria-hidden="true"></i>');
                                }
                            } else {
                                $('.divSky').html('<i class="fa fa-square-o" aria-hidden="true"></i>');
                            }

                            if (data.job.customer.has_fire) {
                                if (data.job.customer.fire_note.trim().length > 0) {
                                    $('.divFire').html(data.job.customer.fire_note);
                                } else {
                                    $('.divFire').html('<i class="fa fa-check-square-o text-success" aria-hidden="true"></i>');
                                }
                            } else {
                                $('.divFire').html('<i class="fa fa-square-o" aria-hidden="true"></i>');
                            }

                            if (data.job.customer.has_TV) {
                                if (data.job.customer.TV_note.trim().length > 0) {
                                    $('.divTV').html(data.job.customer.TV_note);
                                } else {
                                    $('.divTV').html('<i class="fa fa-check-square-o text-success" aria-hidden="true"></i>');
                                }
                            } else {
                                $('.divTV').html('<i class="fa fa-square-o" aria-hidden="true"></i>');
                            }

                            if (data.job.customer.has_grass) {
                                if (data.job.customer.grass_note.trim().length > 0) {
                                    $('.divGrass').html(data.job.customer.grass_note);
                                } else {
                                    $('.divGrass').html('<i class="fa fa-check-square-o text-success" aria-hidden="true"></i>');
                                }
                            } else {
                                $('.divGrass').html('<i class="fa fa-square-o" aria-hidden="true"></i>');
                            }


                            $('.lblStyleNote').text(data.job.customer.remark);

                            if (data.job.cb_ticked) {
                                $('.liCombo').show();
                                $('.combo_tab').show();
                                LoadComboLine(data.job.cb);
                            } else {
                                $('.liCombo').hide();
                                $('.combo_tab').show();
                            }


                        }
                    })
                }

                function LoadComboLine(cb) {
                    $.ajax({
                        url: '/tla/combo-line',
                        type: 'get',
                        headers: {
                            authorization: "Bearer " + localStorage.getItem("accessToken"),
                        },
                        data: {
                            cb
                        },
                        success: function (data) {
                            $('.tblComboLines').empty();
                            let idx = 1;
                            data.cbls.forEach(l => {
                                let tr = '<tr>';
                                tr += '<td>' + (idx++) + '</td>';
                                tr += '<td class="font-weight-bold">' + l.lv.name + '</td>';
                                tr += '<td class="text-right">' + l.qty + '</td>';
                                tr += '</tr>';
                                $('.tblComboLines').append(tr);
                            })
                        }
                    })
                }

            </script>