<div class="modal" tabindex="-1" id="JobDetailModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body text-dark">


                <div class="panel panel-primary text-white bg-dark">
                    <div class="panel-heading"> <button class="btn btn-xs btn-primary btn-job-info">Show job info
                            <i class="fa fa-arrow-down" aria-hidden="true"></i></button> </div>
                    <%-include('panel-job-info')%>
                </div>


                <div class="panel panel-warning">
                    <div class="panel-heading">Tasks list</div>
                    <div class="panel-body">
                        <div class="table-responsive  table-responsive-sm table-responsive-xs mt-2">
                            <table class="table mt-1 table-striped bg-white text-dark nowrap text-nowrap">
                                <thead class="thead-dark">
                                    <tr>

                                        <th scope="col">#</th>
                                        <th scope="col">Level</th>
                                        <th scope="col">Assign date</th>
                                        <th scope="col">Deadline</th>
                                        <th scope="col">Remark</th>
                                        <th scope="col">Editor</th>
                                        <th scope="col">Q.A</th>
                                        <th scope="col">E-T</th>
                                        <th scope="col">I-N</th>
                                        <th scope="col">ILink</th>
                                        <th scope="col">OLink</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Created by</th>
                                        <th scope="col">Updated by</th>
                                    </tr>
                                </thead>
                                <tbody id="tblTasksList"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>




<script src="/js/common.js"></script>
<script>
    $("#JobDetailModal").on('shown.bs.modal', function (e) {
        LoadTasksList();
        LoadCustomer();
        LoadJob();
        $('.job-info').hide();
    })

   



    function LoadCustomer() {
        $.ajax({
            url: '/tla/customer/detail',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                id: customerId
            },
            success: function (data) {
                console.log(data)
                $('#divNationalStyle').html(data.customer.style.nation.name);
                $('#divColor').html(data.customer.style.color.name);
                $('#divOutput').html(data.customer.style.output.name);
                $('#divSize').html(data.customer.style.size.name);
                $('#lblStyleNote').text(data.customer.style.style_note);

                if (data.customer.style.align.checked) {
                    $('#divAlign').html('<i class="fa fa-check-square-o"></i>  <span class="text-warning">' + data.customer.style.align.note + '</span>');
                } else {
                    $('#divAlign').html('<i class="fa fa-square-o"></i>');
                }


                if (data.customer.style.sky.checked) {
                    $('#divSky').html('<i class="fa fa-check-square-o"></i>   <span class="text-warning">' + data.customer.style.sky.note + '</span>');
                } else {
                    $('#divSky').html('<i class="fa fa-square-o"></i>');
                }


                if (data.customer.style.tv.checked) {
                    $('#divTV').html('<i class="fa fa-check-square-o"></i>   <span class="text-warning">' + data.customer.style.tv.note + '</span>');
                } else {
                    $('#divTV').html('<i class="fa fa-square-o"></i>');
                }


                if (data.customer.style.fire.checked) {
                    $('#divFire').html('<i class="fa fa-check-square-o"></i>   <span class="text-warning">' + data.customer.style.fire.note + '</span>');
                } else {
                    $('#divFire').html('<i class="fa fa-square-o"></i>');
                }


            }, error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg);
            }
        })

    }

    function LoadTasksList() {
        $('#tblTasksList').empty();
        $.ajax({
            url: '/tla/task/list',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                jobId
            },
            success: function (data) {
                let idx = 1;
                data.tasks.forEach(t => {
                    let tr = '<tr>';

                    tr += '<td>' + (idx++) + '</td>';
                    tr += '<td class="text-warning font-weight-bold">' + t.level.name + '</td>';
                    tr += '<td>' + convertISODateToTimeFormat(t.assigned_date) + '</td>';

                    tr += '<td>';
                    if (typeof t.deadline !== 'undefined') {
                        tr += convertISODateToTimeFormat(t.deadline);
                    }
                    tr += '</td>';


                    tr += '<td>';
                    if (typeof t.remarks[0] !== 'undefined') {
                        tr += t.remarks[0].content;
                    }
                    tr += '</td>';

                    tr += '<td>';
                    if (t.editor) {
                        tr += t.editor.fullname
                    }
                    tr += '</td>';
                    tr += '<td>';
                    if (t.qa) {
                        tr += t.qa.fullname
                    }
                    tr += '</td>';

                    tr += '<td class="text-right">' + t.edited_time + '</td>';


                    tr += '<td class="text-right">';
                    if (t.editor) {
                        tr += t.amount
                    }
                    tr += '</td>';

                    tr += '<td>';
                    if (isValidHttpUrl(t.input_link)) {
                        tr += '<a href="' + t.input_link + '" target="_blank" rel="noopener noreferrer">Link</a>'
                    } else {
                        tr += t.input_link;
                    }
                    tr += '</td>';

                    tr += '<td>';
                    if (typeof t.links !== 'undefined') {
                        if (t.links.length == 1) {
                            tr += '<a href="' + t.linksp[0].url + '" target="_blank" rel="noopener noreferrer">Link</a>'
                        } else {
                            tr += '<button class="btn btn-xs btn-info" name="btn-links-list"><i class="fa fa-link" aria-hidden="true"></i></button>';
                        }
                    }
                    tr += '</td>';




                    tr += '<td><i>';

                    switch (t.status) {
                        case -1: tr += '<span class="text-info">Initial</span>';
                            break;
                        case 0: tr += '<span class="text-info">Processing</span>';
                            break;
                        case 1:
                            {
                                if (t.edited_time > 1) {
                                    tr += '<span class="text-primary">Fixed</span>';
                                } else {
                                    tr += '<span class="text-primary">Edited</span>';
                                }
                                break;
                            }
                        case 2:
                            tr += '<span class="text-success">Q.A ok!</span>';
                            break;
                        case 3:
                            tr += '<span class="text-success">DC ok!</span>'
                            break;
                        case -2:
                            tr += '<span class="text-danger">Q.A rejected</span>';
                            break;
                        case -3:
                            tr += '<span class="text-danger">DC rejected</span>';
                            break;
                        case 4: tr += '<span class="text-success">Upload</span>'; break;
                        case 5: tr += '<span class="text-success">Done</span>'; break;
                        case 6: tr += '<span class="text-success">Finish</span>'; break;

                    }
                    tr += '</i></td>';

                    tr += '<td>';
                    tr += t.created_by.fullname;
                    tr += '</td>';

                    tr += '<td>';
                    if (typeof t.updated_by !== 'undefined') {
                        tr += t.updated_by.fullname;
                    }
                    tr += '</td>';



                    tr += '</tr>';
                    $('#tblTasksList').append(tr);
                })
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg);
            }
        })
    }
</script>