<div class="modal" tabindex="-1" id="uploadJobModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body text-dark">
        <div class="panel panel-info mb-3">
          <div class="panel-heading font-weight-bold">
            <div class="row">
              <div class="col-sm-10">Upload job</div>
              <div class="col-sm-2 text-right">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="panel-body">

            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12 mt-2 form-group">
                <label for="">Task:</label>
                <select name="" id="slTasks" class="form-control"></select>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-12 mt-2 form-group">
                <label for="">Link:</label>
                <input type="text" class="form-control" id="txtUploadLink" placeholder="Upload link">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 mt-2">
                <label for="">Remark:</label>
                <input type="text" class="form-control" id="txtUploadRemark" placeholder="Upload remark">
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <button class="btn btn-success" id="btnSubmitUploadTask">
                  <i class="fa fa-upload" aria-hidden="true"></i>
                  Submit upload
                </button>
              </div>
            </div>

            <hr />
            <div class="panel panel-info">
              <div class="panel-heading">Uploaded tasks</div>
              <div class="panel-body">
                <div class="table-responsive  table-responsive-sm table-responsive-xs mt-2">
                  <table class="table mt-1 table-striped bg-white text-dark nowrap text-nowrap">
                    <thead class="thead-dark">
                      <tr>

                        <th scope="col">#</th>
                        <th scope="col">Level</th>
                        <th scope="col">Remark</th>
                        <th scope="col">Link</th>
                      </tr>
                    </thead>
                    <tbody id="tblUploadedTasks"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




<script src="/js/common.js"></script>
<script>
  $("#uploadJobModal").on('shown.bs.modal', function (e) {
    LoadUnuploadedTask();
  })

  $('#slTasks').change(function () {
    $('#txtUploadLink').val($('#slTasks option:selected').data('link'));
  });

  function LoadUnuploadedTask() {
    $.ajax({
      url: '/tla/task/list-unuploaded',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {
        jobId
      },
      success: function (data) {
        $('#slTasks').empty();
        data.tasks.forEach(t => {
          let opt = '<option value = "' + t._id + '" data-link="' + t.output_link + '">';
            opt+= t.level.name;
            opt+=' - ['+t.editor.fullname+']';           
            opt+= '</option>';
          $('#slTasks').append(opt);
        })

        $('#txtUploadLink').val($('#slTasks option:selected').data('link'));
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
      }

    })
  }

</script>