<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Job</th>
      <th scope="col">Assigned date</th>
      <th scope="col">Deadline</th>
      <th scope="col">Q.A</th>
      <th scope="col">Editor</th>
    </tr>
  </thead>
  <tbody id="tbdTasks">
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>


<script>
  $(document).ready(function () {
    LoadAssignedTasks();
  })

  var page = 1;
  var search = '';

  function LoadAssignedTasks() {
    $.ajax({
      url: '/task',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data: {        
        page,
        search
      },
      success: function (data) {
        $('#tbdTasks').empty();
        data.tasks.forEach(t=>{
          let tr = '<tr id="'+t._id+'">';
            

            tr+= '</tr>';
        })

      }, error: function (request, status, error) {
      
        window.location.href = '/default';
      }

    })
  }
</script>