<div id="divLogo">
  <img src="/images/GUI/logo.jpg" id="imgLogo">
</div>

<style>
  #divLogo{
    width: 50%;
    height: auto;
    margin:0 auto;
    margin-top: 30px;
  }
</style>



<table class="table" id="tblTasks">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody id="tbdTasks">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  

  <script>
    $(document).ready(function(){
      $('#divLogo').show(100);
      $('#tblTasks').hide();
    })
  </script>
