<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%-include('child/common')%>


    <title>Hello, world!</title>
  </head>
  <body>   
   
    <%-include('child/admin/navbar')%>
    <div class="container" id="content">
        <div class="card mt-1">
            <h5 class="card-header">
              <span><i class="fa fa-home" aria-hidden="true"></i></span>
              <span id="direction">Administrator Dasboard</span>
             
            </h5>
            <div class="card-body">
                <%-body%>
            </div>
          </div>
        
    </div>
</body>
</html>


<script>
  $(document).ready(function(){
    let accessToken = window.localStorage.getItem('accessToken');
    $.ajax({
      url:'',
      type:'get',
      data:{
        accessToken:accessToken
      },
      success: function (data, textStatus, xhr) {
        
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $("#error_msg").text(jqXHR.responseJSON.msg);
        $("#alert_msg").show();
      }
    })
  })
</script>
