<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <%-include('child/common')%>
    <title>Sale Dashboard - BamBoo Photo</title>
  </head>
  <body>   
    <div class="container mt-10">
      <%- include('child/Sale/navbar') %>
      <div class="container">
        <div class="card text-white bg-secondary  mt-5" style="margin-top: 20px; display: block;">
          <div class="card-header font-weight-bold"><%=title%></div>
          <div class="card-body" style="min-height: 500px !important;">
            <%-body%>
          </div>
          <div class="card-footer bg-dark" id="footer">
            <h6>BambooPhoto - Sale Module</h6>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<style>

    #footer{
    left:0;
    right:0;
     position:fixed;
     bottom:0px;
     z-index:300;
     box-shadow: 9px 1px 10px 0px #242424;
     padding-bottom:2px; 
     background-color:#ffffff;
    }

</style>