<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />



    <%-include('child/common')%>
    <title>Sale Dashboard - BamBoo Photo</title>
  </head>
  <body>   
    <div class="container-fluid">
      <%- include('child/sale/navbar') %>
      <div class="container-fluid">
        <div class="panel panel-primary">
          <div class="panel-heading font-weight-bold"><%=title%></div>
          <div class="panel-body" style="min-height: 500px !important;">
            <%-body%>
          </div>
          <div class="panel-footer bg-dark" id="footer">
            <h6>Photo Home - Sale Module</h6>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

