<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <%-include('child/common')%>
    <title>TLA Dashboard</title>
  </head>
  <body>   
    <div class="container mt-10">
      <div class="container">
        <%- include('child/TLA/navbar') %>

        <div class="card">
          <div class="card-header">Header</div>
          <div class="card-body" style="min-height: 600px"><%- body %></div>
          <div class="card-footer"><%- include('child/TLA/footer') %></div>
        </div>
      </div>
    </div>
  </body>
</html>
