<div class="modal" tabindex="-1" id="modalModule">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add or update module</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Module name</label>
                        <input type="text" name="txtName" id="txtName" class="form-control" placeholder="Module name">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="">Description</label>
                        <input type="text" name="txtDescription" id="txtDescription" class="form-control"
                            placeholder="Description">
                    </div>


                    <div class="form-group col-sm-12" id="divStatus">
                        <label for="">Status</label>
                        <div class="form-check form-switch mt-1">
                            <input class="form-check-input" type="checkbox" id="ckbStatus" checked>
                            <label class="form-check-label" for="ckbStatus">Active</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-sm-12">
                            <label for="" id="msgError" class="text-danger font-weight-bold"></label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSubmit">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#msgError').hide();
    })

    $('#btnSubmit').click(function () {
        let name = $('#txtName').val().trim();
        let description = $('#txtDescription').val().trim();

        if (name.trim().length == 0) {
            $.toast({
                heading: 'Error',
                text: `Module name can not be blank!`,
                showHideTransition: 'fade',
                icon: 'error'
            });
            return;
        }

        //trường hợp cập nhật thông tin module đã có
        if (moduleId.length > 0) {
            $.ajax({
                url: '/admin/module',
                type: 'put',
                headers: {
                    authorization: "Bearer " + localStorage.getItem('accessToken'),
                },
                data: {
                    moduleId,
                    name,
                    description,
                    status: $('#ckbStatus').is(':checked')
                },
                success: function (data, textStatus, xhr) {
                    $.toast({
                        heading: 'Successfully!',
                        text: data.msg,
                        showHideTransition: 'fade',
                        icon: 'success'
                    });
                    $('#modalModule').modal('hide');
                    moduleId = '';
                }, error: function (err) {
                    $.toast({
                        heading: 'Error',
                        text: err.responseJSON.msg,
                        showHideTransition: 'fade',
                        icon: 'error'
                    });
                }
            })
        } else {//trường hợp thêm mới 1 module
            $.ajax({
                url: '/admin/module',
                type: 'post',
                headers: {
                    authorization: "Bearer " + localStorage.getItem('accessToken'),
                },
                data: {
                    name,
                    description
                },
                success: function (data, textStatus, xhr) {
                    $.toast({
                        heading: 'Successfully!',
                        text: data.msg,
                        showHideTransition: 'fade',
                        icon: 'success'
                    });
                    $('#modalModule').modal('hide');
                    moduleId = '';
                }, error: function (err) {
                    $.toast({
                        heading: 'Error',
                        text: err.responseJSON.msg,
                        showHideTransition: 'fade',
                        icon: 'error'
                    });
                }
            })
        }

    })

    $('#modalModule').on('show.bs.modal', function (e) {
        if (moduleId.trim().length == 0) {
            $('#divStatus').hide();
        } else {
            $('#divStatus').show();
        }

        $('#txtName').val('');
        $('#txtDescription').val('');
    })


    //sự kiện load lại hàm ds level khi modal đc đóng lại
    $(document).on('hidden.bs.modal', '#modalModule', function () {
        LoadData();
        moduleId = '';
    });

</script>