<script src="/js/bootstrap-select.min.js"></script>
<link href="/css/bootstrap-select.min.css" rel="stylesheet" />

<div class="modal" tabindex="-1" id="modalStaff">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Staff roles management</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 form-control-label">Staff</label>
                                <div class="col-sm-8">
                                    <select class="form-control selectpicker" id="select-staff" data-live-search="true">
                                        <option data-tokens="china">China</option>
                                        <option data-tokens="malayasia">Malayasia</option>
                                        <option data-tokens="singapore">Singapore</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-sm mt-1 btn-success" id="btnAddStaffIntoModule">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Add
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->



                <table class="table table-dark" style="margin-top: 20px;">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Fullname</th>
                            <th scope="col">Phone</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="tblStaffs">

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.selectpicker').selectpicker();
    });


    $('#modalStaff').on('show.bs.modal', function (e) {
        LoadStaffs();
    })

    $('#btnAddStaffIntoModule').click(function(e){
        e.preventDefault();
        let staff = $('#select-staff option:selected').val();
        console.log(staff);
    })


    function LoadStaffs() {
        $.ajax({
            url: '/admin/user/list',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem('accessToken'),
            },
            success: function (data) {
                $('#select-staff').empty();               
                data.users.forEach(u=>{
                    let opt =  '<option value="'+u._id+'">'+u.fullname+'</option>';
                    $('#select-staff').append(opt);
                })
                $('#select-staff').selectpicker();
                $('#select-staff').selectpicker('refresh');
            }
        })
    }
</script>