<div class="row">
    <div class="col-md-1 col-sm-2 col-xs-3 mt-2 text-right">
      <button class="btn btn-success" id="btnGetTask">
        <i class="fa fa-plus"></i> Get job
      </button>
    </div>
    <div class="col-md-offset-6 col-md-5 col-sm-offset-4 col-sm-6 col-xs-9 mt-2">
      <!-- Another variation with a button -->
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Seach your job..." id="txtSearch" />
        <div class="input-group-btn">
          <button class="btn btn-info" type="submit" id="btnSearch">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="table-responsive mt-2">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Level</th>
          <th scope="col">Deadline</th>
          <th scope="col">Remark</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="tbdTasks">
      </tbody>
    </table>
  </div>