<div class="row">
  <div class="col-md-1 col-sm-2 col-xs-3 mt-2 text-right">
    <button class="btn btn-success" id="btnGetTask">
      <i class="fa fa-plus"></i> Get job
    </button>
  </div>
  <div class="col-md-offset-6 col-md-5 col-sm-offset-4 col-sm-6 col-xs-9 mt-2">
    <!-- Another variation with a button -->
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Seach your job..." id="txtSearch" />
      <div class="input-group-btn">
        <button class="btn btn-info" type="submit" id="btnSearch">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>  
</div>


<div class="table-responsive mt-2">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Level</th>
        <th scope="col">Deadline</th>
        <th scope="col">Remark</th>
        <th scope="col">Source</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="tbdTasks">
    </tbody>
  </table>
</div>

<%-include('task_detail')%>
<%-include('submit_modal')%>

  <script src="/js/common.js"></script>
  <script>
    var page = 1;
    var search = '';
    var taskId = '';

    $(document).ready(function () {
      LoadTask();
    })


    $('#btnGetTask').click(function(){
      $.ajax({
        url:'/task/get-more',
        type:'put',
        headers: {
          authorization: "Bearer " + localStorage.getItem("accessToken"),
        },
        success:function(data){
          console.log(data);
        }
      })
    })

   



    $(document).on("click", "button[name='btnSubmitTask']", function () {
      taskId = $(this).closest("tr").attr("id");
      $('#modalSubmitTask').modal();
    })


    $(document).on("click", "button[name='btnTaskInfo']", function () {
      taskId = $(this).closest("tr").attr("id");
      $('#modalTaskDetail').modal();
    })




    function LoadTask() {
      $.ajax({
        url: '/task',
        type: 'get',
        headers: {
          authorization: "Bearer " + localStorage.getItem("accessToken"),
        },
        data: {
          page,
          search
        },
        success: function (data) {
          $('#tbdTasks').empty();       
          let idx = 1;
          data.tasks.forEach(t => {
            let tr = '<tr id="' + t._id + '">';

            tr += '<td>' + (idx++) + '</td>';
            tr += '<td class="font-weight-bold">' + t.level.name + '</td>';
            tr += '<td class="text-danger">' + convertISODateToTimeFormat(t.deadline) + '</td>';
            tr += '<td>' + t.remark + '</td>';

            tr += '<td> <a href="' + t.job.source_link + '" target="_blank">Link</a></td>';

            /*
            
             0: Editor đang xử lý
             1: editor done
             2: QA ok
             3: DC ok --> job ok
             -1: khởi tạo
             -2: Q.A reject            
             -3: DC reject
           */

            tr += '<td class="font-italic text-success">';
            switch (t.status) {

              case 0: tr += 'Processing'; break;
              case 1: tr += 'Editor done'; break;
              case 2: tr += 'Q.A ok'; break;
              case 3: tr += 'DC ok'; break;
              case -1: tr += 'Initial'; break;
              case -2: tr += 'Q.A reject'; break;
              case -3: tr += 'DC reject'; break;

            }
            tr += '</td>';

            tr += '<td class="text-right">';
            tr += '<button class="btn btn-xs btn-info" name="btnTaskInfo">';
            tr += '<i class="fa fa-info"></i> Detail';
            tr += '</button>';
           if(t.status == 0){
            tr += '<button class="btn btn-xs btn-primary ml-2" name="btnSubmitTask">';
            tr += '<i class="fa fa-send-o"></i> Submit';
            tr += '</button>';
           }
          
            tr += '</td>';



            tr += '</tr>';
            $('#tbdTasks').append(tr);
          })

        }, error: function (request, status, error) {
          alert(request.responseJSON.msg)
          window.location.href = '/editor/default';
        }

      })
    }

    function ConvertTimeStamp(timestamp) {

      let date = new Date(timestamp);
      console.log(date);
      let dd = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
      let month = (date.getMonth() + 1) < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
      let year = date.getFullYear();
      let hh = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      let mm = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();

      return dd + '/' + month + '/' + year + ' ' + hh + ':' + mm;
    }
  </script>