<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div id="pieChart" style="height: 360px; width: 100%;">
            </div>
        </div>
        <div class="col-md-6">
            <div id="columnChart" style="height: 360px; width: 100%;">
            </div>
        </div>
    </div>
</div>
<script src="/js/canvasjs.min.js"></script>
<script>

    $(document).ready(function () {
        StatisticTasks();
    })


    function StatisticTasks() {
        $.ajax({
            url: '/editor/task/statistic',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            success: function (data) {
               
                let done = ((data.done/data.total)*100).toFixed(2);
                let edited = ((data.edited/data.total)*100).toFixed(2);
                let fixed = ((data.fixed/data.total)*100).toFixed(2);
                let canceled = ((data.canceled/data.total)*100).toFixed(2);
                let rejected = ((data.rejected/data.total)*100).toFixed(2);
                let processing = ((data.processing/data.total)*100).toFixed(2);
               
                var pieChartValues = [
                    {
                        y:done,
                        exploded: true,
                        indexLabel: "Done("+data.done+")",
                        color: "#1f77b4"
                    },
                    {
                        y: edited ,
                        indexLabel: "Edited("+data.edited+")",
                        color: "#008000"
                    },
                    {
                        y: fixed ,
                        indexLabel: "Fixed("+data.fixed+")",
                        color: " #ffbb78"
                    },
                    {
                        y: canceled,
                        indexLabel: "Canceled("+data.canceled+")",
                        color: "#d62728"
                    },
                    {
                        y: processing ,
                        indexLabel: "Processing("+data.processing+")",
                        color: "#f7b6d2"
                    },
                    {
                        y: rejected ,
                        indexLabel: "Rejected("+data.rejected+")",
                        color: "#FF0000"
                    }                    
                ];
                 renderPieChart(pieChartValues);
            }
        })
    }


    function renderPieChart(values) {
console.log(values);
        var chart = new CanvasJS.Chart("pieChart", {
            backgroundColor: "white",
            colorSet: "colorSet2",

            title: {
                text: "Task statistic",
                fontFamily: "Verdana",
                fontSize: 25,
                fontWeight: "normal",
            },
            animationEnabled: true,
            data: [{
                indexLabelFontSize: 15,
                indexLabelFontFamily: "Monospace",
                indexLabelFontColor: "darkgrey",
                indexLabelLineColor: "darkgrey",
                indexLabelPlacement: "outside",
                type: "pie",
                showInLegend: false,
                toolTipContent: "<strong>#percent%</strong>",
                dataPoints: values
            }]
        });
        chart.render();
    }

    
    var columnChartValues = [{
        y: 686.04,
        label: "one",
        color: "#1f77b4"
    }, {
        y: 381.84,
        label: "two",
        color: "#ff7f0e"
    }, {
        y: 375.76,
        label: "three",
        color: " #ffbb78"
    }, {
        y: 97.48,
        label: "four",
        color: "#d62728"
    }, {
        y: 94.2,
        label: "five",
        color: "#98df8a"
    }, {
        y: 65.28,
        label: "Hi",
        color: "#bcbd22"
    }, {
        y: 51.2,
        label: "Hello",
        color: "#f7b6d2"
    }];
    renderColumnChart(columnChartValues);

    function renderColumnChart(values) {

        var chart = new CanvasJS.Chart("columnChart", {
            backgroundColor: "white",
            colorSet: "colorSet3",
            title: {
                text: "Column Chart",
                fontFamily: "Verdana",
                fontSize: 25,
                fontWeight: "normal",
            },
            animationEnabled: true,
            legend: {
                verticalAlign: "bottom",
                horizontalAlign: "center"
            },
            theme: "theme2",
            data: [

                {
                    indexLabelFontSize: 15,
                    indexLabelFontFamily: "Monospace",
                    indexLabelFontColor: "darkgrey",
                    indexLabelLineColor: "darkgrey",
                    indexLabelPlacement: "outside",
                    type: "column",
                    showInLegend: false,
                    legendMarkerColor: "grey",
                    dataPoints: values
                }
            ]
        });

        chart.render();
    }
</script>