<div class="modal" tabindex="-1" role="dialog" id="modalTaskDetail">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-primary text-white bg-dark">
                    <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Job description
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-4">
                                <label for="">Job name:</label>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-8">
                                <label id="lblJobName" class="text-info font-weight-bold"></label>
                            </div>

                            <div class="col-md-2 col-sm-2 col-xs-4">
                                <label for="">Job level:</label>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-8">
                                <label id="lblLevelName" class="text-info font-weight-bold"></label>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-2 co-sm-2 col-xs-4">
                                <label for="">Assigne date:</label>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-8">
                                <label id="lblAssignDate"></label>
                            </div>
                            <div class="col-md-2 co-sm-2 col-xs-4">
                                <label for="">Deadline:</label>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-8">
                                <label id="lblDeadline"></label>
                            </div>
                        </div>

                        <hr />

                        <div class="row mt-2">
                            <div class="col-md-2 col-sm-2 col-xs-4">
                                <label for="">Intruction:</label>
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-8">
                                <label id="lblIntruction"></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-4">
                                <label for="">Remark:</label>
                            </div>

                            <div class="col-md-10 col-sm-10 col-xs-8">
                                <label id="lblRemark"></label>
                            </div>
                        </div>



                        <div class="panel panel-info mt-2">
                            <div class="panel-heading">Job style info</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                        <label for="">Align:</label>
                                        <div id="divAlign" class="font-weight-bold mt-1"></div>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                        <label for="">Sky:</label>
                                        <div id="divSky" class=" font-weight-bold mt-1"></div>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                        <label for="">Fire:</label>
                                        <div id="divFire" class="font-weight-bold mt-1"></div>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                        <label for="">TV:</label>
                                        <div id="divTV" class=" font-weight-bold mt-1"></div>
                                    </div>
                                </div>
                                <hr/>

                                <div class="row"></div>
                            </div>
                        </div>








                    </div>
                    <div class="panel-footer">
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/common.js"></script>

<script>
    $("#modalTaskDetail").on('shown.bs.modal', function (e) {
        $.ajax({
            url: '/task/detail',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                taskId
            },
            success: function (data) {
                console.log(data);
                $('#lblJobName').text(data.task.job.name);
                $('#lblLevelName').text(data.task.level.name);
                $('#lblAssignDate').text(convertISODateToTimeFormat(data.task.assigned_date));
                $('#lblDeadline').text(convertISODateToTimeFormat(data.task.deadline));
                $('#lblIntruction').text(data.task.job.intruction);
                $('#lblRemark').text(data.task.remark);


                if (data.task.job.customer.is_align) {
                    $('#divAlign').html('<i class="fa fa-check-square-o"></i>  <span class="text-warning">' + data.task.job.customer.align_note+'</span>');
                } else {
                    $('#divAlign').html('<i class="fa fa-square-o"></i>');
                }


                if (data.task.job.customer.has_sky) {
                    $('#divSky').html('<i class="fa fa-check-square-o"></i>   <span class="text-warning">' + data.task.job.customer.sky_note+'</span>');
                } else {
                    $('#divSky').html('<i class="fa fa-square-o"></i>');
                }


                if (data.task.job.customer.has_TV) {
                    $('#divTV').html('<i class="fa fa-check-square-o"></i>   <span class="text-warning">' + data.task.job.customer.TV_note+'</span>');
                } else {
                    $('#divTV').html('<i class="fa fa-square-o"></i>');
                }


                if (data.task.job.customer.has_fire) {
                    $('#divFire').html('<i class="fa fa-check-square-o"></i>   <span class="text-warning">' + data.task.job.customer.fire_note+'</span>');
                } else {
                    $('#divFire').html('<i class="fa fa-square-o"></i>');
                }
            }, error: function (request, status, error) {
                alert(request.responseJSON.msg)
                window.location.href = '/editor/default';
            }
        })
    });
</script>