<div class="modal" tabindex="-1" id="modalTemplate">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold text-info">Add or update job template</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group ">
          <label for="">Name</label>
          <input type="text" name="txtName" id="txtName" class="form-control" placeholder="Job template name" />
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <textarea class="form-control" id="txaDescription" rows="3"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="btnSubmit">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<script>




  $("#btnSubmit").click(function () {
    let name = $("#txtName").val().trim();
    let description = $("#txaDescription").val().trim();

    if (name.trim().length === 0) {
      $.toast({
        heading: 'Error',
        text: `Job template can not be blank!`,
        showHideTransition: 'fade',
        icon: 'warning'
      });
      return;
    }

    if (_id.length > 0) {//case update user type
      $.ajax({
        url: "/admin/template",
        type: "put",
        headers: {
          authorization: "Bearer " + localStorage.getItem("accessToken"),
        },
        data: {
          _id,
          name,
          description
        },
        success: function (data, textStatus, xhr) {
          $.toast({
            heading: 'Successfully!',
            text: data.msg,
            showHideTransition: 'fade',
            icon: 'success'
          });
          $("#modalTemplate").modal("hide");
        },
        error: function (err) {
          $.toast({
            heading: 'Error',
            text: err.responseJSON.msg,
            showHideTransition: 'fade',
            icon: 'error'
          });
        }
      });
    } else {//case create a new customer type
      $.ajax({
        url: "/admin/template",
        type: "post",
        headers: {
          authorization: "Bearer " + localStorage.getItem("accessToken"),
        },
        data: {
          name,
          description
        },
        success: function (data) {
          $.toast({
            heading: 'Successfully!',
            text: data.msg,
            showHideTransition: 'fade',
            icon: 'success'
          });
          $("#modalTemplate").modal("hide");
        },
        error: function (err) {
          $.toast({
            heading: 'Error',
            text: err.responseJSON.msg,
            showHideTransition: 'fade',
            icon: 'error'
          });
        },
      });
    }
  });



  function LoadLevel() {
    $.ajax({
      url: "/admin/staff-level",
      type: "get",
      headers: {
        authorization: "Bearer " + localStorage.getItem('accessToken'),
      },
      success: function (data, textStatus, xhr) {
        $("#slLevel").empty();
        data.levels.forEach((level) => {
          opt = '<option value="' + level._id + '">' + level.name + "</option>";
          $("#slLevel").append(opt);
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.msg);
      },
    });
  }
</script>