<div class="panel panel-primary mt-2">
  <div class="panel-heading font-weight-bold">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    Contract info
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="">Root level:</label>

              <div class="input-group">
                <select name="" id="slRoots" class="form-control"></select>
                <div class="input-group-btn">
                  <div class="checkbox ml-2">
                    <label><input type="checkbox" id="ckbApplyParents">Apply parents</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group" id="divParents" hidden>
              <label for="">Parents level:</label>
              <select name="" id="slParents" class="form-control"></select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <label for="">Price ($):</label>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <input type="text" class="form-control text-right" id="txtPrice" placeholder="Level price" value="0"
              name="price" />
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <button class="btn btn-success" id="btnAddNewLevel">
              <span>
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>

              Add new
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12 table-responsive">
        <table class="table mt-2">
          <thead>
            <tr class="form-row">
              <th scope="col">#</th>
              <th scope="col">Level</th>
              <th scope="col" class="text-right">Price ($)</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id="tblData"></tbody>
        </table>

        <label id="lblMsg" class="text-danger font-weight-bold font-italic mt-2"></label>
      </div>
    </div>
  </div>
</div>




<script>
  $(document).ready(function () {
    LoadRoots();
  });

  $('#ckbApplyParents').change(function () {
    if (this.checked) {
      $('#divParents').slideDown(300);
      LoadParentsByRoot();
    } else {
      $('#divParents').slideUp(200);
    }

  });

  function LoadParentsByRoot(){
    $.ajax({
      url:'/accountant/parents-level',
      type:'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      data:{rootId:$('#slRoots option:selected').val()},
      success:function(data){
        $('#slParents').empty();
        data.parentsList.forEach(p=>{
          let name = p.name + (p.job_levels.length>0?' [ '+(p.job_levels.map(x=>p.name)).toString()+' ]':'');
          console.log(name)
          $('#slParents').append('<option value = "'+p._id+'">'+name+'</option>');
        })

      },
      error: function (jqXHR, textStatus, errorThrown) {
        Swal.fire({
          icon: 'error',
          title: 'Error found',
          text: jqXHR.responseJSON.msg
        });
      }
    })
  }

  function LoadRoots() {
    $.ajax({
      url: '/accountant/root-level',
      type: 'get',
      headers: {
        authorization: "Bearer " + localStorage.getItem("accessToken"),
      },
      success: function (data) {
        console.log(data)
        $('#slRoots').empty();
        data.roots.forEach(root => {
          $('#slRoots').append('<option value="' + root._id + '">' + root.name + '</option>');
        })
      },
      error: function (jqXHR, textStatus, errorThrown) {
        Swal.fire({
          icon: 'error',
          title: 'Error found',
          text: jqXHR.responseJSON.msg
        });
      }
    })
  }


</script>