<div id="divAssign" class="panel panel-primary">
    <div class="panel-heading font-w">
        <div class="row">
            <div class="col-md-11 col-sm-11 col-xs-11">
                Assign Editor & Q.A
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1 text-right">
                <button class="btn btn-xs btn-danger btnCancel">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row mt-3" id="divEditor">
            <div class="col-md-10 col-sm-9 col-xs-8 mt-2">
                <select class="form-control selectpicker" id="slEditor" data-live-search="true"></select>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 mt-2">
                <button class="btn btn-sm btn-success" id="btnAssignEditor">
                    <i class="fa fa-plus"></i> Assign Editor
                </button>
            </div>
            <hr />
        </div>
        <div class="row" id="divQA">
            <div class="col-md-10 col-sm-9 col-xs-8 mt-2">
                <select class="form-control selectpicker" id="slQA" data-live-search="true"></select>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 mt-2">
                <button class="btn btn-sm btn-success" id="btnAssignQA">
                    <i class="fa fa-plus"></i> Assign Q.A
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#btnAssignEditor').on('click', function () {

        $.ajax({
            url: '/tla/task/assign-editor',
            type: 'put',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                taskId,
                levelId,
                staff: $('#slEditor option:selected').val()
            },
            success: function (data) {
                $('#msgError').text(data.msg);
                $('#msgError').show().delay(3000).fadeOut();
                $(".btnCancelAssign").click();
                LoadTasks();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#msgError').text(jqXHR.responseJSON.msg);
                $('#msgError').show().delay(3000).fadeOut();
            },
        })
    })
    $('#btnAssignQA').on('click', function () {

        $.ajax({
            url: '/tla/task/assign-qa',
            type: 'put',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                taskId,
                levelId,
                staff: $('#slQA option:selected').val()
            },
            success: function (data) {
                $('#msgError').text(data.msg);
                $('#msgError').show().delay(3000).fadeOut();
                $(".btnCancelAssign").click();
                LoadTasks();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#msgError').text(jqXHR.responseJSON.msg);
                $('#msgError').show().delay(3000).fadeOut();
            },
        })
    })

    function LoadEditor() {
        $.ajax({
            url: '/tla/user/list-editor',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                levelId
            },
            success: function (data) {
                $('#slEditor').empty();
                $('#slEditorInEditDiv').empty();
                data.editors.forEach(e => {
                    let opt = '<option value="' + e._id + '">' + e.fullname + '</option>';
                    $('#slEditor').append(opt);
                    $('#slEditorInEditDiv').append(opt);
                })
                $('#slEditor').selectpicker();
                $('#slEditorInEditDiv').selectpicker();
                $('#slEditor').selectpicker('refresh');
                $('#slEditorInEditDiv').selectpicker('refresh');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#msgError').text(jqXHR.responseJSON.msg);
            },
        })
    }

    function LoadQA() {
        $.ajax({
            url: '/tla/user/list-qa',
            type: 'get',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                levelId
            },
            success: function (data) {
                $('#slQA').empty();
                $('#slQAInEditDiv').empty();
                data.qas.forEach(q => {
                    let opt = '<option value="' + q._id + '">' + q.fullname + '</option>';
                    $('#slQA').append(opt);
                    $('#slQAInEditDiv').append(opt);
                })
                $('#slQA').selectpicker();
                $('#slQAInEditDiv').selectpicker();
                $('#slQA').selectpicker('refresh');
                $('#slQAInEditDiv').selectpicker('refresh');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#msgError').text(jqXHR.responseJSON.msg);
            },
        })
    }








</script>