<div class="panel panel-primary" id="divEditTask">
    <div class="panel-heading font-w">
        <div class="row">
            <div class="col-md-11 col-sm-11 col-xs-11">
                Edit task
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1 text-right">
                <button class="btn btn-xs btn-danger btnCancel">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="">Job level</label>
                    <select name="" id="slJobLevelsInEditDiv" class="form-control"></select>
                </div>

            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="form-group">
                    <label for="">Assign Date<span class="text-danger font-weight-bold">(*)</span>: </label>
                    <input type="text" class="inputDate form-control" id="txtAssignDateInEditDiv">
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class=" form-group">
                    <label for="">Deadline<span class="text-danger font-weight-bold">(*)</span>:</label>
                    <input type="text" class="inputDate form-control" id="txtDeadlineInEditDiv">
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label for="">Images Link:</label>
                <input type="text" class="form-control" id="txtInputLinkInEditDiv">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <input type="text" name="txtRemark" id="txtRemarkInEditDiv" class="form-control" placeholder="Task remark">
            </div>            
        </div>

        <hr/>
        <div class="row mt-2">
            <div class="form-group mt-2 col-md-6 col-sm-6 col-xs-12" id="colEditor">
                <label for="">Editor:</label>
                <select name="" id="slEditorInEditDiv" class="form-control"></select>
            </div>
            <div class="form-group mt-2 col-md-6 col-sm-6 col-xs-12" id="colQA">
                <label for="">Q.A:</label>
                <select name="" id="slQAInEditDiv" class="form-control"></select>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">
                <label for="" class="font-weight-bold text-danger" id="lblErrorInEditDiv"></label>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <button class="btn btn-success" id="btnSubmitUpdate">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Submit changes
                </button>
            </div>
        </div>


    </div>

</div>

<script>

    $("#btnSubmitUpdate").click(function () {
        let level = $("#slJobLevelsInEditDiv option:selected").val();
        let name = $("#slJobLevelsInEditDiv option:selected").text();

        let assigned_date = strToDate($('#txtAssignDateInEditDiv').val());
        let deadline = strToDate($('#txtDeadlineInEditDiv').val());
        let input_link = $('#txtInputLinkInEditDiv').val();
        let remark = $('#txtRemarkInEditDiv').val();

        // validateion component inputs

        if (isNaN(assigned_date) || assigned_date === null || isNaN(deadline) || deadline == null) {
            $('#lblErrorInEditDiv').text('(*) Assign date or deadline is invalid!');
            $('#lblErrorInEditDiv').show().delay(6000).fadeOut();
            return;
        }


        if (deadline < new Date($.now())) {
            $('#lblErrorInEditDiv').text('(*) deadline must be later than current time!');
            $('#lblErrorInEditDiv').show().delay(3000).fadeOut();
            return;
        }

        if (deadline <= assigned_date) {
            $('#lblErrorInEditDiv').text('(*) deadline must be greater than assign date!');
            $('#lblErrorInEditDiv').show().delay(3000).fadeOut();
            return;
        }

      

        $.ajax({
            url: '/tla/task',
            type: 'put',
            headers: {
                authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
                taskId,
                level,
                assigned_date,
                deadline,
                input_link,
                remark,
                editor: ($('#colEditor').is(":visible"))?$('#slEditorInEditDiv option:selected').val():null,
                qa: ($('#colQA').is(":visible"))?$('#slQAInEditDiv option:selected').val():null
            },
            success: function (data) {
               alert(data.msg);
               $('#divEditTask').slideUp(1000);             
                LoadTasks();              
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#lblErrorInEditDiv').text(`(!) ${jqXHR.responseJSON.msg}`);
                $('#lblErrorInEditDiv').show().delay(3000).fadeOut();
            },
        })
     
    });
</script>