<%-include('child/basic-information')%>
  <%-include('child/style')%>
    <%-include('child/contract')%>

      <div class="row">
        <div class="col-md-9 col-sm-12 col-xs-12 mt-2 text-right">
          <label for="" class="text-danger font-weight-bold" id="lblError"></label>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 text-right mt-2">
          <button class="btn btn-secondary">Cancel</button>
          <button class="btn btn-primary" id="btnSubmit">
            <i class="fa fa-floppy-o"></i>
            Submit
          </button>
        </div>
      </div>

      <script>
        $("#btnSubmit").click(function () {
          let firstname = $("#txtFirstname").val().trim();
          if (firstname.length == 0) {
            $('#lblError').text("Firstname can not be blank");
            $('#lblError').show().delay(5000).fadeOut();
            return;
          }
          let lastname = $("#txtLastname").val().trim();
          if (lastname.length == 0) {
            $('#lblError').text("Lastname can not be blank");
            $('#lblError').show().delay(5000).fadeOut();
            return;
          }

          let email = $("#txtEmail").val().trim();
          if (email.length == 0) {
            $('#lblError').text("Email can not be blank");
            $('#lblError').show().delay(5000).fadeOut();
            return;
          }

          if (!isEmail(email)) {
            $('#lblError').text("Email is not valid");
            $('#lblError').show().delay(5000).fadeOut();
            return;
          }

          let password = $("#txtPassword").val();
          let confirmpassword = $("#txtConfirmPassword").val();
          if (password.length == 0 || confirmpassword.length == 0) {
            $('#lblError').text("Password can not be blank");
            $('#lblError').show().delay(5000).fadeOut();
            return;
          }

          if (password !== confirmpassword) {
            $('#lblError').text("Password and confirm password not match!");
            $('#lblError').show().delay(5000).fadeOut();
            return;
          }

          let phone = $("#txtPhone").val().trim();

          let address = $("#txtAddress").val().trim();        

          let output = $("#slOutput option:selected").val();
          let size = $("#slSize option:selected").val();
          let color = $("#slColorMode option:selected").val();
          let is_align = $("#ckbAlign").is(":checked") ? true : false;

          let align_note = $("#txtAlign").val().trim();
          let cloud = $("#slCloud option:selected").val();
          let nation = $("#slNationalStyle option:selected").val();
          let remark = $("#txtRemark").val().trim();

          let has_TV = $("#ckbTV").is(":checked") ? true : false;
          let TV_note = $("#txtTV").val().trim();
          let has_grass = $("#ckbGrass").is(":checked") ? true : false;
          let grass_note = $("#txtGrass").val().trim();
          let has_sky = $("#ckbSky").is(":checked") ? true : false;
          let sky_note = $("#txtSky").val().trim();
          let has_fire = $("#ckbFire").is(":checked") ? true : false;
          let fire_note = $("#txtFire").val().trim();


          //validate as if option selected
          if(typeof nation === 'undefined'){
            $('#lblError').text("No national style has been selected. Please set national style list first!");
            $('#lblError').show().delay(5000).fadeOut();
            return;
          }

          if(typeof output === 'undefined'){
            $('#lblError').text("No output has been selected. Please set ouput list first!");
            $('#lblError').show().delay(5000).fadeOut();
            return;
          }

         

          if(typeof size === 'undefined'){
            $('#lblError').text("No size has been selected. Please set size list first!");
            $('#lblError').show().delay(5000).fadeOut();
            return;
          }

          if(typeof color === 'undefined'){
            $('#lblError').text("No color mod has been selected. Please set color mode list first!");
            $('#lblError').show().delay(5000).fadeOut();
            return;
          }

          if(typeof cloud === 'undefined'){
            $('#lblError').text("No cloud has been selected. Please set cloud list first!");
            $('#lblError').show().delay(5000).fadeOut();
            return;
          }
        
        





          let levels = [];

          $("table > tbody  > tr").each(function (index, tr) {
            let level = tr["id"];
            let price = parseFloat($(this).find("td").eq(2).text());
            let item = { level, price };
            levels.push(item);
          });

          if (levels.length == 0) {
            $('#lblError').text("Job levels list can not be empty!");
            $('#lblError').show().delay(5000).fadeOut();
          }

          $.ajax({
            url: "/admin/customer",
            type: "post",
            headers: {
              authorization: "Bearer " + localStorage.getItem("accessToken"),
            },
            data: {
              firstname,
              lastname,
              email,
              password,
              phone,
              address,             
              output,
              size,
              color,
              is_align,
              align_note,
              cloud,
              nation,
              remark,
              has_TV,
              TV_note,
              has_grass,
              grass_note,
              has_sky,
              sky_note,
              has_fire,
              fire_note,
              levels,
            },
            success: function (data, textStatus, xhr) {
              alert(data.msg);
              $(location).attr("href", data.url);
            },
            error: function (jqXHR, textStatus, errorThrown) {
              $('#lblError').text(jqXHR.responseJSON.msg);
              $('#lblError').show().delay(5000).fadeOut();

            },
          });
        });

        //delete level
        $(document).on("click", "button[name='delete']", function () {
          levelId = $(this).closest("tr").attr("id");
          $("#" + levelId).remove();
          $('#lblMsg').hide();
        });
      </script>

      <!-- phần liên quan tới hợp đồng job level -->
      <script>
        var idx = 1;



        $("#btnAddNewLevel").click(function () {
          let levelId = $("#slLevel option:selected").val();
          let levelName = $("#slLevel option:selected").text();
          let price = $("#txtPrice").val();
          if (price <= 0) {

            $('#lblMsg').text("(*) Price is not accepted!");
            $('#lblMsg').show().delay(3000).fadeOut();

            return;
          }

          //duyệt table xem đã tồn tại level được chọn hay chưa
          //nếu đã tồn tại thì không cho thêm
          let exist = false;
          $("table > tbody  > tr").each(function (index, tr) {
            let id = tr["id"];
            if (levelId === id) {
              $('#lblMsg').text("(*) This level already exist!");
              $('#lblMsg').show().delay(3000).fadeOut();
              exist = true;
              return;
            }
          });

          if (!exist) {
            let tr = '<tr id ="' + levelId + '">';
            tr += '<td >' + idx++ + "</td>";
            tr += '<td class="font-weight-bold text-info">' + levelName + "</td>";
            tr +=
              '<td class="text-right text-danger font-weight-bold">' +
              price +
              "</td>";
            tr += '<td class="text-right"><button class="btn btn-xs btn-danger ml-2" name="delete"><i class="fa fa-trash" aria-hidden="true"></i></button></td>';
            tr += "</tr>";

            $("#tblData").append(tr);
            $('#txtPrice').val(0);
          }

        });


        function isEmail(email) {
          var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          return regex.test(email);
        }
      </script>