<div class="row">
  <div class="col-md-12 text-right">
    <h4 class="text-info">Create a new customer</h4>
  </div>
</div>

<%-include('child/basic-information')%> <%-include('child/style')%>
<%-include('child/contract')%>

<div class="row mt-2">
  <div class="col-md-12 text-right">
    <button class="btn btn-secondary">Cancel</button>

    <button class="btn btn-success">Submit</button>
  </div>
</div>
