<div class="modal" tabindex="-1" id="modalCustomerDetail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-info">Customer detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    class="btn btn-sm btn-danger">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="panel panel-info">
                    <div class="panel-heading text-info">Basic information</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-1 col-sm-2 col-xs-3">
                                <label>Fullname:</label>
                            </div>
                            <div class="form-group col-md-5 col-sm-4 col-xs-9">
                                <label id="fullname" class="text-info font-weight-bold"></label>
                            </div>

                            <div class="form-group col-md-1 col-sm-2 col-xs-3">
                                <label>Phone:</label>
                            </div>
                            <div class="form-group col-md-5 col-sm-4 col-xs-9">
                                <label id="phone" class="text-info font-weight-bold"></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-1 col-sm-2 col-xs-3">
                                <label>Email:</label>
                            </div>
                            <div class="form-group col-md-5 col-sm-4 col-xs-9">
                                <label id="email" class="text-info font-weight-bold"></label>
                            </div>

                            <div class="form-group col-md-1 col-sm-2 col-xs-3">
                                <label>Address:</label>
                            </div>
                            <div class="form-group col-md-5 col-sm-4 col-xs-9">
                                <label id="address" class="text-info font-weight-bold"></label>
                            </div>
                        </div>
                        
                    </div>
                </div>





                <div class="panel panel-info bg-dark text-white mt-2">
                    <div class="panel-heading">Style list</div>
                    <div class="panel-body">

                        <label class="text-info col-md-3 col-sm-4 col-xs-4">National style</label>
                        <label id="national_style"
                            class="text-warning font-weight-bold col-md-3 col-sm-8 col-xs-8"></label>


                        <label class="text-info col-md-3 col-sm-4 col-xs-4">Output</label>
                        <label id="output" class="text-warning font-weight-bold col-md-3 col-sm-8 col-xs-8"></label>

                        <label class="text-info col-md-3 col-sm-4 col-xs-4">Size</label>
                        <label id="size" class="text-warning font-weight-bold col-md-3 col-sm-8 col-xs-8"></label>

                        <label class="text-info col-md-3 col-sm-4 col-xs-4">Color mode</label>
                        <label id="color_mode" class="text-warning font-weight-bold col-md-3 col-sm-8 col-xs-8"></label>

                        <label class="text-info col-md-3 col-sm-4 col-xs-4">Align</label>
                        <label id="align" class="text-warning font-weight-bold col-md-3 col-sm-8 col-xs-8"></label>


                        <label class="text-info col-md-3 col-sm-4 col-xs-4">Cloud</label>
                        <label id="cloud" class="text-warning font-weight-bold col-md-3 col-sm-8 col-xs-8"></label>



                        <label class="text-info col-md-3 col-sm-4 col-xs-4">Remark</label>
                        <label id="remark" class="text-warning font-weight-bold col-md-3 col-sm-8 col-xs-8"></label>



                    </div>
                </div>

                <div class="panel panel-danger bg-dark text-white mt-2">
                    <div class="panel-heading">Special requests</div>

                    <div class="panel-body">

                        <label class="col-md-2 col-sm-2 col-xs-2 text-info ">TV</label>
                        <label id="tv" class="col-md-4 col-sm-4 col-xs-10 text-success">XX</label>
                        

                        <label class="col-md-2 col-sm-2 col-xs-2 text-info ">Grass</label>
                        <label id="grass" class="col-md-4 col-sm-4 col-xs-10 text-danger">XX</label>

                        <label class="col-md-2 col-sm-2 col-xs-2 text-info ">Sky</label>
                        <label id="sky" class="col-md-4  col-sm-4 col-xs-10 text-danger">XX</label>

                        <label class="col-md-2 col-sm-2 col-xs-2 text-info ">Fire</label>
                        <label id="fire" class="col-md-4 col-sm-4 col-xs-10 text-danger">XX</label>

                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Contract info
                    </div>
                    <div class="panel-body">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Level name</th>
                                    <th scope="col" class="text-right">Price($)</th>
                                </tr>
                            </thead>
                            <tbody id="tblLevelList">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>